{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initradiusl-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/lTimes/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/lTimes/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Circular Velocity calculator | Free Calculator to find Circular Velocity</title>
<meta name="description"
    content="Circular Velocity calculator makes it easy for you to find Circular Velocity." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Circular Velocity calculator | Free Calculator to find Circular Velocity" />
<meta property="og:description" content="Circular Velocity calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/circular-velocity-calculator
.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Circular Velocity calculator | Free Calculator to find Circular Velocity" />
<meta name="twitter:description"
    content="Circular Velocity calculator" />
<meta name="twitter:image:src"

    content="https://onlinecalculator.guru/static/images/Chemistry/circular-velocity-calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Circular Velocity calculator</tittle>
<meta property='og:title' content="Circular Velocity calculatorr | Circular Velocity" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/circular-velocity-calculator
.jpeg" />
<meta property='og:description' content="Circular Velocity calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1"> Circular Velocity Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Choose a Calculation</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Find Circular velocity | Given Radius and  Time period  </option>
                            {% else %}
                            <option value="form1"> Find Circular velocity | Given Radius and  Time period </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> Find Radius | Given Circular velocity and Time period  </option>
                            {% else %}
                            <option value="form2">Find Radius | Given Circular velocity and Time period </option>
                            {% endif %}

                            {% if given_data == 'form3' %}
                            <option value="form3" selected="selected"> Find Time period| Given Circular velocity and Radius
                            </option>
                            {% else %}
                            <option value="form3"> Find Time period| Given Circular velocity and Radius  </option>
                            {% endif %}
                </select>
                    </div>


                    {% if given_data != "form3" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Time period </strong></div>
                        </div>
                        <input type="number" min="0.00000001" step="0.00000001"  oninput="validateNumber(this);" id="Time" required=""
                            placeholder="Enter number"  class="form-control mt-1" name="Time" {% if Time %} value="{{Time1}}" {% else %} value="6" {% endif %}>


                        <select class="select form-control mt-1" id="Time_op" name="Time_op">

                          {% if Time_op == 's' %}
                            <option value="s" selected="selected">seconds(s)</option>
                            {% else %}
                            <option value="s">seconds(s)</option>
                            {% endif %}

                            {% if Time_op == 'ms' %}
                            <option value="ms" selected="selected">Milliseconds(ms)</option>
                            {% else %}
                            <option value="ms">Milliseconds(ms)</option>
                            {% endif %}

                            {% if Time_op == 'µs' %}
                            <option value="µs" selected="selected">Microseconds(µs)</option>
                            {% else %}
                            <option value="µs">Microseconds(µs)</option>
                            {% endif %}
                            
                            {% if Time_op == 'ns' %}
                            <option value="ns" selected="selected">nanosecond(ns)</option>
                            {% else %}
                            <option value="ns">nanosecond(ns)</option>
                            {% endif %}

                            
                            {% if Time_op == 'min' %}
                            <option value="min" selected="selected">minutes</option>
                            {% else %}
                            <option value="min">minutes</option>
                            {% endif %}

                            
                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form2" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Radius</strong></div>
                        </div>
                        <input type="number" min="0.00000001" step="0.00000001" oninput="validateNumber(this);" id="radius" required=""
                            placeholder="Enter number"  class="form-control mt-1" name="radius" {% if radius1 %} value="{{radius1}}" {% else %} value="10" {% endif %}>


                        <select class="select form-control mt-1" id="radius_op" name="radius_op">

                            {% if radius_op == 'm' %}
                            <option value="m" selected="selected">meter(m)</option>
                            {% else %}
                            <option value="m">meter(m)</option>
                            {% endif %}

                            {% if radius_op == 'cm' %}
                            <option value="cm" selected="selected">centimeter(cm)</option>
                            {% else %}
                            <option value="cm">centimeter(cm)</option>
                            {% endif %}


                            {% if radius_op == 'mm' %}
                            <option value="mm" selected="selected">milliMeter(mm)</option>
                            {% else %}
                            <option value="mm">milliMeter(mm)</option>
                            {% endif %}

                            
                            {% if radius_op == 'km' %}
                            <option value="km" selected="selected">Kilometer(km)</option>
                            {% else %}
                            <option value="km">Kilometer(km)</option>
                            {% endif %}

                            
                            {% if radius_op == 'ft' %}
                            <option value="ft" selected="selected">feet(ft)</option>
                            {% else %}
                            <option value="ft">feet(ft)</option>
                            {% endif %}

                            {% if radius_op == 'in' %}
                            <option value="in" selected="selected">inch(in)</option>
                            {% else %}
                            <option value="in">inch(in)</option>
                            {% endif %}

          
                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form1" %}

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Circular velocity  </strong></div>
                        </div>
                        <input type="number" min="0.00000001" step="0.00000001" oninput="validateNumber(this);" id="vel" required=""
                           placeholder="Enter number"  class="form-control mt-1" name="vel" {% if vel %} value="{{vel1}}" {% else %} value="7" {% endif %}>

                        <select class="select form-control mt-1" id="vel_op" name="vel_op">
                                                      
                            {% if vel_op == 'm/s' %}
                            <option value="m/s" selected="selected">meter/second(m/s)</option>
                            {% else %}
                            <option value="m/s">meter/second(m/s)</option>
                            {% endif %}
                            
                            {% if vel_op == 'ft/s' %}
                            <option value="ft/s" selected="selected">feet/second(ft/s)</option>
                            {% else %}
                            <option value="ft/s">feet/second(ft/s)</option>
                            {% endif %}


                            {% if vel_op == 'km/hr' %}
                             <option value="km/hr">Kilometer/hour(km/hr)</option>
                            {% else %}
                            <option value="km/hr">Kilometer/hour(km/hr)</option>
                            {% endif %}
                            
                            {% if vel_op == 'mph' %}
                            <option value="mph" selected="selected">Miles per hour(mph)</option>
                            {% else %}
                            <option value="mph">Miles per hour(mph)</option>
                            {% endif %}


                        </select>

                    </div>

                    {% endif %}


                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if given_data == "form1" and vel %}
    <div class="card" id="magnetic-Radius">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Circular velocity</h2>
        </div>

        <div class="card-body">

            <strong>Circular Velocity formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active"> v = 2 * Π* r / T  </p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>v is the Circular velocity </li>
                        <li>r is the Radius</li>
                        <li>T is the Time period</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p>Radius = {{radius1}} {{radius_op}} </p>
            <p>Time period = {{Time1}} {{Time_op}}</p>
        
           
            {% if radius_op != 'm' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Radius  {{radius1}}<b><i>"{{radius_op}}"</i></b> to
                    <b><i>"m"</i></b></b>
                </summary>
                <p>Converting Radius  ={{radius1}} {{radius_c|safe}}</p>
                <p>Radius ={{radius|safe}} m </p>
            </details>
            {% endif %}

            {% if Time_op != 's' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Time period  {{Time1}}<b><i>"{{Time_op}}"</i></b> to
                    <b><i>"s"</i></b></b>
                </summary>
                <p>Converting Time period  ={{Time1}} {{Time_c|safe}}</p>
                <p>Time period ={{Time|safe}} s </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p> v = 2 * Π* r / T </p>
            <p> v = 2 * Π* {{radius|safe}} / ( {{Time|safe}} ) </p>
            <p> Circular velocity = {{vel|safe}}  m/s</p>


        </div>

    </div>
    {% endif %}

    

    {% if given_data == "form2" and radius %}
    <div class="card" id="magnetic-Radius">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Radius</h2>
        </div>

        <div class="card-body">

            <strong>Circular Velocity formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active"> v = 2 * Π* r / T  </p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>v is the Circular velocity </li>
                        <li>r is the Radius</li>
                        <li>T is the Time period</li>
                    </ul>


            <strong>Input values are:-</strong>
            <p>Circular velocity = {{vel1}} {{vel_op}} </p>
            <p>Time period = {{Time1}} {{Time_op}}</p>
        
           
            {% if vel_op != 'm/s' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Circular velocity  {{vel1}}<b><i>"{{vel_op}}"</i></b> to
                    <b><i>"m/s"</i></b></b>
                </summary>
                <p>Circular velocity in ={{vel1}} {{vel_c|safe}}</p>
                <p>Circular velocity ={{vel|safe}} m/s </p>
            </details>
            {% endif %}

            {% if Time_op != 's' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Time period  {{Time1}}<b><i>"{{Time_op}}"</i></b> to
                    <b><i>"s"</i></b></b>
                </summary>
                <p>Time period  ={{Time1}} {{Time_c|safe}}</p>
                <p>Time period ={{Time|safe}} s </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p>  v = 2 * Π* r / T  </p>
            <p>  r = v * T /( 2 * Π)</p>
            <p>  r = {{vel|safe}} *{{Time|safe}}/( 2 * Π) </p>
            <p> Radius = {{radius|safe}} m</p>
           
        </div>

    </div>
    {% endif %}




    {% if given_data == "form3" and Time %}
    <div class="card" id="magnetic-Radius">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Time period</h2>
        </div>

        <div class="card-body">

            <strong>Circular Velocity formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active"> v = 2 * Π* r / T  </p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>v is the Circular velocity </li>
                        <li>r is the Radius</li>
                        <li>T is the Time period</li>
                    </ul>


            <strong>Input values are:-</strong>
            <p>Circular velocity = {{vel1}} {{vel_op}} </p>
            <p>Radius = {{radius1}} {{radius_op}}</p>
        
           
            {% if vel_op != 'm/s' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Circular velocity  {{vel1}}<b><i>"{{vel_op}}"</i></b> to
                    <b><i>"m/s"</i></b></b>
                </summary>
                <p>Converting Circular velocity  ={{vel1}} {{vel_c|safe}}</p>
                <p>Circular velocity ={{vel|safe}} m/s </p>
            </details>
            {% endif %}

              {% if radius_op != 'm' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Radius  {{radius1}}<b><i>"{{radius_op}}"</i></b> to
                    <b><i>"m"</i></b></b>
                </summary>
                <p>Converting Radius  ={{radius1}} {{radius_c|safe}}</p>
                <p>Radius ={{radius|safe}} m </p>
            </details>
            {% endif %}

           

            <strong>Put values into formula</strong>
            <p>v = 2 * Π* r / T</p>
            <p>T =  2 * Π* r / v </p>
            <p>T = 2 * Π *{{radius|safe}}/({{vel|safe}})  </p>
            <p> Time period = {{Time|safe}} s</p>
            
        </div>

    </div>
    {% endif %}




</div>



<script>
    
{% if id == 1 %}
 
var scrollDiv = document.getElementById("clear").offsetTop;
console.log(scrollDiv)
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}

    

</script>

<script>
    function myFunction() {

            document.getElementById("clear").innerHTML = "";
            
            {% if given_data != 'form2' %}    
            document.getElementById("radius").value = "";
            document.getElementById("radius_op").value="m";
            {%endif%}
            
            {% if given_data != 'form3' %}
            document.getElementById("Time").value = "";
            document.getElementById("Time_op").value="s";
            {%endif%}

            {% if given_data != 'form1' %}
            document.getElementById("vel").value=""
            document.getElementById("vel_op").value="m/s";
            {% endif %}
    
    }
</script>
<br>

{% endblock %}