{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initweightl-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/lETs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/lETs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Engine Horsepower   calculator | Free Calculator to find Engine Horsepower  </title>
<meta name="description"
    content="Engine Horsepower   calculator makes it easy for you to find Engine Horsepower  ." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Engine Horsepower   calculator | Free Calculator to find Engine Horsepower  " />
<meta property="og:description" content="Engine Horsepower   calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/engine-horsepower-calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Engine Horsepower   calculator | Free Calculator to find Engine Horsepower  " />
<meta name="twitter:description"
    content="Engine Horsepower   calculator" />
<meta name="twitter:image:src"

    content="https://onlinecalculator.guru/static/images/Chemistry/engine-horsepower-calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Engine Horsepower   calculator</tittle>
<meta property='og:title' content="Engine Horsepower   calculatorr | Engine Horsepower  " />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/circular-hpocity-calculator
.jpeg" />
<meta property='og:description' content="Engine Horsepower   calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1"> Engine Horsepower Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Choose a Calculation</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Find Engine Horsepower | Given vehicle weight and  ET (elapsed time  to finish a quarter mile 402.3 meters)   </option>
                            {% else %}
                            <option value="form1"> Find Engine Horsepower   | Given vehicle weight and  ET(elapsed time  to finish a quarter mile 402.3 meters)  </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> Find vehicle weight | Given Engine Horsepower   and ET(elapsed time  to finish a quarter mile 402.3 meters)   </option>
                            {% else %}
                            <option value="form2">Find vehicle weight | Given Engine Horsepower and ET (elapsed time  to finish a quarter mile 402.3 meters)  </option>
                            {% endif %}

                            {% if given_data == 'form3' %}
                            <option value="form3" selected="selected"> Find ET (elapsed time  to finish a quarter mile 402.3 meters) | Given vehicle weight and Engine Horsepower
                            </option>
                            {% else %}
                            <option value="form3"> Find ET(elapsed time to finish a quarter mile 402.3 meters) | Given vehicle weight and Engine Horsepower </option>
                            {% endif %}
                </select>
                    </div>


                    {% if given_data != "form3" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>ET</strong></div>
                        </div>
                        <input type="number" min="0.0000001" step="0.0000001"  oninput="validateNumber(this);" id="ET" required=""
                            placeholder="Enter number"  class="form-control mt-1" name="ET" {% if ET %} value="{{ET1}}" {% else %} value="6" {% endif %}>


                        <select class="select form-control mt-1" id="ET_op" name="ET_op">

                          {% if ET_op == 's' %}
                            <option value="s" selected="selected">seconds(s)</option>
                            {% else %}
                            <option value="s">seconds(s)</option>
                            {% endif %}

                            {% if ET_op == 'ms' %}
                            <option value="ms" selected="selected">Milliseconds(ms)</option>
                            {% else %}
                            <option value="ms">Milliseconds(ms)</option>
                            {% endif %}
                            
                            {% if ET_op == 'min' %}
                            <option value="min" selected="selected">minutes</option>
                            {% else %}
                            <option value="min">minutes</option>
                            {% endif %}

                            {% if ET_op == 'hr' %}
                            <option value="hr" selected="selected">Hour</option>
                            {% else %}
                            <option value="hr">Hour</option>
                            {% endif %}

                            {% if ET_op == 'day' %}
                            <option value="day" selected="selected">day</option>
                            {% else %}
                            <option value="day">day</option>
                            {% endif %}
                            
                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form2" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Vehicle weight</strong></div>
                        </div>
                        <input type="number" min="0.0000001" step="0.0000001" oninput="validateNumber(this);" id="weight" required=""
                            placeholder="Enter number"  class="form-control mt-1" name="weight" {% if weight1 %} value="{{weight1}}" {% else %} value="10" {% endif %}>


                        <select class="select form-control mt-1" id="weight_op" name="weight_op">
                           
                           
                            
                            {% if weight_op == 'lb' %}
                            <option value="lb" selected="selected">Pounds</option>
                            {% else %}
                            <option value="lb">Pounds</option>
                            {% endif %}

                            {% if weight_op == 'kg' %}
                            <option value="kg" selected="selected">Kilogram(kg)</option>
                            {% else %}
                            <option value="kg">Kilogram(kg)</option>
                            {% endif %}

                            
                            {% if weight_op == 't' %}
                            <option value="t" selected="selected">Ton</option>
                            {% else %}
                            <option value="t">Ton</option>
                            {% endif %}


                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form1" %}

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Engine Horsepower </strong></div>
                        </div>
                        <input type="number" min="0.0000001" step="0.0000001" oninput="validateNumber(this);" id="hp" required=""
                           placeholder="Enter number"  class="form-control mt-1" name="hp" {% if hp %} value="{{hp1}}" {% else %} value="7" {% endif %}>

                        <select class="select form-control mt-1" id="hp_op" name="hp_op">
                                                      
                            {% if hp_op == 'hp' %}
                            <option value="hp" selected="selected">Horsepower(hp)</option>
                            {% else %}
                            <option value="hp">Horsepower(hp)</option>
                            {% endif %}

                                    
                            {% if hp_op == 'watt' %}
                            <option value="watt" selected="selected">Watt(w)</option>
                            {% else %}
                            <option value="watt">Watt(w)</option>
                            {% endif %}


                        </select>

                    </div>

                    {% endif %}


                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if given_data == "form1" and hp %}
    <div class="card" id="magnetic-weight">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Engine Horsepower  </h2>
        </div>

        <div class="card-body">

            <strong>Engine Horsepower   formula-</strong>
            <br>
            
            <p class="btn btn-outline-secondary active"> Horsepower = Weight/(ET/5.825)<sup>3</sup>  </p>
            <br>
           <strong>where:</strong>
                    <ul>
                      <li>Weight is the weight of the vehicle</li>
            <li>ET is the elapsed time  to finish a quarter mile 402.3 meters</li>

                    </ul>

            <strong>Input values are:-</strong>
            <p>weight = {{weight1}} {{weight_op}} </p>
            <p>ET  = {{ET1}} {{ET_op}}</p>
        
           
            {% if weight_op != 'lb' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the weight  {{weight1}}<b><i>"{{weight_op}}"</i></b> to
                    <b><i>"lb"</i></b></b>
                </summary>
                <p>Converting weight  ={{weight1}} {{weight_c|safe}}</p>
                <p>weight ={{weight|safe}} lb </p>
            </details>
            {% endif %}

            {% if ET_op != 's' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the ET   {{ET1}}<b><i>"{{ET_op}}"</i></b> to
                    <b><i>"s"</i></b></b>
                </summary>
                <p>Converting ET   ={{ET1}} {{ET_c|safe}}</p>
                <p>ET  ={{ET|safe}} s </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p> Horsepower = Weight/(ET/5.825)<sup>3</sup> </p>
            <p> Horsepower = {{weight|safe}}/({{ET|safe}}/5.825)<sup>3</sup> </p>
            <p> Engine Horsepower   = {{hp|safe}}  hp </p>


        </div>

    </div>
    {% endif %}

    

    {% if given_data == "form2" and weight %}
    <div class="card" id="magnetic-weight">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate weight</h2>
        </div>

        <div class="card-body">

            <strong>Engine Horsepower formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active"> Horsepower = Weight/(ET/5.825)<sup>3</sup>  </p>
            <br>
            <strong>where:</strong>
                    <ul>
                      <li>Weight is the weight of the vehicle</li>
            <li>ET is the elapsed time  to finish a quarter mile 402.3 meters</li>

                    </ul>


            <strong>Input values are:-</strong>
            <p>Engine Horsepower   = {{hp1}} {{hp_op}} </p>
            <p>ET  = {{ET1}} {{ET_op}}</p>
        
           
            {% if hp_op != 'hp' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Engine Horsepower    {{hp1}}<b><i>"{{hp_op}}"</i></b> to
                    <b><i>"hp"</i></b></b>
                </summary>
                <p>Converting Engine Horsepower   ={{hp1}} {{hp_c|safe}}</p>
                <p>Engine Horsepower   ={{hp|safe}} hp </p>
            </details>
            {% endif %}

            {% if ET_op != 's' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the ET   {{ET1}}<b><i>"{{ET_op}}"</i></b> to
                    <b><i>"s"</i></b></b>
                </summary>
                <p>ET   ={{ET1}} {{ET_c|safe}}</p>
                <p>ET  ={{ET|safe}} s </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p>  Horsepower = Weight/(ET/5.825)<sup>3</sup>  </p>
            <p>  Weight = Horsepower * (ET/5.825)<sup>3</sup> </p>
            <p>  Weight = {{hp|safe}} * ( {{ET|safe}} /5.825 )<sup>3</sup> </p>
            <p>  Weight = {{weight|safe}} Pounds </p>
           
        </div>

    </div>
    {% endif %}




    {% if given_data == "form3" and ET %}
    <div class="card" id="magnetic-weight">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate ET </h2>
        </div>

        <div class="card-body">

            <strong>Engine Horsepower formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active"> Horsepower = Weight/(ET/5.825)<sup>3</sup>  </p>
            <br>
            <strong>where:</strong>
                    <ul>
                      <li>Weight is the weight of the vehicle</li>
            <li>ET is the elapsed time  to finish a quarter mile 402.3 meters</li>

                    </ul>


            <strong>Input values are:-</strong>
            <p>Engine Horsepower   = {{hp1}} {{hp_op}} </p>
            <p>weight = {{weight1}} {{weight_op}}</p>
        
           
            {% if hp_op != 'hp' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Engine Horsepower    {{hp1}}<b><i>"{{hp_op}}"</i></b> to
                    <b><i>"hp"</i></b></b>
                </summary>
                <p>Converting Engine Horsepower    ={{hp1}} {{hp_c|safe}}</p>
                <p>Engine Horsepower   ={{hp|safe}} hp </p>
            </details>
            {% endif %}

              {% if weight_op != 'lb' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the weight  {{weight1}}<b><i>"{{weight_op}}"</i></b> to
                    <b><i>"lb"</i></b></b>
                </summary>
                <p>Converting weight  ={{weight1}} {{weight_c|safe}}</p>
                <p>weight ={{weight|safe}} lb </p>
            </details>
            {% endif %}

           

            <strong>Put values into formula</strong>
            <p>Horsepower = Weight/(ET/5.825)<sup>3</sup></p>
            <p>ET = 5.825 * (weight/hp)<sup>1/3</sup></p>
            <p>ET = 5.825 * ({{weight|safe}}/({{hp|safe}}))<sup>1/3</sup> </p>
            <p> ET  = {{ET|safe}} s</p>
            
        </div>

    </div>
    {% endif %}




</div>



<script>
    
{% if id == 1 %}
 
var scrollDiv = document.getElementById("clear").offsetTop;
console.log(scrollDiv)
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}

    

</script>

<script>
    function myFunction() {

            document.getElementById("clear").innerHTML = "";
            
            {% if given_data != 'form2' %}    
            document.getElementById("weight").value = "";
            document.getElementById("weight_op").value="lb";
            {%endif%}
            
            {% if given_data != 'form3' %}
            document.getElementById("ET").value = "";
            document.getElementById("ET_op").value="s";
            {%endif%}

            {% if given_data != 'form1' %}
            document.getElementById("hp").value=""
            document.getElementById("hp_op").value="hp";
            {% endif %}
    
    }
</script>
<br>

{% endblock %}