{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initweightl-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/lETs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/lETs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Equivalent Resistance calculator | Free Calculator to find Equivalent Resistance  </title>
<meta name="description"
    content="Equivalent Resistance   calculator makes it easy for you to find Equivalent Resistance  ." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Equivalent Resistance   calculator | Free Calculator to find Equivalent Resistance  " />
<meta property="og:description" content="Equivalent Resistance   calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/equivalent-resistance-calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Equivalent Resistance   calculator | Free Calculator to find Equivalent Resistance  " />
<meta name="twitter:description"
    content="Equivalent Resistance   calculator" />
<meta name="twitter:image:src"

    content="https://onlinecalculator.guru/static/images/Chemistry/equivalent-resistance-calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Equivalent Resistance   calculator</tittle>
<meta property='og:title' content="Equivalent Resistance   calculatorr | Equivalent Resistance  " />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/equivalent-resistance-calculator
.jpeg" />
<meta property='og:description' content="Equivalent Resistance   calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1"> Equivalent Resistance Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Choose Connection Type</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                             autofocus="">

                            {% if given_data == 'series' %}
                            <option value="series" selected="selected"> Series Connection  </option>
                            {% else %}
                            <option value="series"> Series Connection  </option>
                            {% endif %}

                            {% if given_data == 'parallel' %}
                            <option value="parallel" selected="selected"> Parallel Connection </option>
                            {% else %}
                            <option value="parallel">Parallel Connection </option>
                            {% endif %}

                </select>
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Number of Resistance</strong></div>
                        </div>
                        <select name="resistance" id="inlineFormInputGroup" class="form-control"
                           onchange="this.form.submit();"  autofocus="">

                            {% if resistance == "2" %}
                            <option value="2" selected="selected"> 2  </option>
                            {% else %}
                            <option value="2"> 2  </option>
                            {% endif %}

                            {% if resistance == "3" %}
                            <option value="3" selected="selected"> 3  </option>
                            {% else %}
                            <option value="3"> 3  </option>
                            {% endif %}

                            
                            {% if resistance == "4" %}
                            <option value="4" selected="selected"> 4  </option>
                            {% else %}
                            <option value="4"> 4  </option>
                            {% endif %}
                            
                            {% if resistance == "5" %}
                            <option value="5" selected="selected"> 5 </option>
                            {% else %}
                            <option value="5"> 5  </option>
                            {% endif %}
                            
                            {% if resistance == "6" %}
                            <option value="6" selected="selected"> 6  </option>
                            {% else %}
                            <option value="6"> 6  </option>
                            {% endif %}

                            {% if resistance == "7" %}
                            <option value="7" selected="selected"> 7  </option>
                            {% else %}
                            <option value="7"> 7  </option>
                            {% endif %}
                            
                            {% if resistance == "8" %}
                            <option value="8" selected="selected"> 8  </option>
                            {% else %}
                            <option value="8"> 8  </option>
                            {% endif %}


                </select>
                    </div>



                    {% if id == 1 %}
                    {% for name,unit,number  in data %}
                    <div class="input-group mb-2">

                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Resistance{{number}}</strong></div>
                        </div>
                        <input type="number" min="0.0000001" step="0.0000001"  oninput="validateNumber(this);" id="{{name}}" required=""
                            placeholder="Enter Resistance{{number}}"  class="form-control mt-1" name="{{name}}" value="10"  >


                        <select class="select form-control mt-1" id="{{unit}}" name="{{unit}}">

                           {% if unit == 'Ω' %}
                            <option value="Ω" selected="selected">Ohm(Ω)</option>
                            {% else %}
                            <option value="Ω">Ohm(Ω)</option>
                            {% endif %}

                            {% if unit == 'mΩ' %}
                            <option value="mΩ" selected="selected">milli ohm(mΩ)</option>
                            {% else %}
                            <option value="mΩ">milli ohm(mΩ)</option>
                            {% endif %}


                            {% if unit == 'kΩ' %}
                            <option value="kΩ" selected="selected">Kilo Ohm(kΩ)</option>
                            {% else %}
                            <option value="kΩ">Kilo Ohm(kΩ)</option>
                            {% endif %}

                            
                            
                            {% if unit == 'MΩ' %}
                            <option value="MΩ" selected="selected">Mega Ohm(MΩ)</option>
                            {% else %}
                            <option value="MΩ">Mega Ohm(MΩ)</option>
                            {% endif %}
                    

                        </select>

                    </div>

                    {%endfor%}

                    {% else %}
                    {% for name,unit,number,input,con in dataIn %}
                    <div class="input-group mb-2">

                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Resistance{{number}}</strong></div>
                        </div>
                        <input type="number" min="0.0000001" step="0.0000001"  oninput="validateNumber(this);" id="{{name}}" required=""
                            placeholder="Enter Resistance{{number}}"  class="form-control mt-1" name="{{name}}" value="{{input}}"  >


                        <select class="select form-control mt-1" id="{{unit}}" name="{{unit}}">

                           {% if con == 'Ω' %}
                            <option value="Ω" selected="selected">Ohm(Ω)</option>
                            {% else %}
                            <option value="Ω">Ohm(Ω)</option>
                            {% endif %}

                            {% if con == 'mΩ' %}
                            <option value="mΩ" selected="selected">milli ohm(mΩ)</option>
                            {% else %}
                            <option value="mΩ">milli ohm(mΩ)</option>
                            {% endif %}


                            {% if con == 'kΩ' %}
                            <option value="kΩ" selected="selected">Kilo Ohm(kΩ)</option>
                            {% else %}
                            <option value="kΩ">Kilo Ohm(kΩ)</option>
                            {% endif %}

                            
                            
                            {% if con == 'MΩ' %}
                            <option value="MΩ" selected="selected">Mega Ohm(MΩ)</option>
                            {% else %}
                            <option value="MΩ">Mega Ohm(MΩ)</option>
                            {% endif %}
                    

                        </select>

                    </div>

                    {%endfor%}
                    {% endif %}
                    




                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if id == 2 %}
    <div class="card" id="magnetic-weight">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Equivalent Resistance  </h2>
        </div>

        <div class="card-body">

            <br>
            {% if given_data == "series" %}
            <p><b>Resistance in series formula</b></p>
            <p class="btn btn-outline-secondary active"> R<sub>eq</sub>=R1+R2+R3+… +RN  </p>
            <br>
            {% else %}
            <p><b>Resistance in Parallel formula</b></p>
            <p class="btn btn-outline-secondary active">1/R<sub>eq</sub> = 1/R1 + 1/R2 + 1/R3 + … +1/RN  </p>
            <br>
            {%endif%}

           <strong>where:</strong>
                    <ul>
                      <li>R<sub>eq</sub> is the equivalent resistance </li>
                       <li>R1,R2,R3,… RN are the input resistances </li>
                    </ul>

            <strong>Input values are:-</strong>
            {% for name,input,unit in data2 %}
            <p>{{name}} = {{input}} {{unit}} </p>
            {%endfor%}
 

            {% for i,j,k,p,q in data3 %}          
            {% if p != 'Ω' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the {{i}}     {{j}}<b><i>"{{p}}"</i></b> to
                    <b><i>"Ω"</i></b></b>
                </summary>
                <p>Converting {{i}}  = {{j}} {{k|safe}}</p>
                <p>{{i}} ={{q}} Ω </p>
            </details>
            {% endif %}
            {%endfor%}


            <strong>Put values into formula</strong>
             {% if given_data == "series" %}
            <p> R<sub>eq</sub>=R1+R2+R3+… +RN  </p>
            <p><b> Equivalent Resistance in series   = {{ans|safe}}  Ω </b></p>
            {% else %}
            <p>1/R<sub>eq</sub> = 1/R1 + 1/R2 + 1/R3 + … +1/RN  </p>
            <p><b> Equivalent Resistance in parallel  = {{ans|safe}}  Ω </b></p>
            {%endif%}            
            


        </div>

    </div>
    {% endif %}

    


</div>



<script>
    
{% if id == 2 %}
 
var scrollDiv = document.getElementById("clear").offsetTop;
console.log(scrollDiv)
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}

    

</script>

<script>
    function myFunction() {

            document.getElementById("clear").innerHTML = "";
            {% for i,j in reset %}
            document.getElementsByName("{{i}}")[0].value="";
            document.getElementsByName("{{j}}")[0].value="Ω";
            {% endfor %}  
    }
</script>
<br>

{% endblock %}