{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Rain-to-Snow Calculator| Free Calculator to find Rain-to-Snow</title>
<meta name="description"
    content="Ohm's law Calculator makes it easy for you to find Ohm's law." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Ohm's law Calculator | Free Calculator to find Ohm's law" />
<meta property="og:description" content="Ohm's law Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Ohm's law Calculator | Free Calculator to find Ohm's law" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle>Rain-to-Snow Calculator</tittle>
<meta property='og:title' content="Inside Car Temperature Calculator| Ohm's law" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property='og:description' content="Ohm's law Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Rain-to-Snow Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Temperature Units:</strong></div>
                        </div>
                        <select class="select form-control" id="inlineFormInputGroup" name="TU" id="TU">

                            {% if TU == 'F' %}
                              <option value="F" selected="selected"> Fahrenheit (°F)</option>
                              {% else %}
                              <option value="F">Fahrenheit (°F)</option>
                              {% endif %}
  
                              {% if TU == 'C' %}
                              <option value="C" selected="selected">Celsius (°C)</option>
                              {% else %}
                              <option value="C">Celsius (°C)</option>
                              {% endif %}
                        
                        </select>
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Air Temperature:</strong></div>
                        </div>
                        <input type="number" step="0.1"  id="inlineFormInputGroup" required=""
                            placeholder="Enter Temperature"  class="form-control" name="T" id="T" {% if T1 or T1 == 0 %} value="{{T1}}" {% else %} value="99" {% endif %}>
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Rainfall In Inches:</strong></div>
                        </div>
                        <input type="number" step="0.1"  id="inlineFormInputGroup" required="" 
                            placeholder="Enter Rainfall"  class="form-control" name="R" id="R" {% if R1 or R1 == 0 %} value="{{R1}}" {% else %} value="10" {% endif %}>
                    </div>


                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>





<div id="clear">

    {%if result or result == 0 %}
        <div class="card" id="Rain-to-Snow Calculator">
            <div class="card-header">
                <h2 class="h2">Rain-to-Snow</h2>
            </div>
    
            
                <div class="card-body">
                    <strong>Result</strong>
            <br>
            
            <p class="btn btn-outline-secondary active">Snow Depth:&nbsp;&nbsp;{{result|floatformat:"-1"}}&nbsp;inches</p>
            <br>
            <p class="btn btn-outline-secondary active">Rain-to-Snow Ratio:&nbsp;&nbsp;{{SR}}</p>
            
            
                
                {% if TU == "F"%}
                <div class="table-responsive">
                    <table class="table align-middle">
                      <thead>
                        <tr class="table-primary">
                            <th>Air Temperature (°F)</th>
                            <th>Snow Depth (inches)</th>
                            <th>Rain:Snow Ratio</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-info">
                            <td>34 to 28</td>
                            <td>{{SD1|floatformat:"-1"}}</td>
                            <td>1:10</td>
                        </tr>
                        <tr class="table-info">
                            <td>27 to 20</td>
                            <td>{{SD2|floatformat:"-1"}}</td>
                            <td>1:15</td>
                        </tr>
                        <tr class="table-info">
                            <td>19 to 15	</td>
                            <td>{{SD3|floatformat:"-1"}}</td>
                            <td>1:20</td>
                          
                        </tr>
                        <tr class="table-info">
                            <td>14 to 10</td>
                            <td>{{SD4|floatformat:"-1"}}</td>
                            <td>1:30</td>
                          
                        </tr>
                        <tr class="table-info">
                            <td>9 to 0</td>
                            <td>{{SD5|floatformat:"-1"}}</td>
                            <td>1:40</td>
                          
                        </tr>
                        <tr class="table-info">
                            <td>-1 to -20</td>
                            <td>{{SD6|floatformat:"-1"}}</td>
                            <td>1:50</td>
                          
                        </tr>
                        <tr class="table-info">
                            <td><-21</td>
                            <td>{{SD7|floatformat:"-1"}}</td>
                            <td>1:100</td>
                          
                        </tr>
                       
                    
                      </tbody>
                    </table>
                  </div>
                  {% endif %}

                  {% if TU == "C"%}
                <div class="table-responsive">
                    <table class="table align-middle">
                      <thead>
                        <tr class="table-primary">
                            <th>Air Temperature (°C)</th>
                            <th>Snow (inches)</th>
                            <th>Rain:Snow Ratio</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-info">
                            <td>1 to -2</td>
                            <td>{{SD1|floatformat:"-1"}}</td>
                            <td>1:10</td>
                        </tr>
                        <tr class="table-info">
                            <td>-3 to -7</td>
                            <td>{{SD2|floatformat:"-1"}}</td>
                            <td>1:15</td>
                        </tr>
                        <tr class="table-info">
                            <td>-7 to -9</td>
                            <td>{{SD3|floatformat:"-1"}}</td>
                            <td>1:20</td>
                          
                        </tr>
                        <tr class="table-info">
                            <td>-10 to -12</td>
                            <td>{{SD4|floatformat:"-1"}}</td>
                            <td>1:30</td>
                          
                        </tr>
                        <tr class="table-info">
                            <td>-13 to -18</td>
                            <td>{{SD5|floatformat:"-1"}}</td>
                            <td>1:40</td>
                          
                        </tr>
                        <tr class="table-info">
                            <td>-18 to -29</td>
                            <td>{{SD6|floatformat:"-1"}}</td>
                            <td>1:50</td>
                          
                        </tr>
                        <tr class="table-info">
                            <td><-29</td>
                            <td>{{SD7|floatformat:"-1"}}</td>
                            <td>1:100</td>
                          
                        </tr>
                       
                    
                      </tbody>
                    </table>
                  </div>
                  {% endif %}

                  <h3>Rain-to-Snow Ratio</h3>
                  <p>The rain-to-snow ratio varies according to multiple factors, including windchill, humidity, temperature, and precipitation.</p>
                  <p>According to the majority of weather services, the average level of snow is 10 times that of rainfall. As such, 1 inch of rainfall equates to around 10 inches of snowfall. In dense snowfall, the molecules are tightly compressed. In such situations, the rain-to-snow ratio will be 1:8. This ratio will fluctuate depending on the temperature and windchill. If the snowfall is light and more powder-like, the rain-to-snow ratio will vary between 1:20 and 1:50.</p>
                  <p>To use our rain-to-snow calculator, simply input the amount of rainfall in inches and the temperature in the unit of your choice. The calculator will compute the snowfall that can be expected in line with those weather conditions.</p>
                  <h3>Rain-to-Snow Conversion</h3>
                  <p>This calculator uses the following formula:</p>
                  <strong>snow depth [inches] = rainfall [inches] ÷ rain-to-snow ratio</strong>
                  <p>Let's look at an example of rain to snow conversion:</p>
                  <p>Let's say we wanted to determine the level of snowfall expected when the rainfall is 2.5 inches, and the temperature is at 12 °F. We would start by multiplying 2.5 by 30 (the reciprocal of the rain-to-snow ratio when the temperature is between 10 and 14 °F). This gives us 75 inches.</p>
                  <p>As such, when the rainfall is 2.5 inches and the temperature is 12 °F, the equivalent snowfall would be 75 inches.</p>
                  <p><b>*Note: Our estimate is based on rain-to-snow conversion tables from the NWS.</b></p>
                  </div>
                
    
    
        </div>
        {% endif %}
</div>
</div>
    



<script>
    
    {% if id == 1 %}
     
    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    {%endif%}
    
        
    {% if id == 2 %}
     
    var scrollDiv = document.getElementById("my_form1").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    {%endif%}
    
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }
    </script>
    
    <script>
        function myFunction() {
                document.getElementsByName("T")[0].value = "";
                document.getElementsByName("R")[0].value = "";
                document.getElementById("clear").innerHTML = "";
            }
    </script>
    <br>
    
    
{%endblock%}

    