{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
Online Calculator Guru Project Style Sheet
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Addition Table Generator Calculator</title>
<meta name="description"
    content="Half Life Calculator makes it easy for you to Half Life." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta property="og:description" content="Half Life Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg"
    property="og:image" />
    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<!-- <tittle> Addition Table Generator Calculator</tittle> -->
<meta property='og:title' content="Half Life Calculatorr | Half Life" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property='og:description' content="Half Life Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    .calculator-tab button {
    background-color: #444;
    color: #fff;
    border: 0;
    outline: 0;
    margin: 6.5px -1px 0 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 7px;
    cursor: pointer;
    padding: 3px 5px 0 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}

.calculator-tab button.active {
    background-color: #fbfffc;
    color: #444;
    cursor: default;
    border: 1px solid #3E7E3C;
    border-bottom: none;
}

.calculator-tab button:hover {
    background-color: #3E7E3C;
    color: #fff;
}

	.tabuada {
    background-color: #fff;
    padding: 5px;
    min-height: 250px;
    border: 2px dashed #48684a;
    border-radius: 10px;
}

    .tabuada input, .tabuada td {
    color: #48684a;
    font-family: monospace!important;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

    .tabuada input {
    width: 95px;
    height: 30px;
    margin: 0;
    padding: 0 3px 0 3px;
}

    .calculator-tabbed {
    margin: 33px 0;
}

    .calculator-tab {
    margin: -42.4px 0 5px 0;
}

@media only screen and (max-width: 700px){
    .col-1-2{
    width: 60%;
    }
}


.col-1-2{
    padding: 0 0.2rem;
    display: inline-block;
    vertical-align: top;
}

.col-1-2 a:hover{
    text-decoration: none;
    color: darkred;
}


.calculator {
    padding: 3px;
    margin: 0 0 3px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #3E7E3C;
    background-color: #fbfffc;
}

</style>

<body onload="addFields();">
    

    <div class="row" style="height: auto !important;">
        
        
    <div class="card c1" style="border: 0px; margin: auto;"> 
        
    
		<div class="calculator calculator-tabbed">
            
		<div class="calculator-tab">
        
        <a href='{% url "addG" %}'><button class="active">Addition</button></a> 
        <a href='{% url "subG" %}'><button>Subtraction</button></a>
        <a href='{% url "mulG" %}'><button>Multiplication</button></a>
        <a href='{% url "divG" %}'><button>Division</button></a>
		
		</div>
		
        <p>Generate an addition table of <input type="text" style="width:4em" name="inpu" value="{{a}}" oninput="limit(this); addFields();"></p>

		<p>Containing <input type="text" name="line" style="width: 4em;" value="10" oninput="limit(this); addFields();"> lines.</p>

        <p>Practice with the generated table:<input type="checkbox" style="width: 20px; height: 20px;" checked name="practice" id="practice" value="" onchange="addFields();"></p>
        
        
        <p>Random numbers:<input type="checkbox" style="width: 20px; height: 20px;" checked name="randomOn" id="randomOn" value="" onchange="addFields();"></p>

    <div id="ranNum">
		<p>Random numbers start at:<input type="text" style="width: 4em;" name="rannumber" value="10" oninput="limit(this); addFields();"></p>
    </div>    
		
		<div id="container"></div>

        </div></div></div>

    <div class="center">
        
        {% if not b %}

        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'add' '1'%}">Addition table of 1</a></li>
                <li class="bullet"><a href="{% url 'add' '2'%}">Addition table of 2</a></li>
                <li class="bullet"><a href="{% url 'add' '3'%}">Addition table of 3</a></li>
                <li class="bullet"><a href="{% url 'add' '4'%}">Addition table of 4</a></li>
                <li class="bullet"><a href="{% url 'add' '5'%}">Addition table of 5</a></li>
                <li class="bullet"><a href="{% url 'add' '6'%}">Addition table of 6</a></li>
                <li class="bullet"><a href="{% url 'add' '7'%}">Addition table of 7</a></li>
                <li class="bullet"><a href="{% url 'add' '8'%}">Addition table of 8</a></li>
                <li class="bullet"><a href="{% url 'add' '9'%}">Addition table of 9</a></li>
                <li class="bullet"><a href="{% url 'add' '10'%}">Addition table of 10</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'add' '11'%}">Addition table of 11</a></li>
                <li class="bullet"><a href="{% url 'add' '12'%}">Addition table of 12</a></li>
                <li class="bullet"><a href="{% url 'add' '13'%}">Addition table of 13</a></li>
                <li class="bullet"><a href="{% url 'add' '14'%}">Addition table of 14</a></li>
                <li class="bullet"><a href="{% url 'add' '15'%}">Addition table of 15</a></li>
                <li class="bullet"><a href="{% url 'add' '16'%}">Addition table of 16</a></li>
                <li class="bullet"><a href="{% url 'add' '17'%}">Addition table of 17</a></li>
                <li class="bullet"><a href="{% url 'add' '18'%}">Addition table of 18</a></li>
                <li class="bullet"><a href="{% url 'add' '19'%}">Addition table of 19</a></li>
                <li class="bullet"><a href="{% url 'add' '20'%}">Addition table of 20</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'add' '21'%}">Addition table of 21</a></li>
                <li class="bullet"><a href="{% url 'add' '22'%}">Addition table of 22</a></li>
                <li class="bullet"><a href="{% url 'add' '23'%}">Addition table of 23</a></li>
                <li class="bullet"><a href="{% url 'add' '24'%}">Addition table of 24</a></li>
                <li class="bullet"><a href="{% url 'add' '25'%}">Addition table of 25</a></li>
                <li class="bullet"><a href="{% url 'add' '26'%}">Addition table of 26</a></li>
                <li class="bullet"><a href="{% url 'add' '27'%}">Addition table of 27</a></li>
                <li class="bullet"><a href="{% url 'add' '28'%}">Addition table of 28</a></li>
                <li class="bullet"><a href="{% url 'add' '29'%}">Addition table of 29</a></li>
                <li class="bullet"><a href="{% url 'add' '30'%}">Addition table of 30</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'add' '31'%}">Addition table of 31</a></li>
                <li class="bullet"><a href="{% url 'add' '32'%}">Addition table of 32</a></li>
                <li class="bullet"><a href="{% url 'add' '33'%}">Addition table of 33</a></li>
                <li class="bullet"><a href="{% url 'add' '34'%}">Addition table of 34</a></li>
                <li class="bullet"><a href="{% url 'add' '35'%}">Addition table of 35</a></li>
                <li class="bullet"><a href="{% url 'add' '36'%}">Addition table of 36</a></li>
                <li class="bullet"><a href="{% url 'add' '37'%}">Addition table of 37</a></li>
                <li class="bullet"><a href="{% url 'add' '38'%}">Addition table of 38</a></li>
                <li class="bullet"><a href="{% url 'add' '39'%}">Addition table of 39</a></li>
                <li class="bullet"><a href="{% url 'add' '40'%}">Addition table of 40</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'add' '41'%}">Addition table of 41</a></li>
                <li class="bullet"><a href="{% url 'add' '42'%}">Addition table of 42</a></li>
                <li class="bullet"><a href="{% url 'add' '43'%}">Addition table of 43</a></li>
                <li class="bullet"><a href="{% url 'add' '44'%}">Addition table of 44</a></li>
                <li class="bullet"><a href="{% url 'add' '45'%}">Addition table of 45</a></li>
                <li class="bullet"><a href="{% url 'add' '46'%}">Addition table of 46</a></li>
                <li class="bullet"><a href="{% url 'add' '47'%}">Addition table of 47</a></li>
                <li class="bullet"><a href="{% url 'add' '48'%}">Addition table of 48</a></li>
                <li class="bullet"><a href="{% url 'add' '49'%}">Addition table of 49</a></li>
                <li class="bullet"><a href="{% url 'add' '50'%}">Addition table of 50</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'add' '51'%}">Addition table of 51</a></li>
                <li class="bullet"><a href="{% url 'add' '52'%}">Addition table of 52</a></li>
                <li class="bullet"><a href="{% url 'add' '53'%}">Addition table of 53</a></li>
                <li class="bullet"><a href="{% url 'add' '54'%}">Addition table of 54</a></li>
                <li class="bullet"><a href="{% url 'add' '55'%}">Addition table of 55</a></li>
                <li class="bullet"><a href="{% url 'add' '56'%}">Addition table of 56</a></li>
                <li class="bullet"><a href="{% url 'add' '57'%}">Addition table of 57</a></li>
                <li class="bullet"><a href="{% url 'add' '58'%}">Addition table of 58</a></li>
                <li class="bullet"><a href="{% url 'add' '59'%}">Addition table of 59</a></li>
                <li class="bullet"><a href="{% url 'add' '60'%}">Addition table of 60</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'add' '61'%}">Addition table of 61</a></li>
                <li class="bullet"><a href="{% url 'add' '62'%}">Addition table of 62</a></li>
                <li class="bullet"><a href="{% url 'add' '63'%}">Addition table of 63</a></li>
                <li class="bullet"><a href="{% url 'add' '64'%}">Addition table of 64</a></li>
                <li class="bullet"><a href="{% url 'add' '65'%}">Addition table of 65</a></li>
                <li class="bullet"><a href="{% url 'add' '66'%}">Addition table of 66</a></li>
                <li class="bullet"><a href="{% url 'add' '67'%}">Addition table of 67</a></li>
                <li class="bullet"><a href="{% url 'add' '68'%}">Addition table of 68</a></li>
                <li class="bullet"><a href="{% url 'add' '69'%}">Addition table of 69</a></li>
                <li class="bullet"><a href="{% url 'add' '70'%}">Addition table of 70</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'add' '71'%}">Addition table of 71</a></li>
                <li class="bullet"><a href="{% url 'add' '72'%}">Addition table of 72</a></li>
                <li class="bullet"><a href="{% url 'add' '73'%}">Addition table of 73</a></li>
                <li class="bullet"><a href="{% url 'add' '74'%}">Addition table of 74</a></li>
                <li class="bullet"><a href="{% url 'add' '75'%}">Addition table of 75</a></li>
                <li class="bullet"><a href="{% url 'add' '76'%}">Addition table of 76</a></li>
                <li class="bullet"><a href="{% url 'add' '77'%}">Addition table of 77</a></li>
                <li class="bullet"><a href="{% url 'add' '78'%}">Addition table of 78</a></li>
                <li class="bullet"><a href="{% url 'add' '79'%}">Addition table of 79</a></li>
                <li class="bullet"><a href="{% url 'add' '80'%}">Addition table of 80</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'add' '81'%}">Addition table of 81</a></li>
                <li class="bullet"><a href="{% url 'add' '82'%}">Addition table of 82</a></li>
                <li class="bullet"><a href="{% url 'add' '83'%}">Addition table of 83</a></li>
                <li class="bullet"><a href="{% url 'add' '84'%}">Addition table of 84</a></li>
                <li class="bullet"><a href="{% url 'add' '85'%}">Addition table of 85</a></li>
                <li class="bullet"><a href="{% url 'add' '86'%}">Addition table of 86</a></li>
                <li class="bullet"><a href="{% url 'add' '87'%}">Addition table of 87</a></li>
                <li class="bullet"><a href="{% url 'add' '88'%}">Addition table of 88</a></li>
                <li class="bullet"><a href="{% url 'add' '89'%}">Addition table of 89</a></li>
                <li class="bullet"><a href="{% url 'add' '90'%}">Addition table of 90</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'add' '91'%}">Addition table of 91</a></li>
                <li class="bullet"><a href="{% url 'add' '92'%}">Addition table of 92</a></li>
                <li class="bullet"><a href="{% url 'add' '93'%}">Addition table of 93</a></li>
                <li class="bullet"><a href="{% url 'add' '94'%}">Addition table of 94</a></li>
                <li class="bullet"><a href="{% url 'add' '95'%}">Addition table of 95</a></li>
                <li class="bullet"><a href="{% url 'add' '96'%}">Addition table of 96</a></li>
                <li class="bullet"><a href="{% url 'add' '97'%}">Addition table of 97</a></li>
                <li class="bullet"><a href="{% url 'add' '98'%}">Addition table of 98</a></li>
                <li class="bullet"><a href="{% url 'add' '99'%}">Addition table of 99</a></li>
                <li class="bullet"><a href="{% url 'add' '100'%}">Addition table of 100</a></li>
                
            </ul>
        </div>
        {% endif %}

        {% if b %}
    
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'add' b.0  %}">Addition table of {{b.0}}</a></li>
                <li class="bullet"><a href="{% url 'add' b.1 %}">Addition table of {{b.1}}</a></li>
            </ul>
        </div>  
        

        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'add' b.2 %}">Addition table of {{b.2}}</a></li>
                <li class="bullet"><a href="{% url 'add' b.3 %}">Addition table of {{b.3}}</a></li>
            </ul>
        </div>

        
        <div class="col-1-2">
            <ul>    
                <li class="bullet"><a href="{% url 'add' b.4 %}">Addition table of {{b.4}}</a></li>
                <li class="bullet"><a href="{% url 'add' b.5 %}">Addition table of {{b.5}}</a></li>
            </ul>
        </div>

        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'add' b.6 %}">Addition table of {{b.6}}</a></li>
                <li class="bullet"><a href="{% url 'add' b.7 %}">Addition table of {{b.7}}</a></li>
            </ul>
        </div>

        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'add' b.8 %}">Addition table of {{b.8}}</a></li>
                <li class="bullet"><a href="{% url 'add' b.9 %}">Addition table of {{b.9}}</a></li>
            </ul>
        </div>
         
        {% endif %}

    </div> 


		

<script>

    function limit(inp){
        
        if (inp.value > 999 || isNaN(inp.value)){
            alert("Value must be lower than 1000 and must be a digit.");
            return inp.value = "";
        }
    }

    function chk(evt){
        let x = evt.target.parentNode.parentNode.firstChild.innerHTML;
        let y = evt.target.parentNode.parentNode.childNodes[2].innerHTML;
        let z = Number(x)+Number(y);
        let j = evt.target.value;
        
        if (z == j){
            evt.target.style = "background-color:rgb(180, 234, 136); width: 60px;"
            }else{
            evt.target.style = "background-color: red; color: white; width: 60px;"
            }
            
    }

    function wscroll(event){
        if (event.target.value){
            return event.target.value = "";
        }else{
        window.scrollBy({top:51, behavior: "smooth"});
        }
        
    }

    function getRndInteger(min, max) {
        return Math.floor(Math.random() * (max - min + 1) ) + min;
    }

    function addFields(){
        
        const calcInputs = document.querySelectorAll("input");
        const a = calcInputs[0].value;
        const line = calcInputs[1].value;
        const practice = calcInputs[2];
        const randomOn = calcInputs[3];
        const ranNum = document.getElementById("ranNum");
        const raNnumber = calcInputs[4].value;
        const b = document.getElementById("container");

        while(b.hasChildNodes()){
            b.removeChild(b.lastChild);
        }


        function tableRowData(a){
            const td1 = document.createElement("td");
            const d1 = document.createTextNode(a);
            td1.appendChild(d1);
            return td1;
        };
    
        const table = document.createElement("table");
        table.width = "100%";
        table.className="tabuada";
        b.appendChild(table);

        for (let i=0; i<line; i++){
            const row = document.createElement("tr");
            table.appendChild(row);

            row.appendChild(tableRowData(a));
            row.appendChild(tableRowData('+'));
            
            
        if (randomOn.checked == true){
            ranNum.style.display = "block";
            const rdm = getRndInteger(Number(raNnumber), (Number(raNnumber)+25));
            row.appendChild(tableRowData(rdm));
        }else{
            ranNum.style.display = "none"; 
            row.appendChild(tableRowData(i));
        }
    
        row.appendChild(tableRowData('=')); 

        
        if (practice.checked == true){
            const td5 = document.createElement("td");
            const d5 = document.createElement("input");
            d5.type = "text";
            d5.value = "";
            d5.style = "width: 60px;"
            td5.appendChild(d5);
            row.appendChild(td5);
            d5.addEventListener("input", chk);
            d5.addEventListener("focus", wscroll);
            
        }else{
            const out = (Number(a) + Number(row.childNodes[2].textContent));
            row.appendChild(tableRowData(out));
        }
    }
}
    
</script>
</body>
{%endblock%}
