{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- Mathjax library script -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
<!-- End of Mathjax library script -->

<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Alfven Velocity Calculator</title>
<meta name="description" content="Alfven Velocity Calculator | Free Calculator to find Alfven Velocity" />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Alfven Velocity Calculator" />
<meta property="og:description" content="Alfven Velocity Calculator | Free Calculator to find Alfven Velocity" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg"
    property="og:image" />
    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Alfven Velocity Calculator" />
<meta name="twitter:description" content="Alfven Velocity Calculator | Free Calculator to find Alfven Velocity" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->

<meta property='og:title' content="Alfven Velocity Calculator" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property='og:description' content="Alfven Velocity Calculator | Free Calculator to find Alfven Velocity" />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <p class="center"><strong> Alfvén Velocity Calculator</strong></p>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}   

            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Magnetic Field Strength (B)</strong></div>
                        </div>
                        <input type="text" min="0" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" placeholder="Magnetic Flux Density"  class="form-control" name="MFD" id="MFD" {% if MFD or MFD == 0 %} value="{{MFD}}" {% else %} value="2" {% endif %}>
                        <div class="input-group-text"><strong>T</strong></div>

                    </div>


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Permeability Of Free Space (μ<sub>0</sub>)</strong></div>
                        </div>
                        <input type="number" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" readonly placeholder="Permeability Of Free Space"  class="form-control" name="PFS" id="PFS" value="1.2566370614359173e-06" >
                        <div class="input-group-text"><strong>N/A<sup>2</sup></strong></div>
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Plasma Mass Density (ρ)</strong></div>
                        </div>
                        <input type="text" min="0" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" placeholder="Plasma Mass Density"  class="form-control" name="PMD" id="PMD" {% if PMD or PMD == 0 %} value="{{PMD}}" {% else %} value="2" {% endif %}>
                        <div class="input-group-text"><strong>kg/m<sup>3</sup></strong></div>
                    </div>

                        

                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1" value="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>




<div id="clear">

    {% if f1 %}
    
    <div class="card" id="Results">
        <div class="card-header">
            <p><strong>Results</strong> </p>
        </div>
        
        
        <div class="card-body"> <span> 
            
            <p><strong><span style="color: blue;">Alfvén Velocity (v<sub>a</sub>):&nbsp;&nbsp;&nbsp;</span><span id="span1">{{result}}</span></strong>
                <select style="margin-left:5px" id="myunt1" onchange="modifyres1()">
                    <option value="1" selected="">m/s</option>
                    <option value="3.6">km/h</option>
                    <option value="0.001">km/s</option>
                    <option value="0.0006214">mi/s</option>
                </select>
            </p>

            <p><strong>Formulas Used:</strong></p>
            <p class="btn btn-outline-secondary active">v<sub>a</sub> = B / √ (μ<sub>0</sub> * ρ)</p>
            <p>where</p>
            <ul>
                <li>v<sub>a</sub> =	Alfvén Velocity (m/s)</li>
                <li>B = Magnetic Field Strength (T)</li>
                <li>μ<sub>0</sub> = Vacuum Permeability (permeability of free space, permeability of vacuum or magnetic constant)</li>
                <li>ρ = Total mass density of the charged plasma particles (kg/m<sup>3</sup>)</li>

            </ul>

            <p>In plasma physics, an Alfvén wave, named after Hannes Alfvén, is a type of magnetohydrodynamic wave in which ions oscillate in response to a restoring force provided by an effective tension on the magnetic field lines.<br />An Alfvén wave in a plasma is a low-frequency (compared to the ion cyclotron frequency) travelling oscillation of the ions and the magnetic field. The ion mass density provides the inertia and the magnetic field line tension provides the restoring force.</p>

            <p>The wave propagates in the direction of the magnetic field, although waves exist at oblique incidence and smoothly change into the magnetosonic wave when the propagation is perpendicular to the magnetic field.The motion of the ions and the perturbation of the magnetic field are in the same direction and transverse to the direction of propagation. The wave is dispersionless. The velocity of an Alfvén wave is given by the equiation presented.
            </p>
                
            
            
            
        </div>

    </div>
    {% endif %}
</div>

{% if f1 %}
<script>
    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
</script>
{% endif %}

<script>
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }

        const result = document.getElementById("span1").innerHTML
        function modifyres1(){
            
            var sus  = document.getElementById("myunt1")
            document.getElementById("span1").innerHTML = +(Number(result) * sus.value)
        }

    </script>
    
    <script>
        function myFunction() {

                // document.getElementsByName("GT")[0].value = "";
                document.getElementById("clear").innerHTML = "";
            }
        </script>
    <br>
    
    
    {% endblock %}