{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, iniFtemperence Temperaturel-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/lItemps/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/lItemps/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Clausius Clapeyron Equation  calculator | Free Calculator to find Clausius Clapeyron Equation </title>
<meta name="description"
    content="Clausius Clapeyron Equation  calculator makes it easy for you to find Clausius Clapeyron Equation ." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Clausius Clapeyron Equation  calculator | Free Calculator to find Clausius Clapeyron Equation " />
<meta property="og:description" content="Clausius Clapeyron Equation  calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/clausius-clapeyron-equation-calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Clausius Clapeyron Equation  calculator | Free Calculator to find Clausius Clapeyron Equation " />
<meta name="twitter:description"
    content="Clausius Clapeyron Equation  calculator" />
<meta name="twitter:image:src"

    content="https://onlinecalculator.guru/static/images/Chemistry/clausius-clapeyron-equation-calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Clausius Clapeyron Equation  calculator</tittle>
<meta property='og:title' content="Clausius Clapeyron Equation  calculatorr | Clausius Clapeyron Equation " />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/clausius-clapeyron-equation-calculator
.jpeg" />
<meta property='og:description' content="Clausius Clapeyron Equation  calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1"> Clausius Clapeyron Equation  Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Choose a Calculation</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Find Molar Enthalphy of Vapourization  | Given Initial temperature, Final temperature, Initial Pressure  and Final Pressure</option>
                            {% else %}
                            <option value="form1"> Find Molar Enthalphy of Vapourization  | Given Initial temperature, Final temperature , Initial Pressure and Final Pressure </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> Find  Final temperature | Given Initial temperature,Molar Enthalphy of Vapourization ,Initial Pressure and Final Pressure  </option>
                            {% else %}
                            <option value="form2">Find  Final temperature | Given Initial temperature ,Molar Enthalphy of Vapourization , Initial Pressure and Final Pressure </option>
                            {% endif %}

                            {% if given_data == 'form3' %}
                            <option value="form3" selected="selected"> Find  Initial temperature | Given Final temperature , Molar Enthalphy of Vapourization ,d Initial Pressure and Final Pressure</option>
                            {% else %}
                            <option value="form3">Find  Initial temperature | Given Final temperature, Molar Enthalphy of Vapourization,Initial Pressure and Final Pressure</option>
                            {% endif %}

                           
                            {% if given_data == 'form4' %}
                            <option value="form4" selected="selected"> Find  Initial Pressure | Given Initial temperature  ,Final temperature , Molar Enthalphy of Vapourization and Final Pressure</option>
                            {% else %}
                            <option value="form4"> Find  Initial Pressure | Given Initial temperature  ,Final temperature , Molar Enthalphy of Vapourization and Final Pressure</option>
                            {% endif %}

                            {% if given_data == 'form5' %}
                            <option value="form5" selected="selected"> Find Final Pressure  | Given Initial temperature  ,Final temperature , Molar Enthalphy of Vapourization and Initial Pressure</option>
                            {% else %}
                            <option value="form5"> Find Final Pressure  | Given Initial temperature  ,Final temperature , Molar Enthalphy of Vapourization and Initial Pressure</option>
                            {% endif %}
                            
                </select>
                    </div>


                    {% if given_data != "form3" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Initial temperature</strong></div>
                        </div>
                        <input type="number" step="0.000001"  oninput="validateNumber(this);" id="Itemp" required=""
                            placeholder="Enter number"  class="form-control mt-1" name="Itemp" {% if Itemp %} value="{{Itemp1}}" {% else %} value="6" {% endif %}>


                        <select class="select form-control mt-1" id="Itemp_op" name="Itemp_op">

                            
                            {% if Itemp_op == 'K' %}
                            <option value="K" selected="selected">kelvin(K)</option>
                            {% else %}
                            <option value="K">kelvin(K)</option>
                            {% endif %}

                            {% if Itemp_op == '°C' %}
                            <option value="°C" selected="selected">celsius(°C)</option>
                            {% else %}
                            <option value="°C">celsius(°C)</option>
                            {% endif %}

         
                            {% if Itemp_op == '°F' %}
                            <option value="°F" selected="selected">fahrenheit(°F)</option>
                            {% else %}
                            <option value="°F">fahrenheit(°F)</option>
                            {% endif %}

                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form2" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Final temperature</strong></div>
                        </div>
                        <input type="number"  step="0.001" oninput="validateNumber(this);" id="Ftemp" required=""
                            placeholder="Enter number"  class="form-control mt-1" name="Ftemp" {% if Ftemp %} value="{{Ftemp1}}" {% else %} value="12" {% endif %}>


                        <select class="select form-control mt-1" id="Ftemp_op" name="Ftemp_op">
                         
                           {% if Ftemp_op == 'K' %}
                            <option value="K" selected="selected">kelvin(K)</option>
                            {% else %}
                            <option value="K">kelvin(K)</option>
                            {% endif %}
         
                            {% if Ftemp_op == '°C' %}
                            <option value="°C" selected="selected">celsius(°C)</option>
                            {% else %}
                            <option value="°C">celsius(°C)</option>
                            {% endif %}

                            
                            {% if Ftemp_op == '°F' %}
                            <option value="°F" selected="selected">fahrenheit(°F)</option>
                            {% else %}
                            <option value="°F">fahrenheit(°F)</option>
                            {% endif %}


                        </select>
                    </div>
                    {% endif %}



                    {% if given_data != "form1" %}

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Molar Enthalphy of Vapourization</strong></div>
                        </div>
                        <input type="number"   step="0.000001" oninput="validateNumber(this);" id="enthalphy" required=""
                           placeholder="Enter number"  class="form-control mt-1" name="enthalphy" {% if enthalphy %} value="{{enthalphy1}}" {% else %} value="21" {% endif %}>

                        <select class="select form-control mt-1" id="enthalphy_op" name="enthalphy_op">
                          
                            {% if enthalphy_op == 'J' %}
                            <option value="J" selected="selected">Joules/mol</option>
                            {% else %}
                            <option value="J">Joules/mol</option>
                            {% endif %}

                            {% if enthalphy_op == 'kJ' %}
                            <option value="kJ" selected="selected">kiloJoules/mol</option>
                            {% else %}
                            <option value="kJ">kiloJoules/mol</option>
                            {% endif %}


                            {% if enthalphy_op == 'MJ' %}
                            <option value="MJ" selected="selected">megaJoules/mol</option>
                            {% else %}
                            <option value="MJ">megaJoules/mol</option>
                            {% endif %}

                            
                            {% if enthalphy_op == 'wh' %}
                            <option value="wh" selected="selected">watt hour /mol</option>
                            {% else %}
                            <option value="wh">watt hour /mol</option>
                            {% endif %}

                            {% if enthalphy_op == 'kwh' %}
                            <option value="kwh" selected="selected">kilowatt hour /mol</option>
                            {% else %}
                            <option value="kwh">kilowatt hour /mol</option>
                            {% endif %}

                        </select>

                    </div>

                    {% endif %}


                    {% if given_data != "form4" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Initial Pressure</strong></div>
                        </div>
                        <input type="number"    step="0.000001" oninput="validateNumber(this);" id="Ipressure" required=""
                           placeholder="Enter number"  class="form-control mt-1" name="Ipressure" {% if Ipressure %} value="{{Ipressure1}}" {% else %} value="17" {% endif %}>

                        <select class="select form-control mt-1" id="Ipressure_op" name="Ipressure_op">
                            
                            {% if Ipressure_op == 'pa' %}
                            <option value="pa" selected="selected">Pascals(Pa)</option>
                            {% else %}
                            <option value="pa" >Pascals(Pa)</option>
                            {% endif %}
         
                           
                            {% if Ipressure_op == 'mm' %}
                            <option value="mm" selected="selected">Millimeters of mercury (mmHg)</option>
                            {% else %}
                            <option value="mm" >Millimeters of mercury (mmHg)</option>
                            {% endif %}


                            {% if Ipressure_op == 'atm' %}
                            <option value="atm" selected="selected">Standard Atmosphere</option>
                            {% else %}
                             <option value="atm" >Standard Atmosphere</option>
                            {% endif %}

                            {% if Ipressure_op == 'psi' %}
                            <option value="psi" selected="selected">Pounds per square Inch (psi)</option>
                            {% else %}
                             <option value="psi" >Pounds per square Inch (psi)</option>
                            {% endif %}

                            {% if Ipressure_op == 'bar' %}
                            <option value="bar" selected="selected">bar</option>
                            {% else %}
                             <option value="bar" >bar</option>
                            {% endif %}
                            
                            
                            {% if Ipressure_op == 'kpa' %}
                            <option value="kpa" selected="selected">kiloPascals</option>
                            {% else %}
                             <option value="kpa" >KiloPascals</option>
                            {% endif %}
                            
                            {% if Ipressure_op == 'Mpa' %}
                            <option value="Mpa" selected="selected">MegaPascals</option>
                            {% else %}
                             <option value="Mpa" >MegaPascals</option>
                            {% endif %}

                        </select>

                    </div>

                    {% endif %}


                    {% if given_data != "form5" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Final Pressure</strong></div>
                        </div>
                        <input type="number"    step="0.000001" oninput="validateNumber(this);" id="Fpressure" required=""
                           placeholder="Enter number"  class="form-control mt-1" name="Fpressure" {% if Fpressure %} value="{{Fpressure1}}" {% else %} value="7" {% endif %}>

                        <select class="select form-control mt-1" id="Fpressure_op" name="Fpressure_op">
                            
                            {% if Fpressure_op == 'pa' %}
                            <option value="pa" selected="selected">Pascals(Pa)</option>
                            {% else %}
                            <option value="pa" >Pascals(Pa)</option>
                            {% endif %}
         
                           
                            {% if Fpressure_op == 'mm' %}
                            <option value="mm" selected="selected">Millimeters of mercury (mmHg)</option>
                            {% else %}
                            <option value="mm" >Millimeters of mercury (mmHg)</option>
                            {% endif %}


                            {% if Fpressure_op == 'atm' %}
                            <option value="atm" selected="selected">Standard Atmosphere</option>
                            {% else %}
                             <option value="atm" >Standard Atmosphere</option>
                            {% endif %}

                            {% if Fpressure_op == 'psi' %}
                            <option value="psi" selected="selected">Pounds per square Inch (psi)</option>
                            {% else %}
                             <option value="psi" >Pounds per square Inch (psi)</option>
                            {% endif %}

                            {% if Fpressure_op == 'bar' %}
                            <option value="bar" selected="selected">bar</option>
                            {% else %}
                             <option value="bar" >bar</option>
                            {% endif %}
                            
                            
                            {% if Fpressure_op == 'kpa' %}
                            <option value="kpa" selected="selected">kiloPascals</option>
                            {% else %}
                             <option value="kpa" >KiloPascals</option>
                            {% endif %}
                            
                            {% if Fpressure_op == 'Mpa' %}
                            <option value="Mpa" selected="selected">MegaPascals</option>
                            {% else %}
                             <option value="Mpa" >MegaPascals</option>
                            {% endif %}

                        </select>

                    </div>

                    {% endif %}

                 



                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if given_data == "form1" and enthalphy %}
    <div class="card" id="magnetic-Reference Temperature">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Clausius Clapeyron Equation </h2>
        </div>

        <div class="card-body">
                
            <strong>Clausius Clapeyron Equation  formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active"> ln(P1 / P2) = ΔH / R * (1 / T2 - 1 / T1)  </p>
            <br>
            <strong>where:</strong>
            <ul>  
            <li>T1 is the initial temperature measured in Kelvin (K)</li>
            <li>T2 is the final temperature (K)</li>
            <li> P1 is the initial pressure</li>
            <li>P2 is the final pressure</li>
            <li>ΔH is the molar enthalpy of vaporization or sublimation (J/mol)</li>
            <li>R is the gas constant of 8.3145 J/mol*K</li>
            </ul>

            <strong>Input values are:-</strong>
            <p>Final temperature = {{Ftemp1}} {{Ftemp_op}} </p>
            <p>Initial temperature = {{Itemp1}} {{Itemp_op}}</p>
            <p>Initial Pressure = {{Ipressure1}} {{Ipressure_op}} </p>
            <p> Final Pressure = {{Fpressure1}} {{Fpressure_op}} </p>
            

            {% if Ftemp_op != 'K' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Final temperature  {{Ftemp1}}<b><i>"{{Ftemp_op}}"</i></b> to
                    <b><i>"K"</i></b></b>
                </summary>
                {% if Ftemp_op != '°F' %}
                <p>Converting Final temperature  ={{Ftemp1}} {{Ftemp_c|safe}}</p>
                {%else%}
                 <p>Converting Final temperature =({{Ftemp1}}-32) * 5/9 {{Ftemp_c|safe}}</p>
                {%endif%}
                <p>Final temperature ={{Ftemp|safe}} K </p>
            </details>
            {% endif %}

            
            {% if Itemp_op != 'K' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Initial temperature  {{Itemp1}}<b><i>"{{Itemp_op}}"</i></b> to
                    <b><i>"K"</i></b></b>
                </summary>
                {% if Itemp_op != '°F' %}
                <p>Converting Initial temperature  ={{Itemp1}} {{Itemp_c|safe}}</p>
                {%else%}
                 <p>Converting Initial temperature  =({{Itemp1}}-32) * 5/9 {{Itemp_c|safe}}</p>
                {%endif%}
                <p>Initial temperature ={{Itemp|safe}} K </p>
            </details>
            {% endif %}

            
            {% if Ipressure_op != 'pa' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Initial Pressure  {{Ipressure1}}<b><i>"{{Ipressure_op}}"</i></b> to
                    <b><i>"pa"</i></b></b>
                </summary>
                <p>Converting Initial Pressure  ={{Ipressure1}} {{Ipressure_c|safe}}</p>
                <p>Initial Pressure ={{Ipressure|safe}} pa </p>
            </details>
            {% endif %}

            
            {% if Fpressure_op != 'pa' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Final Pressure  {{Fpressure1}}<b><i>"{{Fpressure_op}}"</i></b> to
                    <b><i>"pa"</i></b></b>
                </summary>
                <p>Converting Final Pressure  ={{Fpressure1}} {{Fpressure_c|safe}}</p>
                <p>Final Pressure ={{Fpressure|safe}} pa </p>
            </details>
            {% endif %}

            
    
            <strong>Put values into formula</strong>
             <p>  ln(P1 / P2) = ΔH / R * (1 / T2 - 1 / T1)  </p> 
             <p>  ΔH = ln(P1 / P2)*R/{1 / T2 - 1 / T1} </p>
             <p>  ΔH = ln{ ({{Ipressure|safe}}) / ({{Fpressure|safe}}) }* 8.3142 /{ 1 /({{Ftemp|safe}}) - 1 /({{Itemp|safe}})   } </p>
             <p> Molar Enthalphy = {{enthalphy|safe}} J/mol</p>

        </div>

    </div>
    {% endif %}

    

    {% if given_data == "form2" and Ftemp %}
    <div class="card" id="magnetic-Reference Temperature">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Final temperature</h2>
        </div>

        <div class="card-body">

                
                
            <strong>Clausius Clapeyron Equation  formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active"> ln(P1 / P2) = ΔH / R * (1 / T2 - 1 / T1)  </p>
            <br>
            <strong>where:</strong>
            <ul>  
            <li>T1 is the initial temperature measured in Kelvin (K)</li>
            <li>T2 is the final temperature (K)</li>
            <li> P1 is the initial pressure</li>
            <li>P2 is the final pressure</li>
            <li>ΔH is the molar enthalpy of vaporization or sublimation (J/mol)</li>
            <li>R is the gas constant of 8.3145 J/mol*K</li>
            </ul>

            <strong>Input values are:-</strong>
            <p>Initial temperature = {{Itemp1}} {{Itemp_op}}</p>
            <p>Initial Pressure = {{Ipressure1}} {{Ipressure_op}} </p>
            <p> Final Pressure = {{Fpressure1}} {{Fpressure_op}} </p>
            <p> Enthalphy = {{enthalphy1}} {{enthalphy_op}}/mol </p>

            
            {% if enthalphy_op != 'J' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the molar enthalphy  {{enthalphy1}}<b><i>"{{enthalphy_op}}/mol"</i></b> to
                    <b><i>"J/mol"</i></b></b>
                </summary>
                <p>Converting Initial Pressure  ={{enthalphy1}} {{enthalphy_c|safe}}/mol</p>
                <p>Initial Pressure ={{enthalphy|safe}} J/mol </p>
            </details>
            {% endif %}
               
            
            {% if Itemp_op != 'K' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Initial temperature  {{Itemp1}}<b><i>"{{Itemp_op}}"</i></b> to
                    <b><i>"K"</i></b></b>
                </summary>
                {% if Itemp_op != '°F' %}
                <p>Converting Initial temperature  ={{Itemp1}} {{Itemp_c|safe}}</p>
                {%else%}
                 <p>Converting Initial temperature  =({{Itemp1}}-32) * 5/9 {{Itemp_c|safe}}</p>
                {%endif%}
                <p>Initial temperature ={{Itemp|safe}} K </p>
            </details>
            {% endif %}


            
            {% if Ipressure_op != 'pa' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Initial Pressure  {{Ipressure1}}<b><i>"{{Ipressure_op}}"</i></b> to
                    <b><i>"pa"</i></b></b>
                </summary>
                <p>Converting Initial Pressure  ={{Ipressure1}} {{Ipressure_c|safe}}</p>
                <p>Initial Pressure ={{Ipressure|safe}} pa </p>
            </details>
            {% endif %}

            
            {% if Fpressure_op != 'pa' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Final Pressure  {{Fpressure1}}<b><i>"{{Fpressure_op}}"</i></b> to
                    <b><i>"pa"</i></b></b>
                </summary>
                <p>Converting Final Pressure  ={{Fpressure1}} {{Fpressure_c|safe}}</p>
                <p>Final Pressure ={{Fpressure|safe}} pa </p>
            </details>
            {% endif %}

            
        
             <strong>Put values into formula</strong>
            <p>  ln(P1 / P2) = ΔH / R * (1 / T2 - 1 / T1)  </p>
            <p>1/T2 = 1/T1 +{ R * ln(P1 / P2) }/ΔH </p>
            <p>T2 = 1/{ 1/T1 + { R * ln(P1 / P2) }/ΔH } </p>
            <p>T2 = 1/{ 1/({{Itemp|safe}}) + { 8.3145 * ln{  ({{Ipressure|safe}})/({{Fpressure|safe}})  }/({{enthalphy|safe}})  }</p>
            <p>  Final temperature = {{Ftemp|safe}} K</p>
           
        </div>

    </div>
    {% endif %}




    {% if given_data == "form3" and Itemp %}
    <div class="card" id="magnetic-Reference Temperature">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Initial temperature</h2>
        </div>

        <div class="card-body">

    
            <strong>Clausius Clapeyron Equation  formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active"> ln(P1 / P2) = ΔH / R * (1 / T2 - 1 / T1)  </p>
            <br>
            <strong>where:</strong>
            <ul>  
                    <li>T1 is the initial temperature measured in Kelvin (K)</li>
            <li>T2 is the final temperature (K)</li>
            <li> P1 is the initial pressure</li>
            <li>P2 is the final pressure</li>
            <li>ΔH is the molar enthalpy of vaporization or sublimation (J/mol)</li>
            <li>R is the gas constant of 8.3145 J/mol*K</li>
            </ul>

            <strong>Input values are:-</strong>
            <p>Final temperature = {{Ftemp1}} {{Ftemp_op}} </p>
            <p>Initial Pressure = {{Ipressure1}} {{Ipressure_op}} </p>
            <p> Final Pressure = {{Fpressure1}} {{Fpressure_op}} </p>
            <p> Enthalphy = {{enthalphy1}} {{enthalphy_op}}/mol </p>

            
            {% if enthalphy_op != 'J' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the molar enthalphy  {{enthalphy1}}<b><i>"{{enthalphy_op}}/mol"</i></b> to
                    <b><i>"J/mol"</i></b></b>
                </summary>
                <p>Converting Initial Pressure  ={{enthalphy1}} {{enthalphy_c|safe}}/mol</p>
                <p>Initial Pressure ={{enthalphy|safe}} J/mol </p>
            </details>
            {% endif %}
               

            {% if Ftemp_op != 'K' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Final temperature  {{Ftemp1}}<b><i>"{{Ftemp_op}}"</i></b> to
                    <b><i>"K"</i></b></b>
                </summary>
                {% if Ftemp_op != '°F' %}
                <p>Converting Final temperature  ={{Ftemp1}} {{Ftemp_c|safe}}</p>
                {%else%}
                 <p>Converting Final temperature =({{Ftemp1}}-32) * 5/9 {{Ftemp_c|safe}}</p>
                {%endif%}
                <p>Final temperature ={{Ftemp|safe}} K </p>
            </details>
            {% endif %}
            
            {% if Ipressure_op != 'pa' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Initial Pressure  {{Ipressure1}}<b><i>"{{Ipressure_op}}"</i></b> to
                    <b><i>"pa"</i></b></b>
                </summary>
                <p>Converting Initial Pressure  ={{Ipressure1}} {{Ipressure_c|safe}}</p>
                <p>Initial Pressure ={{Ipressure|safe}} pa </p>
            </details>
            {% endif %}

            
            {% if Fpressure_op != 'pa' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Final Pressure  {{Fpressure1}}<b><i>"{{Fpressure_op}}"</i></b> to
                    <b><i>"pa"</i></b></b>
                </summary>
                <p>Converting Final Pressure  ={{Fpressure1}} {{Fpressure_c|safe}}</p>
                <p>Final Pressure ={{Fpressure|safe}} pa </p>
            </details>
            {% endif %}
        
            <strong>Put values into formula</strong>
            <p>ln(P1 / P2) = ΔH / R * (1 / T2 - 1 / T1)</p>
            <p>1/T1 = 1/T2 - { R * ln(P1 / P2)  } /ΔH  </p>
            <p>T1 = 1/ { 1/T2 - { R * ln(P1 / P2 } /ΔH } </p>
            <p>T1 = 1/{  1/({{Ftemp|safe}}) - { (8.3145 * ln{ ({{Ipressure|safe}}) /({{Fpressure|safe}}) }/{{enthalphy|safe}} }</p>
            <p> Initial temperature = {{Itemp|safe}} K</p>
            
        </div>

    </div>
    {% endif %}

    
    {% if given_data == "form4" and Ipressure %}
    <div class="card" id="magnetic-Reference Temperature">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Initial Pressure</h2>
        </div>

        <div class="card-body">

    
            <strong>Clausius Clapeyron Equation  formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active"> ln(P1 / P2) = ΔH / R * (1 / T2 - 1 / T1)  </p>
            <br>
            <strong>where:</strong>
            <ul>  
                    <li>T1 is the initial temperature measured in Kelvin (K)</li>
            <li>T2 is the final temperature (K)</li>
            <li> P1 is the initial pressure</li>
            <li>P2 is the final pressure</li>
            <li>ΔH is the molar enthalpy of vaporization or sublimation (J/mol)</li>
            <li>R is the gas constant of 8.3145 J/mol*K</li>
            </ul>

            <strong>Input values are:-</strong>
            <p>Final temperature = {{Ftemp1}} {{Ftemp_op}} </p>
            <p>Initial temperature = {{Itemp1}} {{Itemp_op}}</p>
            <p> Final Pressure = {{Fpressure1}} {{Fpressure_op}} </p>
            <p> Enthalphy = {{enthalphy1}} {{enthalphy_op}}/mol </p>

            
            {% if enthalphy_op != 'J' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the molar enthalphy  {{enthalphy1}}<b><i>"{{enthalphy_op}}/mol"</i></b> to
                    <b><i>"J/mol"</i></b></b>
                </summary>
                <p>Converting Initial Pressure  ={{enthalphy1}} {{enthalphy_c|safe}}/mol</p>
                <p>Initial Pressure ={{enthalphy|safe}} J/mol </p>
            </details>
            {% endif %}
               
            {% if Ftemp_op != 'K' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Final temperature  {{Ftemp1}}<b><i>"{{Ftemp_op}}"</i></b> to
                    <b><i>"K"</i></b></b>
                </summary>
                {% if Ftemp_op != '°F' %}
                <p>Converting Final temperature  ={{Ftemp1}} {{Ftemp_c|safe}}</p>
                {%else%}
                 <p>Converting Final temperature =({{Ftemp1}}-32) * 5/9 {{Ftemp_c|safe}}</p>
                {%endif%}
                <p>Final temperature ={{Ftemp|safe}} K </p>
            </details>
            {% endif %}

            
            {% if Itemp_op != 'K' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Initial temperature  {{Itemp1}}<b><i>"{{Itemp_op}}"</i></b> to
                    <b><i>"K"</i></b></b>
                </summary>
                {% if Itemp_op != '°F' %}
                <p>Converting Initial temperature  ={{Itemp1}} {{Itemp_c|safe}}</p>
                {%else%}
                 <p>Converting Initial temperature  =({{Itemp1}}-32) * 5/9 {{Itemp_c|safe}}</p>
                {%endif%}
                <p>Initial temperature ={{Itemp|safe}} K </p>
            </details>
            {% endif %}

            
            
            {% if Fpressure_op != 'pa' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Final Pressure  {{Fpressure1}}<b><i>"{{Fpressure_op}}"</i></b> to
                    <b><i>"pa"</i></b></b>
                </summary>
                <p>Converting Final Pressure  ={{Fpressure1}} {{Fpressure_c|safe}}</p>
                <p>Final Pressure ={{Fpressure|safe}} pa </p>
            </details>
            {% endif %}

        
            <strong>Put values into formula</strong>
            <p>ln(P1 / P2) = ΔH / R * (1 / T2 - 1 / T1) </p>
            <p>P1 = e<sup> { ΔH  * { 1 / T2 - 1 / T1 } /R }</sup>*P2</p>
            <p>P1 = e<sup> { {{enthalphy|safe}} * { 1 /({{Ftemp|safe}}) - 1 /({{Itemp|safe}}) }/8.3145 }</sup>*{{Fpressure|safe}}</p>
            <p> Initial Pressure = {{Ipressure|safe}} pa</p>
            
        </div>

    </div>
    {% endif %}



    {% if given_data == "form5" and Fpressure %}
    <div class="card" id="magnetic-Reference Temperature">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Final Pressure</h2>
        </div>

        <div class="card-body">

    
            <strong>Clausius Clapeyron Equation  formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active"> ln(P1 / P2) = ΔH / R * (1 / T2 - 1 / T1)  </p>
            <br>
            <strong>where:</strong>
            <ul>  
            <li>T1 is the initial temperature measured in Kelvin (K)</li>
            <li>T2 is the final temperature (K)</li>
            <li> P1 is the initial pressure</li>
            <li>P2 is the final pressure</li>
            <li>ΔH is the molar enthalpy of vaporization or sublimation (J/mol)</li>
            <li>R is the gas constant of 8.3145 J/mol*K</li>
            </ul>

            <strong>Input values are:-</strong>
            <p>Final temperature = {{Ftemp1}} {{Ftemp_op}} </p>
            <p>Initial temperature = {{Itemp1}} {{Itemp_op}}</p>
            <p>Initial Pressure = {{Ipressure1}} {{Ipressure_op}} </p>
            <p> Enthalphy = {{enthalphy1}} {{enthalphy_op}}/mol </p>

            
            {% if enthalphy_op != 'J' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the molar enthalphy  {{enthalphy1}}<b><i>"{{enthalphy_op}}/mol"</i></b> to
                    <b><i>"J/mol"</i></b></b>
                </summary>
                <p>Converting Initial Pressure  ={{enthalphy1}} {{enthalphy_c|safe}}/mol</p>
                <p>Initial Pressure ={{enthalphy|safe}} J/mol </p>
            </details>
            {% endif %}
               

            {% if Ftemp_op != 'K' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Final temperature  {{Ftemp1}}<b><i>"{{Ftemp_op}}"</i></b> to
                    <b><i>"K"</i></b></b>
                </summary>
                {% if Ftemp_op != '°F' %}
                <p>Converting Final temperature  ={{Ftemp1}} {{Ftemp_c|safe}}</p>
                {%else%}
                 <p>Converting Final temperature =({{Ftemp1}}-32) * 5/9 {{Ftemp_c|safe}}</p>
                {%endif%}
                <p>Final temperature ={{Ftemp|safe}} K </p>
            </details>
            {% endif %}
            
            {% if Itemp_op != 'K' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Initial temperature  {{Itemp1}}<b><i>"{{Itemp_op}}"</i></b> to
                    <b><i>"K"</i></b></b>
                </summary>
                {% if Itemp_op != '°F' %}
                <p>Converting Initial temperature  ={{Itemp1}} {{Itemp_c|safe}}</p>
                {%else%}
                 <p>Converting Initial temperature  =({{Itemp1}}-32) * 5/9 {{Itemp_c|safe}}</p>
                {%endif%}
                <p>Initial temperature ={{Itemp|safe}} K </p>
            </details>
            {% endif %}


            
            {% if Ipressure_op != 'pa' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Initial Pressure  {{Ipressure1}}<b><i>"{{Ipressure_op}}"</i></b> to
                    <b><i>"pa"</i></b></b>
                </summary>
                <p>Converting Initial Pressure  ={{Ipressure1}} {{Ipressure_c|safe}}</p>
                <p>Initial Pressure ={{Ipressure|safe}} pa </p>
            </details>
            {% endif %}

            
        
            <strong>Put values into formula</strong>
            <p>ln(P1 / P2) = ΔH / R * (1 / T2 - 1 / T1) </p>
            <p>P2= P1/{ e<sup>ΔH / R * { 1 / T2 - 1 / T1 }</sup> }</p>
            <p>P2 ={{Ipressure}}/{ e<sup>{ ({{enthalphy|safe}})/ 8.3145* { 1 /({{Ftemp|safe}}) - 1 /({{Itemp|safe}}) }</sup> }</p>
            <p> Final Pressure = {{Fpressure|safe}} pa</p>
            
        </div>

    </div>
    {% endif %}




</div>

</div>



<script>
    
{% if id == 1 %}
 
var scrollDiv = document.getElementById("clear").offsetTop;
console.log(scrollDiv)
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}

    

</script>

<script>
    function myFunction() {

            document.getElementById("clear").innerHTML = "";
            
            {% if given_data != 'form2' %}    
            document.getElementById("Ftemp").value = "";
            document.getElementById("Ftemp_op").value="K";
            {%endif%}
            
            {% if given_data != 'form3' %}
            document.getElementById("Itemp").value = "";
            document.getElementById("Itemp_op").value="K";
            {%endif%}

            {% if given_data != 'form1' %}
            document.getElementById("enthalphy").value=""
            document.getElementById("enthalphy_op").value="J";
            {% endif %}

            
            {% if given_data != 'form4' %}
            document.getElementById("Ipressure").value=""
            document.getElementById("Ipressure_op").value="pa";
            {% endif %}

            
            {% if given_data != 'form5' %}
            document.getElementById("Fpressure").value=""
            document.getElementById("Fpressure_op").value="pa";
            {% endif %}
    
    }
</script>
<br>

{% endblock %}