{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
Online Calculator Guru Project Style Sheet
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Division Table Generator Calculator</title>
<meta name="description"
    content="Half Life Calculator makes it easy for you to Half Life." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta property="og:description" content="Half Life Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg"
    property="og:image" />
    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<!-- <tittle> Addition Table Generator Calculator</tittle> -->
<meta property='og:title' content="Half Life Calculatorr | Half Life" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property='og:description' content="Half Life Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    .calculator-tab button {
    background-color: #444;
    color: #fff;
    border: 0;
    outline: 0;
    margin: 6.5px -1px 0 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 7px;
    cursor: pointer;
    padding: 3px 5px 0 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}

.calculator-tab button.active {
    background-color: #fbfffc;
    color: #444;
    cursor: default;
    border: 1px solid #3E7E3C;
    border-bottom: none;
}

.calculator-tab button:hover {
    background-color: #3E7E3C;
    color: #fff;
}

	.tabuada {
    background-color: #fff;
    padding: 5px;
    min-height: 250px;
    border: 2px dashed #48684a;
    border-radius: 10px;
}

    .tabuada input, .tabuada td {
    color: #48684a;
    font-family: monospace!important;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

    .tabuada input {
    width: 95px;
    height: 30px;
    margin: 0;
    padding: 0 3px 0 3px;
}

    .calculator-tabbed {
    margin: 33px 0;
}

    .calculator-tab {
    margin: -42.4px 0 5px 0;
}

@media only screen and (max-width: 700px){
    .col-1-2{
    width: 100%;
    }
}


.col-1-2{
    padding: 0 0.2rem;
    display: inline-block;
    vertical-align: top;
}

.col-1-2 a:hover{
    text-decoration: none;
    color: darkred;
}

.calculator {
    padding: 3px;
    margin: 0 0 3px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #3E7E3C;
    background-color: #fbfffc;
}

</style>

<body onload="addFields();">
    

    <div class="row" style="height: auto !important;">
        
        
    <div class="card c1" style="border: 0px; margin: auto;"> 
        
    
		<div class="calculator calculator-tabbed">
            
		<div class="calculator-tab">
        
        <a href='{% url "add" %}'><button>Addition</button></a> 
        <a href='{% url "sub" %}'><button>Subtraction</button></a>
        <a href='{% url "multiply" %}'><button>Multiplication</button></a>
        <a href='{% url "division" %}'><button class="active">Division</button></a>
		
		</div>
		
        <p>I want to generate a division table of <input type="text" style="width:4em" name="inpu" value="{{a}}" oninput="limit(this); addFields();"></p>

		<p>Containing <input type="text" name="line" style="width: 4em;" value="10" oninput="limit(this); addFields();"> lines.</p>

        <p>Practice with the generated table:<input type="checkbox" style="width: 20px; height: 20px;" checked name="practice" id="practice" value="" onchange="addFields();"></p>
        
        
        <p>Random numbers:<input type="checkbox" style="width: 20px; height: 20px;" name="randomOn" id="randomOn" value="" onchange="addFields();"></p>

    <div id="ranNum">
		<p>Random numbers start at:<input type="text" style="width: 4em;" name="rannumber" value="10" oninput="limit(this); addFields();"></p>
    </div>    
		
		<div id="container"></div>

        </div></div></div>

        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'divisionURL' '01'%}">Division table of 1</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '02'%}">Division table of 2</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '03'%}">Division table of 3</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '04'%}">Division table of 4</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '05'%}">Division table of 5</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '06'%}">Division table of 6</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '07'%}">Division table of 7</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '08'%}">Division table of 8</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '09'%}">Division table of 9</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '10'%}">Division table of 10</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'divisionURL' '11'%}">Division table of 11</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '12'%}">Division table of 12</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '13'%}">Division table of 13</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '14'%}">Division table of 14</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '15'%}">Division table of 15</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '16'%}">Division table of 16</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '17'%}">Division table of 17</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '18'%}">Division table of 18</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '19'%}">Division table of 19</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '20'%}">Division table of 20</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'divisionURL' '21'%}">Division table of 21</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '22'%}">Division table of 22</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '23'%}">Division table of 23</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '24'%}">Division table of 24</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '25'%}">Division table of 25</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '26'%}">Division table of 26</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '27'%}">Division table of 27</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '28'%}">Division table of 28</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '29'%}">Division table of 29</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '30'%}">Division table of 30</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'divisionURL' '31'%}">Division table of 31</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '32'%}">Division table of 32</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '33'%}">Division table of 33</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '34'%}">Division table of 34</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '35'%}">Division table of 35</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '36'%}">Division table of 36</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '37'%}">Division table of 37</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '38'%}">Division table of 38</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '39'%}">Division table of 39</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '40'%}">Division table of 40</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'divisionURL' '41'%}">Division table of 41</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '42'%}">Division table of 42</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '43'%}">Division table of 43</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '44'%}">Division table of 44</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '45'%}">Division table of 45</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '46'%}">Division table of 46</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '47'%}">Division table of 47</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '48'%}">Division table of 48</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '49'%}">Division table of 49</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '50'%}">Division table of 50</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'divisionURL' '51'%}">Division table of 51</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '52'%}">Division table of 52</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '53'%}">Division table of 53</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '54'%}">Division table of 54</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '55'%}">Division table of 55</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '56'%}">Division table of 56</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '57'%}">Division table of 57</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '58'%}">Division table of 58</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '59'%}">Division table of 59</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '60'%}">Division table of 60</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'divisionURL' '61'%}">Division table of 61</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '62'%}">Division table of 62</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '63'%}">Division table of 63</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '64'%}">Division table of 64</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '65'%}">Division table of 65</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '66'%}">Division table of 66</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '67'%}">Division table of 67</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '68'%}">Division table of 68</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '69'%}">Division table of 69</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '70'%}">Division table of 70</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'divisionURL' '71'%}">Division table of 71</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '72'%}">Division table of 72</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '73'%}">Division table of 73</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '74'%}">Division table of 74</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '75'%}">Division table of 75</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '76'%}">Division table of 76</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '77'%}">Division table of 77</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '78'%}">Division table of 78</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '79'%}">Division table of 79</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '80'%}">Division table of 80</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'divisionURL' '81'%}">Division table of 81</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '82'%}">Division table of 82</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '83'%}">Division table of 83</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '84'%}">Division table of 84</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '85'%}">Division table of 85</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '86'%}">Division table of 86</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '87'%}">Division table of 87</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '88'%}">Division table of 88</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '89'%}">Division table of 89</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '90'%}">Division table of 90</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'divisionURL' '91'%}">Division table of 91</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '92'%}">Division table of 92</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '93'%}">Division table of 93</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '94'%}">Division table of 94</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '95'%}">Division table of 95</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '96'%}">Division table of 96</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '97'%}">Division table of 97</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '98'%}">Division table of 98</a></li>
                <li class="bullet"><a href="{% url 'divisionURL' '99'%}">Division table of 99</a></li>
                
            </ul>
        </div>

</body> 

<script>

    function limit(inp){
        
        if (inp.value > 999 || inp.value < 1 || isNaN(inp.value)){
            alert("Value has the limit of 1 to 999.");
            return inp.value = "";
        }
    }

    function chk(evt){
        var x = evt.target.parentNode.parentNode.firstChild.innerHTML;
        var y = evt.target.parentNode.parentNode.childNodes[2].innerHTML;
        var z = Number(x) / Number(y);
        var j = evt.target.value;
        
        if (z == j){
            var m = evt.target.style = "background-color:rgb(180, 234, 136); width: 60px;"
            }else{
            var m = evt.target.style = "background-color: red; color: white; width: 60px;"
            }
            
    }

    function wscroll(event){
        if (event.target.value){
            return event.target.value = "";
        }else{
        window.scrollBy({top:51, behavior: "smooth"});
        }
        
    }

    function getRndInteger(min, max) {
        return Math.floor(Math.random() * (max - min + 1) ) + min;
    }

    function addFields(){
        
        var calcInputs = document.querySelectorAll("input");
        var a = calcInputs[0].value;
        var line = calcInputs[1].value;
        var practice = calcInputs[2];
        var randomOn = calcInputs[3];
        var ranNum = document.getElementById("ranNum");
        var raNnumber = calcInputs[4].value;
        var b = document.getElementById("container");

        while(b.hasChildNodes()){
            b.removeChild(b.lastChild);
        }
    
        var table = document.createElement("table");
        table.width = "100%";
        table.className="tabuada";
        
        b.appendChild(table);
        for (var i=0; i<line; i++){
            var row = document.createElement("tr");
            table.appendChild(row);

            var td1 = document.createElement("td");
            
            if (randomOn.checked == true){
            ranNum.style.display = "block";

             

            var d1 = document.createTextNode(a * getRndInteger(Number(raNnumber), (Number(raNnumber)+30)));
            console.log(d1)
            td1.appendChild(d1);
            row.appendChild(td1);
            }else{
            ranNum.style.display = "none"; 
            var d1 = document.createTextNode((i+1)*a);
            td1.appendChild(d1);
            row.appendChild(td1);
            }

            var td2 = document.createElement("td");
            var d2 = document.createTextNode("÷");
            td2.appendChild(d2);
            row.appendChild(td2);

            var td3 = document.createElement("td");
            var d3 = document.createTextNode(a);
            td3.appendChild(d3);
            row.appendChild(td3);
    
        var td4 = document.createElement("td");
        var d4 = document.createTextNode("=");
        td4.appendChild(d4);
        row.appendChild(td4);
        var td5 = document.createElement("td");
        if (practice.checked == true){
            var d5 = document.createElement("input");
            d5.type = "text";
            d5.value = "";
            d5.style = "width: 60px;"
            td5.appendChild(d5);
            row.appendChild(td5);
            d5.addEventListener("input", chk);
            d5.addEventListener("focus", wscroll);
            
        }else{
            var d5 = document.createTextNode(Number(d1.nodeValue) / Number(a));
            td5.appendChild(d5);
            row.appendChild(td5);
        }
    }
}
    
</script>

		
</body>
{%endblock%}
