{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- Mathjax library script -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
<!-- End of Mathjax library script -->

<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Gold Weight Calculator</title>
<meta name="description" content="Gold Weight | Free Calculator to find Gold Weight" />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Gold Weight Calculator" />
<meta property="og:description" content="Gold Weight | Free Calculator to find Gold Weight" />
<meta content="" property="og:site_name" />

    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Gold Weight Calculator" />
<meta name="twitter:description" content="Gold Weight | Free Calculator to find Gold Weight" />

<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->

<meta property='og:title' content="Gold Weight Calculator" />

<meta property='og:description' content="Gold Weight | Free Calculator to find Gold Weight" />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>

   
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <p class="center"><strong>Gold Weight Calculator</strong></p>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}   

            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Gold Shape</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Bar </option>
                            {% else %}
                            <option value="form1"> Bar  </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> Coin </option>
                            {% else %}
                            <option value="form2">Coin</option>
                            {% endif %}

                        </select>
                        
                    </div>




                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Gold Type</strong></div>
                        </div>
                        
                        <select class="select form-control" id="inlineFormInputGroup" name="Type" id="Type" onchange="modifyres10()">
                                
      
                                  {% if Type == 'Gold' %}
                                  <option value="Gold" selected="selected">Gold</option>
                                  {% else %}
                                  <option value="Gold">Gold</option>
                                  {% endif %}

                                  {% if Type == 'Fools' %}
                                  <option value="Fools" selected="selected">Fools Gold</option>
                                  {% else %}
                                  <option value="Fools">Fools Gold</option>
                                  {% endif %}

                                  {% if Type == 'Liquid' %}
                                  <option value="Liquid" selected="selected">Liquid Gold</option>
                                  {% else %}
                                  <option value="Liquid">Liquid Gold</option>
                                  {% endif %}
      
                        </select>
                    </div>


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Density</strong></div>
                        </div>
                        <input type="text" id="inlineFormInputGroup" disabled
                            class="form-control" name="Density" id="Density" {% if Density or Density == 0 %} value="{{Density}}" {% else %} value="19.32" {% endif %}>
                            <div class="input-group-text"><strong>gram/cm³</strong></div>
                    </div>




                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Depth</strong></div>
                        </div>
                        <input type="number" step="any" min="0" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Depth"  class="form-control" name="Depth" id="Depth" {% if Depth or Depth == 0 %} value="{{Depth}}" {% else %} value="1" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="Depth_op" id="Depth_op">

                            {% if Depth_op == 'mm' %}
                            <option value="mm" selected="selected">mm</option>
                            {% else %}
                            <option value="mm">mm</option>
                            {% endif %}

                            {% if Depth_op == 'cm' %}
                            <option value="cm" selected="selected">cm</option>
                            {% else %}
                            <option value="cm">cm</option>
                            {% endif %}

                            {% if Depth_op == 'dm' %}
                            <option value="dm" selected="selected">dm</option>
                            {% else %}
                            <option value="dm">dm</option>
                            {% endif %}

                            {% if Depth_op == 'm' %}
                            <option value="m" selected="selected">m</option>
                            {% else %}
                            <option value="m">m</option>
                            {% endif %}

                        </select>
                    </div>



                    {% if given_data == 'form1' %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Length</strong></div>
                        </div>
                        <input type="number" step="any" min="0" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Length"  class="form-control" name="Length" id="Length" {% if Length or Length == 0 %} value="{{Length}}" {% else %} value="2" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="Length_op" id="Length_op">

                            {% if Length_op == 'mm' %}
                            <option value="mm" selected="selected">mm</option>
                            {% else %}
                            <option value="mm">mm</option>
                            {% endif %}

                            {% if Length_op == 'cm' %}
                            <option value="cm" selected="selected">cm</option>
                            {% else %}
                            <option value="cm">cm</option>
                            {% endif %}

                            {% if Length_op == 'dm' %}
                            <option value="dm" selected="selected">dm</option>
                            {% else %}
                            <option value="dm">dm</option>
                            {% endif %}

                            {% if Length_op == 'm' %}
                            <option value="m" selected="selected">m</option>
                            {% else %}
                            <option value="m">m</option>
                            {% endif %}

                        </select>
                    </div>




                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Width</strong></div>
                        </div>
                        <input type="number" step="any" min="0" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Width"  class="form-control" name="Width" id="Width" {% if Width or Width == 0 %} value="{{Width}}" {% else %} value="1.4" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="Width_op" id="Width_op">

                            {% if Width_op == 'mm' %}
                            <option value="mm" selected="selected">mm</option>
                            {% else %}
                            <option value="mm">mm</option>
                            {% endif %}

                            {% if Width_op == 'cm' %}
                            <option value="cm" selected="selected">cm</option>
                            {% else %}
                            <option value="cm">cm</option>
                            {% endif %}

                            {% if Width_op == 'dm' %}
                            <option value="dm" selected="selected">dm</option>
                            {% else %}
                            <option value="dm">dm</option>
                            {% endif %}

                            {% if Width_op == 'm' %}
                            <option value="m" selected="selected">m</option>
                            {% else %}
                            <option value="m">m</option>
                            {% endif %}

                        </select>
                    </div>
                    {% endif %}


                    {% if given_data == 'form2' %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Diameter</strong></div>
                        </div>
                        <input type="number" step="any" min="0" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Diameter"  class="form-control" name="Diameter" id="Diameter" {% if Diameter or Diameter == 0 %} value="{{Diameter}}" {% else %} value="2.7" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="Diameter_op" id="Diameter_op">

                            {% if Diameter_op == 'mm' %}
                            <option value="mm" selected="selected">mm</option>
                            {% else %}
                            <option value="mm">mm</option>
                            {% endif %}

                            {% if Diameter_op == 'cm' %}
                            <option value="cm" selected="selected">cm</option>
                            {% else %}
                            <option value="cm">cm</option>
                            {% endif %}

                            {% if Diameter_op == 'dm' %}
                            <option value="dm" selected="selected">dm</option>
                            {% else %}
                            <option value="dm">dm</option>
                            {% endif %}

                            {% if Diameter_op == 'm' %}
                            <option value="m" selected="selected">m</option>
                            {% else %}
                            <option value="m">m</option>
                            {% endif %}

                        </select>
                    </div>
                    {% endif %}





                    


                    


                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1" value="data">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>




<div id="clear">

    {% if f1 %}
    
    <div class="card" id="Results">
        <div class="card-header">
            <p><strong>Results</strong> </p>
        </div>
        
        
        <div class="card-body"> <span> 
            
            <p><strong><span style="color: blue;">Weight Of Gold:&nbsp;&nbsp;&nbsp;</span><span id="span1" style="color: red;">{{Weight}} </span></strong>
                <select style="margin-left:5px" id="myunt1" onchange="modifyres1()">
                    <option value="1" selected="">mg</option>
                    <option value="0.001">g</option>
                    <option value="0.000001">kg</option>
                    <option value="0.000035274">oz</option>
                    <option value="0.00000220462">lb</option>
                </select>
        </p>

        <p><strong>Formulas Used:</strong></p>
        
        <p class="btn btn-outline-secondary active">Thrust Block = Thrust Force / Pressure</p><br>
    
        
        <strong>Input values are:-</strong>
            <p>Thrust Force = {{Force}}</p>
            <p>Pressure = {{Pressure}}</p>
            
            
        <strong>Put values into formula</strong>
           <p>Thrust Block = {{Force}} / {{Pressure}}</p>
           <p><strong style="color: brown;">Thrust Block = {{Block}} newton</strong></p>

           
        </div>

       

    </div>
    {% endif %}
</div>

{% if f1 %}
<script>
    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
</script>
{% endif %}

<script>
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }

        const result = document.getElementById("span1").innerHTML
        function modifyres1(){
            
            var sus  = document.getElementById("myunt1")
            document.getElementById("span1").innerHTML = +(Number(result) * sus.value)
        }

        function modifyres10(){
            // console.log(event.target.value)
            // console.log(document.getElementsByClassName('form-control')[2].value)

            if (event.target.value == "Gold"){
                // console.log(document.getElementById("Density"))
                document.getElementsByClassName('form-control')[2].value = 19.32  
            }
            if (event.target.value == "Fools"){
                // console.log(document.getElementById("Density"))
                document.getElementsByClassName('form-control')[2].value = "5.02"
                
            }
            if (event.target.value == "Liquid"){
                // console.log(document.getElementById("Density"))
                document.getElementsByClassName('form-control')[2].value = 17.31
            }
            
            
            // var type  = document.getElementById("myunt1")
            // document.getElementById("span1").innerHTML = +(Number(result) * sus.value)
        }

    </script>
    
    <script>
        function myFunction() {

                document.getElementById("clear").innerHTML = "";
                document.getElementsByName("Depth")[0].value = "";
                document.getElementsByName("Length")[0].value = "";
                document.getElementsByName("Width")[0].value = "";
                document.getElementsByName("Diameter")[0].value = "";
               
            }
        </script>
    <br>
    
    
    {% endblock %}