{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Estimated Time of Arrival Calculator</title>
<meta name="description"
    content="Estimated Time of Arrival Calculator makes it easy for you to Half Life." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta property="og:description" content="Half Life Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg"
    property="og:image" />
    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle>Estimated Time of Arrival Calculator</tittle>
<meta property='og:title' content="Estimated Time of Arrival Calculator | Half Life" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property='og:description' content="Half Life Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Estimated Time of Arrival Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}   

            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>I am measuring:</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Myself </option>
                            {% else %}
                            <option value="form1"> Myself  </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> A pair of jeans </option>
                            {% else %}
                            <option value="form2">A pair of jeans</option>
                            {% endif %}

                        </select>
                    </div>




                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Sex</strong></div>
                        </div>
                        
                        <select class="select form-control" id="inlineFormInputGroup" name="Sex" id="Sex">
                                
      
                                  {% if Sex == 'Male' %}
                                  <option value="Male" selected="selected">Male</option>
                                  {% else %}
                                  <option value="Male">Male</option>
                                  {% endif %}

                                  {% if Sex == 'Female' %}
                                  <option value="Female" selected="selected">Female</option>
                                  {% else %}
                                  <option value="Female">Female</option>
                                  {% endif %}
      
                        </select>
                    </div>




                    <div class="input-group mb-2">
                        {% if given_data == 'form1' %}
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Waist</strong></div>
                        </div>
                        {% endif %}

                        {% if given_data == 'form2' %}
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Width</strong></div>
                        </div>
                        {% endif %}

                        <input type="number" step="0.01" min="7.5" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Size"  class="form-control" name="W" id="W" {% if W or W == 0 %} value="{{W}}" {% else %} value="32" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="W_op" id="W_op">

                          

                            {% if W_op == 'in' %}
                            <option value="in" selected="selected">inches (in)</option>
                            {% else %}
                            <option value="in">inches (in)</option>
                            {% endif %}

                            {% if W_op == 'cm' %}
                            <option value="cm" selected="selected">centimeters (cm)</option>
                            {% else %}
                            <option value="cm">centimeters (cm)</option>
                            {% endif %}


                            

                        </select>
                    </div>


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Length</strong></div>
                        </div>
                        <input type="number" step="0.01" min="15" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Length"  class="form-control" name="L" id="L" {% if L or L == 0 %} value="{{L}}" {% else %} value="32" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="L_op" id="L_op">

                            {% if L_op == 'in' %}
                            <option value="in" selected="selected">inches (in)</option>
                            {% else %}
                            <option value="in">inches (in)</option>
                            {% endif %}

                            {% if L_op == 'cm' %}
                            <option value="cm" selected="selected">centimeters (cm)</option>
                            {% else %}
                            <option value="cm">centimeters (cm)</option>
                            {% endif %}
                        </select>
                    </div>

                    
                    
                    



                    

                    
                    




                    



                        

                        


                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1" value="data">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if f1 %}
    
    <div class="card" id="Results">
        <div class="card-header">
            <h2 class="h2">Results</h2>
        </div>
        
        
        <div class="card-body"> <span>
            <h3><strong><span style="color: blue;">Your Indian size is:&nbsp;&nbsp;</span>{{India}}</strong>
            </h3>
            <h3><strong><span style="color: blue;">UK size:&nbsp;&nbsp;</span>{{UK}}</strong>
            </h3>
            <h3><strong><span style="color: blue;">European size:&nbsp;&nbsp;</span>{{European}}</strong>
            </h3>
            <h3><strong><span style="color: blue;">US size:&nbsp;&nbsp;</span>{{US}}</strong>
            </h3>
            

           

        </div>

        
    

    
    
    {% endif %}
</div>



<script>
    
    {% if id == 1 %}
     
    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    {%endif%}
    
        
    {% if id == 2 %}
     
    var scrollDiv = document.getElementById("my_form1").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    {%endif%}
    
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }
    </script>
    
    <script>
        function myFunction() {

                document.getElementsByName("D")[0].value = "";
                document.getElementsByName("S")[0].value = "";
                // document.getElementsByName("DT")[0].value = "";
                
               
                document.getElementById("clear").innerHTML = "";
            }
    </script>
    <br>
    
    
    {% endblock %}