{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- Mathjax library script -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
<!-- End of Mathjax library script -->

<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Mass From Volume & Concentration Calculator</title>
<meta name="description" content="Mass From Volume & Concentration | Free Calculator to find Mass From Volume & Concentration" />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Mass From Volume & Concentration Calculator" />
<meta property="og:description" content="Mass From Volume & Concentration | Free Calculator to find Mass From Volume & Concentration" />
<meta content="" property="og:site_name" />

    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Mass From Volume & Concentration Calculator" />
<meta name="twitter:description" content="Mass From Volume & Concentration | Free Calculator to find Mass From Volume & Concentration" />

<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->

<meta property='og:title' content="Mass From Volume & Concentration Calculator" />

<meta property='og:description' content="Mass From Volume & Concentration | Free Calculator to find Mass From Volume & Concentration" />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <p class="center"><strong>Mass From Volume & Concentration Calculator</strong></p>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}   

            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Concentration</strong></div>
                        </div>
                        <input type="number" min="0" step="0.000000000001" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" placeholder="Enter Concentration"  class="form-control" name="Concentration" id="Concentration" {% if Concentration or Concentration == 0 %} value="{{Concentration}}" {% else %} value="3.2" {% endif %}>

                        <select class="select form-control" id="inlineFormInputGroup" name="Concentration_op" id="Concentration_op">

                            {% if Concentration_op == 'milli' %}
                            <option value="milli" selected="selected">millimolar</option>
                            {% else %}
                            <option value="milli">millimolar</option>
                            {% endif %}

                            {% if Concentration_op == 'femt' %}
                            <option value="femt" selected="selected">femtomolar</option>
                            {% else %}
                            <option value="femt">femtomolar</option>
                            {% endif %}

                            {% if Concentration_op == 'pico' %}
                            <option value="pico" selected="selected">picomolar</option>
                            {% else %}
                            <option value="pico">picomolar</option>
                            {% endif %}

                            {% if Concentration_op == 'nano' %}
                            <option value="nano" selected="selected">nanomolar</option>
                            {% else %}
                            <option value="nano">nanomolar</option>
                            {% endif %}

                            

                            {% if Concentration_op == 'micro' %}
                            <option value="micro" selected="selected">micromolar</option>
                            {% else %}
                            <option value="micro">micromolar</option>
                            {% endif %}

                            

                            {% if Concentration_op == 'molar' %}
                            <option value="molar" selected="selected">molar</option>
                            {% else %}
                            <option value="molar">molar</option>
                            {% endif %}

                           </select>
                    </div>


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Formula Weight (daltons)</strong></div>
                        </div>
                        <input type="number" min="0" step="0.000000000001" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" placeholder="Enter Formula Weight (daltons)"  class="form-control" name="Weight" id="Weight" {% if Weight or Weight == 0 %} value="{{Weight}}" {% else %} value="931.49410242" {% endif %}>
                    </div>


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Volume</strong></div>
                        </div>
                        <input type="number" min="0" step="0.000000000001" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" placeholder="Enter Volume"  class="form-control" name="Volume" id="Volume" {% if Volume or Volume == 0 %} value="{{Volume}}" {% else %} value="1.8" {% endif %}>

                        <select class="select form-control" id="inlineFormInputGroup" name="Volume_op" id="Volume_op">

                            {% if Volume_op == 'milli' %}
                            <option value="milli" selected="selected">milliliter</option>
                            {% else %}
                            <option value="milli">milliliter</option>
                            {% endif %}

                            {% if Volume_op == 'micro' %}
                            <option value="micro" selected="selected">microliter</option>
                            {% else %}
                            <option value="micro">microliter</option>
                            {% endif %}

                            

                            {% if Volume_op == 'liter' %}
                            <option value="liter" selected="selected">liter</option>
                            {% else %}
                            <option value="liter">liter</option>
                            {% endif %}

                        </select>
                    </div>


                    

                        

                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1" value="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>




<div id="clear">

    {% if f1 %}
    
    <div class="card" id="Results">
        <div class="card-header">
            <p><strong>Results</strong> </p>
        </div>
        
        
        <div class="card-body"> <span> 
            
            <p><strong><span style="color: blue;">Mass:&nbsp;&nbsp;&nbsp;</span><span id="span1" style="color: red;">{{mass}}</span></strong>
                <select style="margin-left:5px" id="myunt1" onchange="modifyres1()">
                    <option value="1" selected="">micrograms</option>
                    <option value="0.001">milligrams</option>
                    <option value="0.000001">grams</option>
                    <option value="0.000000001">kilograms</option>
                </select>
                
            </p>

            <p><strong>Formulas Used:</strong></p>
            <p class="btn btn-outline-secondary active">Mass = Concentration (millimolar) * Formula Weight (daltons) * Volume (milliliter)</p><br><br>

            <strong>Input values are:-</strong>
            <p>Concentration = {{Concentration}} </p>
            <p>Formula Weight (daltons) = {{Weight}}</p>
            <p>Volume = {{Volume}}</p>

            <strong>Convert Concentration into millimolar and Volume into milliliter</strong><br>
            <p>Concentration = {{Concentration}} * {{c}}</p>
            <p>Concentration = {{concentration}} millimolar</p>
            <p>Volume = {{Volume}} * {{v}}</p>
            <p>Volume = {{volume}} milliliter</p>
            <strong>After conversion put values into formulas</strong>
            <p>Mass = {{concentration}} (millimolar) * {{weight}} (daltons) * {{volume}} (milliliter)</p>
            <p><strong>Mass = {{mass}} micrograms</strong></p>
        </div>

    </div>
    {% endif %}
</div>

{% if f1 %}
<script>
    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
</script>
{% endif %}

<script>
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }

        const result = document.getElementById("span1").innerHTML
        function modifyres1(){
            
            var sus  = document.getElementById("myunt1")
            document.getElementById("span1").innerHTML = +(Number(result) * sus.value)
        }

    </script>
    
    <script>
        function myFunction() {

                document.getElementsByName("Concentration")[0].value = "";
                document.getElementsByName("Weight")[0].value = "";
                document.getElementsByName("Volume")[0].value = "";
                document.getElementById("clear").innerHTML = "";
            }
        </script>
    <br>
    
    
    {% endblock %}