{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Snow Weight Calculator| Free Calculator to find Snow Weight</title>
<meta name="description"
    content="Ohm's law Calculator makes it easy for you to find Ohm's law." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Ohm's law Calculator | Free Calculator to find Ohm's law" />
<meta property="og:description" content="Ohm's law Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Ohm's law Calculator | Free Calculator to find Ohm's law" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Meeting Cost Calculator</tittle>
<meta property='og:title' content="Meeting Cost Calculator" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property='og:description' content="Ohm's law Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Meeting Cost Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}   

            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    


                    
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Average salary</strong></div>
                        </div>
                        <input type="number" step="0.01" min="1" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Average Salary"  class="form-control" name="AS" id="AS" {% if AS or AS == 0 %} value="{{AS}}" {% else %} value="600" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="AS_op" id="AS_op">

                          {% if AS_op == 'Hour' %}
                            <option value="Hour" selected="selected">/hour</option>
                            {% else %}
                            <option value="Hour">/hour</option>
                            {% endif %}

                            {% if AS_op == 'Week' %}
                            <option value="Week" selected="selected">/week</option>
                            {% else %}
                            <option value="Week">/week</option>
                            {% endif %}


                            {% if AS_op == 'Month' %}
                            <option value="Month" selected="selected">/month</option>
                            {% else %}
                            <option value="Month">/month</option>
                            {% endif %}

                            {% if AS_op == 'Year' %}
                            <option value="Year" selected="selected">/year</option>
                            {% else %}
                            <option value="Year">/year</option>
                            {% endif %}

                        </select>
                    </div>
                    


                    
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Number of attendants</strong></div>
                        </div>
                        <input type="number" step="1" min="2" oninput="validateNumber(this);"  id="inlineFormInputGroup" required=""
                            placeholder="Enter Number of attendants"  class="form-control"  id="NA" name="NA" {% if NA or NA == 0 %} value="{{NA}}" {% else %} value="5" {% endif %}>
                    </div>



                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Meeting duration</strong></div>
                        </div>
                        <input type="number" step="1" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" min="0" max="23"
                        placeholder="Enter Time in Hours"  class="form-control" name="TH" id="TH" {% if TH or TH == 0 %} value="{{TH}}" {% else %} value="0" {% endif %}>
                        <div class="input-group-text"><strong>hrs</strong></div>

                        <input type="number" step="1" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" min="0" max="59"
                        placeholder="Enter Time in Minutes"  class="form-control" name="TM" id="TM" {% if TM or TM == 0 %} value="{{TM}}" {% else %} value="30" {% endif %}>
                        <div class="input-group-text"><strong>mins</strong></div> 
                    </div>




                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Time spent on setting up the meeting</strong></div>
                        </div>
                        <input type="number" step="1" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" min="0" max="30"
                        placeholder="Enter Time in Hours"  class="form-control" name="TH1" id="TH1" {% if TH1 or TH1 == 0 %} value="{{TH1}}" {% else %} value="0" {% endif %}>
                        <div class="input-group-text"><strong>hrs</strong></div>

                        <input type="number" step="1" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" min="0" max="59"
                        placeholder="Enter Time in Minutes"  class="form-control" name="TM1" id="TM1" {% if TM1 or TM1 == 0 %} value="{{TM1}}" {% else %} value="15" {% endif %}>
                        <div class="input-group-text"><strong>mins</strong></div> 
                    </div>


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Supplementary cost per meeting</strong></div>
                        </div>
                        <input type="number" min="0" oninput="validateNumber(this);"  id="inlineFormInputGroup" required=""
                            placeholder="Enter Number of attendants"  class="form-control"  id="SC" name="SC" {% if SC or SC == 0 %} value="{{SC}}" {% else %} value="0" {% endif %}>
                    </div>
                    


                    

                    

                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1" value="data">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>



<div id="clear">

{% if f1 %}
    <div class="card" id="Meeting Cost Calculator">
        <div class="card-header">
            <h2 class="h2">Results</h2>
        </div>
        
        <div class="card-body">

            
            <strong style="font-size: 20px; color: blue;"> Cost of a meeting:&nbsp;&nbsp;{{cost|floatformat:"-2"}}</b></strong><br><br>

            <strong style="font-size: 20px; color: blue;"> Cost of meetings per year:&nbsp;&nbsp;{{ycost|floatformat:"-2"}}</b></strong><br><br>

            <p>If you ever wondered how much does a meeting cost, use our meeting cost calculator to answer the question "How much money does a meeting cost for my business?"</p>

            <h3>How much does it cost to have a meeting?</h3>
            <p>According to the U.S. Bureau of Labor Statistics, unnecessary meetings cost U.S. businesses approximately $37 billion each year. That's because meetings are possibly one of the most expensive overhead costs in an organization and often managed inefficiently.</p>

            <h3>How long should a meeting be?</h3>
            <p>The average length of a meeting is between 31 to 60 minutes, according to statistics. In the last 15 years, the average duration of a meeting has increased by 10%. In the US, companies hold about 11 million meetings a day in total, which equals 55 million meetings per week and 220 million meetings per year.</p>

            <h3>Use the following guide to find out how much does it cost to have a meeting.</h3>
            <h4>1. Specify attendants' salaries by the average.</h4>
            <p>For the average option, you need to set the average salary for the attendants. You can choose any of the following periods for the salary:</p>
            <ul>
                <li>Annual (note, that we presume that there are 2,080 working hours in a year);</li>
                <li>Monthly;</li>
                <li>Weekly (we assume 40 working hours in a week); and</li>
                <li>Hourly.</li>
            </ul>
            <h4>2. How many people attend the meeting?</h4>
            <h4>3. What is the duration of your meeting?</h4>
            <h4>4. Time spent on setting up the meeting</h4>
            <p> If the meeting organizer spends some time setting up the meeting, you can add the approximate time needed.</p>
            <h4>5. Supplementary cost per meeting</h4>
            <p>You can include any cost related to the meeting; for example, you can include the cost of a zoom meeting or the cost of renting a room (is it a low-cost meeting room or a more expensive one) and the cost of used materials during the meeting.</p>
            <p>After specifying all inputs, the meeting cost calculator will evaluate the result immediately.</p>

               
        </div>

            

            
        

    </div>
    {% endif %}
</div>



<script>
    
    {% if id == 1 %}
     
    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    {%endif%}
    
        
    {% if id == 2 %}
     
    var scrollDiv = document.getElementById("my_form1").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    {%endif%}
    
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }


        
    </script>
    
    <script>
        function myFunction() {
    
            
    
                document.getElementsByName("AS")[0].value = "";
                document.getElementsByName("NA")[0].value = "";
                document.getElementsByName("TH")[0].value = "";
                document.getElementsByName("TM")[0].value = "";
                document.getElementsByName("TH1")[0].value = "";
                document.getElementsByName("TM1")[0].value = "";
                document.getElementsByName("SC")[0].value = "";
                

               
                document.getElementById("clear").innerHTML = "";
    
            
    
            
    
            
    
            
    
    
    
        }
    </script>
    <br>
    
    
{% endblock %}

    