{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
Online Calculator Guru Project Style Sheet
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Multiplication Table Generator Calculator</title>
<meta name="description"
    content="Half Life Calculator makes it easy for you to Half Life." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta property="og:description" content="Half Life Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg"
    property="og:image" />
    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<!-- <tittle> Multiplication Table Generator Calculator</tittle> -->
<meta property='og:title' content="Half Life Calculatorr | Half Life" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property='og:description' content="Half Life Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    .calculator-tab button {
    background-color: #444;
    color: #fff;
    border: 0;
    outline: 0;
    margin: 6.5px -1px 0 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 7px;
    cursor: pointer;
    padding: 3px 5px 0 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}

.calculator-tab button.active {
    background-color: #fbfffc;
    color: #444;
    cursor: default;
    border: 1px solid #3E7E3C;
    border-bottom: none;
}

.calculator-tab button:hover {
    background-color: #3E7E3C;
    color: #fff;
}

	.tabuada {
    background-color: #fff;
    padding: 5px;
    min-height: 250px;
    border: 2px dashed #48684a;
    border-radius: 10px;
}

    .tabuada input, .tabuada td {
    color: #48684a;
    font-family: monospace!important;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

    .tabuada input {
    width: 95px;
    height: 30px;
    margin: 0;
    padding: 0 3px 0 3px;
}

    .calculator-tabbed {
    margin: 33px 0;
}

    .calculator-tab {
    margin: -42.4px 0 5px 0;
}

@media only screen and (max-width: 700px){
    .col-1-2{
    width: 65%;
    }
}


.col-1-2{
    padding: 0 0.2rem;
    display: inline-block;
    vertical-align: top;
}

.col-1-2 a:hover{
    text-decoration: none;
    color: darkred;
}

.calculator {
    padding: 3px;
    margin: 0 0 3px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #3E7E3C;
    background-color: #fbfffc;
}

</style>

<body onload="addFields();">
    

    <div class="row" style="height: auto !important;">
        
        
    <div class="card c1" style="border: 0px; margin: auto;"> 
        
    
		<div class="calculator calculator-tabbed">
            
		<div class="calculator-tab">
        
        <a href='{% url "addG" %}'><button>Addition</button></a> 
        <a href='{% url "subG" %}'><button>Subtraction</button></a>
        <a href='{% url "mulG" %}'><button class="active">Multiplication</button></a>
        <a href='{% url "divG" %}'><button>Division</button></a>
		
		</div>
		
        <p>Generate a multiplication table of <input type="text" style="width:4em" name="inpu" value="{{a}}" oninput="limit(this); addFields();"></p>

		<p>Containing <input type="text" name="line" style="width: 4em;" value="10" oninput="limit(this); addFields();"> lines.</p>

        <p>Practice with the generated table:<input type="checkbox" style="width: 20px; height: 20px;" checked name="practice" id="practice" value="" onchange="addFields();"></p>
        
        
        <p>Random numbers:<input type="checkbox" style="width: 20px; height: 20px;" name="randomOn" id="randomOn" value="" onchange="addFields();"></p>

    <div id="ranNum">
		<p>Random numbers start at:<input type="text" style="width: 4em;" name="rannumber" value="10" oninput="limit(this); addFields();"></p>
    </div>    
		
		<div id="container"></div>

        </div></div></div>

    <div class="center">
        {% if not b %}

        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'multiply' '1'%}">Multiplication table of 1</a></li>
                <li class="bullet"><a href="{% url 'multiply' '2'%}">Multiplication table of 2</a></li>
                <li class="bullet"><a href="{% url 'multiply' '3'%}">Multiplication table of 3</a></li>
                <li class="bullet"><a href="{% url 'multiply' '4'%}">Multiplication table of 4</a></li>
                <li class="bullet"><a href="{% url 'multiply' '5'%}">Multiplication table of 5</a></li>
                <li class="bullet"><a href="{% url 'multiply' '6'%}">Multiplication table of 6</a></li>
                <li class="bullet"><a href="{% url 'multiply' '7'%}">Multiplication table of 7</a></li>
                <li class="bullet"><a href="{% url 'multiply' '8'%}">Multiplication table of 8</a></li>
                <li class="bullet"><a href="{% url 'multiply' '9'%}">Multiplication table of 9</a></li>
                <li class="bullet"><a href="{% url 'multiply' '10'%}">Multiplication table of 10</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'multiply' '11'%}">Multiplication table of 11</a></li>
                <li class="bullet"><a href="{% url 'multiply' '12'%}">Multiplication table of 12</a></li>
                <li class="bullet"><a href="{% url 'multiply' '13'%}">Multiplication table of 13</a></li>
                <li class="bullet"><a href="{% url 'multiply' '14'%}">Multiplication table of 14</a></li>
                <li class="bullet"><a href="{% url 'multiply' '15'%}">Multiplication table of 15</a></li>
                <li class="bullet"><a href="{% url 'multiply' '16'%}">Multiplication table of 16</a></li>
                <li class="bullet"><a href="{% url 'multiply' '17'%}">Multiplication table of 17</a></li>
                <li class="bullet"><a href="{% url 'multiply' '18'%}">Multiplication table of 18</a></li>
                <li class="bullet"><a href="{% url 'multiply' '19'%}">Multiplication table of 19</a></li>
                <li class="bullet"><a href="{% url 'multiply' '20'%}">Multiplication table of 20</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'multiply' '21'%}">Multiplication table of 21</a></li>
                <li class="bullet"><a href="{% url 'multiply' '22'%}">Multiplication table of 22</a></li>
                <li class="bullet"><a href="{% url 'multiply' '23'%}">Multiplication table of 23</a></li>
                <li class="bullet"><a href="{% url 'multiply' '24'%}">Multiplication table of 24</a></li>
                <li class="bullet"><a href="{% url 'multiply' '25'%}">Multiplication table of 25</a></li>
                <li class="bullet"><a href="{% url 'multiply' '26'%}">Multiplication table of 26</a></li>
                <li class="bullet"><a href="{% url 'multiply' '27'%}">Multiplication table of 27</a></li>
                <li class="bullet"><a href="{% url 'multiply' '28'%}">Multiplication table of 28</a></li>
                <li class="bullet"><a href="{% url 'multiply' '29'%}">Multiplication table of 29</a></li>
                <li class="bullet"><a href="{% url 'multiply' '30'%}">Multiplication table of 30</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'multiply' '31'%}">Multiplication table of 31</a></li>
                <li class="bullet"><a href="{% url 'multiply' '32'%}">Multiplication table of 32</a></li>
                <li class="bullet"><a href="{% url 'multiply' '33'%}">Multiplication table of 33</a></li>
                <li class="bullet"><a href="{% url 'multiply' '34'%}">Multiplication table of 34</a></li>
                <li class="bullet"><a href="{% url 'multiply' '35'%}">Multiplication table of 35</a></li>
                <li class="bullet"><a href="{% url 'multiply' '36'%}">Multiplication table of 36</a></li>
                <li class="bullet"><a href="{% url 'multiply' '37'%}">Multiplication table of 37</a></li>
                <li class="bullet"><a href="{% url 'multiply' '38'%}">Multiplication table of 38</a></li>
                <li class="bullet"><a href="{% url 'multiply' '39'%}">Multiplication table of 39</a></li>
                <li class="bullet"><a href="{% url 'multiply' '40'%}">Multiplication table of 40</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'multiply' '41'%}">Multiplication table of 41</a></li>
                <li class="bullet"><a href="{% url 'multiply' '42'%}">Multiplication table of 42</a></li>
                <li class="bullet"><a href="{% url 'multiply' '43'%}">Multiplication table of 43</a></li>
                <li class="bullet"><a href="{% url 'multiply' '44'%}">Multiplication table of 44</a></li>
                <li class="bullet"><a href="{% url 'multiply' '45'%}">Multiplication table of 45</a></li>
                <li class="bullet"><a href="{% url 'multiply' '46'%}">Multiplication table of 46</a></li>
                <li class="bullet"><a href="{% url 'multiply' '47'%}">Multiplication table of 47</a></li>
                <li class="bullet"><a href="{% url 'multiply' '48'%}">Multiplication table of 48</a></li>
                <li class="bullet"><a href="{% url 'multiply' '49'%}">Multiplication table of 49</a></li>
                <li class="bullet"><a href="{% url 'multiply' '50'%}">Multiplication table of 50</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'multiply' '51'%}">Multiplication table of 51</a></li>
                <li class="bullet"><a href="{% url 'multiply' '52'%}">Multiplication table of 52</a></li>
                <li class="bullet"><a href="{% url 'multiply' '53'%}">Multiplication table of 53</a></li>
                <li class="bullet"><a href="{% url 'multiply' '54'%}">Multiplication table of 54</a></li>
                <li class="bullet"><a href="{% url 'multiply' '55'%}">Multiplication table of 55</a></li>
                <li class="bullet"><a href="{% url 'multiply' '56'%}">Multiplication table of 56</a></li>
                <li class="bullet"><a href="{% url 'multiply' '57'%}">Multiplication table of 57</a></li>
                <li class="bullet"><a href="{% url 'multiply' '58'%}">Multiplication table of 58</a></li>
                <li class="bullet"><a href="{% url 'multiply' '59'%}">Multiplication table of 59</a></li>
                <li class="bullet"><a href="{% url 'multiply' '60'%}">Multiplication table of 60</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'multiply' '61'%}">Multiplication table of 61</a></li>
                <li class="bullet"><a href="{% url 'multiply' '62'%}">Multiplication table of 62</a></li>
                <li class="bullet"><a href="{% url 'multiply' '63'%}">Multiplication table of 63</a></li>
                <li class="bullet"><a href="{% url 'multiply' '64'%}">Multiplication table of 64</a></li>
                <li class="bullet"><a href="{% url 'multiply' '65'%}">Multiplication table of 65</a></li>
                <li class="bullet"><a href="{% url 'multiply' '66'%}">Multiplication table of 66</a></li>
                <li class="bullet"><a href="{% url 'multiply' '67'%}">Multiplication table of 67</a></li>
                <li class="bullet"><a href="{% url 'multiply' '68'%}">Multiplication table of 68</a></li>
                <li class="bullet"><a href="{% url 'multiply' '69'%}">Multiplication table of 69</a></li>
                <li class="bullet"><a href="{% url 'multiply' '70'%}">Multiplication table of 70</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'multiply' '71'%}">Multiplication table of 71</a></li>
                <li class="bullet"><a href="{% url 'multiply' '72'%}">Multiplication table of 72</a></li>
                <li class="bullet"><a href="{% url 'multiply' '73'%}">Multiplication table of 73</a></li>
                <li class="bullet"><a href="{% url 'multiply' '74'%}">Multiplication table of 74</a></li>
                <li class="bullet"><a href="{% url 'multiply' '75'%}">Multiplication table of 75</a></li>
                <li class="bullet"><a href="{% url 'multiply' '76'%}">Multiplication table of 76</a></li>
                <li class="bullet"><a href="{% url 'multiply' '77'%}">Multiplication table of 77</a></li>
                <li class="bullet"><a href="{% url 'multiply' '78'%}">Multiplication table of 78</a></li>
                <li class="bullet"><a href="{% url 'multiply' '79'%}">Multiplication table of 79</a></li>
                <li class="bullet"><a href="{% url 'multiply' '80'%}">Multiplication table of 80</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'multiply' '81'%}">Multiplication table of 81</a></li>
                <li class="bullet"><a href="{% url 'multiply' '82'%}">Multiplication table of 82</a></li>
                <li class="bullet"><a href="{% url 'multiply' '83'%}">Multiplication table of 83</a></li>
                <li class="bullet"><a href="{% url 'multiply' '84'%}">Multiplication table of 84</a></li>
                <li class="bullet"><a href="{% url 'multiply' '85'%}">Multiplication table of 85</a></li>
                <li class="bullet"><a href="{% url 'multiply' '86'%}">Multiplication table of 86</a></li>
                <li class="bullet"><a href="{% url 'multiply' '87'%}">Multiplication table of 87</a></li>
                <li class="bullet"><a href="{% url 'multiply' '88'%}">Multiplication table of 88</a></li>
                <li class="bullet"><a href="{% url 'multiply' '89'%}">Multiplication table of 89</a></li>
                <li class="bullet"><a href="{% url 'multiply' '90'%}">Multiplication table of 90</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'multiply' '91'%}">Multiplication table of 91</a></li>
                <li class="bullet"><a href="{% url 'multiply' '92'%}">Multiplication table of 92</a></li>
                <li class="bullet"><a href="{% url 'multiply' '93'%}">Multiplication table of 93</a></li>
                <li class="bullet"><a href="{% url 'multiply' '94'%}">Multiplication table of 94</a></li>
                <li class="bullet"><a href="{% url 'multiply' '95'%}">Multiplication table of 95</a></li>
                <li class="bullet"><a href="{% url 'multiply' '96'%}">Multiplication table of 96</a></li>
                <li class="bullet"><a href="{% url 'multiply' '97'%}">Multiplication table of 97</a></li>
                <li class="bullet"><a href="{% url 'multiply' '98'%}">Multiplication table of 98</a></li>
                <li class="bullet"><a href="{% url 'multiply' '99'%}">Multiplication table of 99</a></li>
                <li class="bullet"><a href="{% url 'multiply' '100'%}">Multiplication table of 100</a></li>
                
            </ul>
        </div>
    {% endif %} 
    
    {% if b %}
    
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'multiply' b.0  %}">Multiplication table of {{b.0}}</a></li>
                <li class="bullet"><a href="{% url 'multiply' b.1 %}">Multiplication table of {{b.1}}</a></li>
            </ul>
        </div>  
        

        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'multiply' b.2 %}">Multiplication table of {{b.2}}</a></li>
                <li class="bullet"><a href="{% url 'multiply' b.3 %}">Multiplication table of {{b.3}}</a></li>
            </ul>
        </div>

        
        <div class="col-1-2">
            <ul>    
                <li class="bullet"><a href="{% url 'multiply' b.4 %}">Multiplication table of {{b.4}}</a></li>
                <li class="bullet"><a href="{% url 'multiply' b.5 %}">Multiplication table of {{b.5}}</a></li>
            </ul>
        </div>

        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'multiply' b.6 %}">Multiplication table of {{b.6}}</a></li>
                <li class="bullet"><a href="{% url 'multiply' b.7 %}">Multiplication table of {{b.7}}</a></li>
            </ul>
        </div>

        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'multiply' b.8 %}">Multiplication table of {{b.8}}</a></li>
                <li class="bullet"><a href="{% url 'multiply' b.9 %}">Multiplication table of {{b.9}}</a></li>
            </ul>
        </div>
         
        {% endif %}

    </div>


		
<script>

    function limit(inp){
        
        if (inp.value > 999 || inp.value < 1 || isNaN(inp.value)){
            alert("Value has the limit of 1 to 999.");
            return inp.value = "";
        }
    }

    function chk(evt){
        let x = evt.target.parentNode.parentNode.firstChild.innerHTML;
        let y = evt.target.parentNode.parentNode.childNodes[2].innerHTML;
        let z = Number(x)*Number(y);
        let j = evt.target.value;
        
        if (z == j){
            evt.target.style = "background-color:rgb(180, 234, 136); width: 60px;"
            }else{
            evt.target.style = "background-color: red; color: white; width: 60px;"
            }
    }

    function wscroll(event){
        if (event.target.value){
            return event.target.value = "";
        }else{
        window.scrollBy({top:51, behavior: "smooth"});
        }
        
    }

    
    function addFields(){

        var arr = [];
    function getRndInteger(min, max) {
        let zx = Math.floor(Math.random() * (max - min + 1) ) + min;
        if (arr.includes(zx)){
            return getRndInteger(min, max);
            }
        else{
            arr.push(zx);
            return zx;
        } 
    }
    
        
        const calcInputs = document.querySelectorAll("input");
        const a = calcInputs[0].value;
        const line = calcInputs[1].value;
        const practice = calcInputs[2];
        const randomOn = calcInputs[3];
        const ranNum = document.getElementById("ranNum");
        const raNnumber = calcInputs[4].value;
        const b = document.getElementById("container");

        while(b.hasChildNodes()){
            b.removeChild(b.lastChild);
        }

        function tableRowData(a){
            const td1 = document.createElement("td");
            const d1 = document.createTextNode(a);
            td1.appendChild(d1);
            return td1;
        };
    
        const table = document.createElement("table");
        table.width = "100%";
        table.className="tabuada";
        
        b.appendChild(table);
        for (let i=0; i<line; i++){
            const row = document.createElement("tr");
            table.appendChild(row);

            row.appendChild(tableRowData(a));
            row.appendChild(tableRowData('*'));

        if (randomOn.checked == true){
            ranNum.style.display = "block";
            let rdm = getRndInteger(Number(raNnumber), (Number(raNnumber)+(1.5*Number(line))));
            row.appendChild(tableRowData(rdm));
        }else{
            ranNum.style.display = "none"; 
            row.appendChild(tableRowData(i+1));
        }
    
        row.appendChild(tableRowData('='));
        
        if (practice.checked == true){
            let td5 = document.createElement("td");
            let d5 = document.createElement("input");
            d5.type = "text";
            d5.value = "";
            d5.style = "width: 60px;"
            td5.appendChild(d5);
            row.appendChild(td5);
            d5.addEventListener("input", chk);
            d5.addEventListener("focus", wscroll);
            
        }else{
            const out = (Number(a) * Number(row.childNodes[2].textContent));
            row.appendChild(tableRowData(out));
        }
    }
}
    
</script>
</body>
{%endblock%}
