{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initReference Temperaturel-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/lnoises/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/lnoises/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Effective Noise Temperature calculator | Free Calculator to find Effective Noise Temperature</title>
<meta name="description"
    content="Effective Noise Temperature calculator makes it easy for you to find Effective Noise Temperature." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Effective Noise Temperature calculator | Free Calculator to find Effective Noise Temperature" />
<meta property="og:description" content="Effective Noise Temperature calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/effective-noise-temperature-calculator
.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Effective Noise Temperature calculator | Free Calculator to find Effective Noise Temperature" />
<meta name="twitter:description"
    content="Effective Noise Temperature calculator" />
<meta name="twitter:image:src"

    content="https://onlinecalculator.guru/static/images/Chemistryeffective-noise-temperature-calculator/.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Effective Noise Temperature calculator</tittle>
<meta property='og:title' content="Effective Noise Temperature calculatorr | Effective Noise Temperature" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/effective-noise-temperature-calculator/
.jpeg" />
<meta property='og:description' content="Effective Noise Temperature calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1"> Effective Noise Temperature Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Choose a Calculation</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Find Effective Noise Temperature | Given Reference Temperature and  Noise Figure  </option>
                            {% else %}
                            <option value="form1"> Find Effective Noise Temperature | Given Reference Temperature and  Noise Figure </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> Find Reference Temperature | Given Effective Noise Temperature and Noise Figure  </option>
                            {% else %}
                            <option value="form2">Find Reference Temperature | Given Effective Noise Temperature and Noise Figure </option>
                            {% endif %}

                            {% if given_data == 'form3' %}
                            <option value="form3" selected="selected"> Find Noise Figure| Given Effective Noise Temperature and Reference Temperature
                            </option>
                            {% else %}
                            <option value="form3"> Find Noise Figure| Given Effective Noise Temperature and Reference Temperature  </option>
                            {% endif %}
                </select>
                    </div>


                    {% if given_data != "form3" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Noise Figure </strong></div>
                        </div>
                        <input type="number" min="0.0000001" step="0.0000001"  oninput="validateNumber(this);" id="noise" required=""
                            placeholder="Enter number"  class="form-control mt-1" name="noise" {% if noise %} value="{{noise1}}" {% else %} value="6" {% endif %}>


                        <select class="select form-control mt-1" id="noise_op" name="noise_op">

                          {% if noise_op == 'db' %}
                            <option value="db" selected="selected">db</option>
                            {% else %}
                            <option value="db">db</option>
                            {% endif %}
                            
                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form2" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Reference Temperature</strong></div>
                        </div>
                        <input type="number"  step="0.0000001" oninput="validateNumber(this);" id="Tref" required=""
                            placeholder="Enter number"  class="form-control mt-1" name="Tref" {% if Tref %} value="{{Tref1}}" {% else %} value="290" {% endif %}>


                        <select class="select form-control mt-1" id="Tref_op" name="Tref_op">
                         
                            {% if Tref_op == 'K' %}
                            <option value="K" selected="selected">kelvin(K)</option>
                            {% else %}
                            <option value="K">kelvin(K)</option>
                            {% endif %}

                        
                            {% if Tref_op == '°C' %}
                            <option value="°C" selected="selected">celsius(°C)</option>
                            {% else %}
                            <option value="°C">celsius(°C)</option>
                            {% endif %}

                            

                            {% if Tref_op == '°F' %}
                            <option value="°F" selected="selected">fahrenheit(°F)</option>
                            {% else %}
                            <option value="°F">fahrenheit(°F)</option>
                            {% endif %}
                          
                        </select>
                    </div>
                    {% endif %}



                    {% if given_data != "form1" %}

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Effective Noise Temperature  </strong></div>
                        </div>
                        <input type="number"  step="0.00000001" oninput="validateNumber(this);" id="Etemp" required=""
                           placeholder="Enter number"  class="form-control mt-1" name="Etemp" {% if Etemp %} value="{{Etemp1}}" {% else %} value="7" {% endif %}>

                        <select class="select form-control mt-1" id="Etemp_op" name="Etemp_op">
                            {% if Etemp_op == 'K' %}
                            <option value="K" selected="selected">kelvin(K)</option>
                            {% else %}
                            <option value="K">kelvin(K)</option>
                            {% endif %}
         
                           
                            {% if Etemp_op == '°C' %}
                            <option value="°C" selected="selected">celsius(°C)</option>
                            {% else %}
                            <option value="°C">celsius(°C)</option>
                            {% endif %}


                            {% if Etemp_op == '°F' %}
                            <option value="°F" selected="selected">fahrenheit(°F)</option>
                            {% else %}
                            <option value="°F">fahrenheit(°F)</option>
                            {% endif %}

                        </select>

                    </div>

                    {% endif %}


                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if given_data == "form1" and Etemp %}
    <div class="card" id="magnetic-Reference Temperature">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Effective Noise Temperature</h2>
        </div>

        <div class="card-body">

            <strong>Effective Noise Temperature formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active"> Noise Temperature (K) = T<sub>ref</sub> * { 10<sup>NF(db)/10</sup> -1 }  </p>
            <br>
            
            <strong>where:</strong>
                    <ul>
                      <li>T<sub>ref</sub> is the reference temperature in Kelvin</li>
                      <li>NF is the noise factor in db</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p>Reference Temperature = {{Tref1}} {{Tref_op}} </p>
            <p>Noise Figure = {{noise1}} {{noise_op}}</p>
        
           
            {% if Tref_op != 'K' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Reference Temperature  {{Tref1}}<b><i>"{{Tref_op}}"</i></b> to
                    <b><i>"K"</i></b></b>
                </summary>
                {% if Tref_op == '°F' %}
                <p>Converting Reference Temperature  =( {{Tref1}} -32 ) {{Tref_c|safe}}</p>
                {%else%}
                <p>Converting Reference Temperature  ={{Tref1}} {{Tref_c|safe}}</p>
                {%endif%}
                <p>Reference Temperature ={{Tref|safe}} K </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p> Effective Noise Temperature (K) = T<sub>ref</sub> * { 10<sup>NF(db)/10</sup> -1 } </p>
            <p> Effective Noise Temperature (K) = {{Tref|safe}} * ( 10<sup>{{noise|safe}}/10</sup> -1 ) </p>
            <p> Effective Noise Temperature (K) = {{Etemp|safe}}  K</p>


        </div>

    </div>
    {% endif %}

    

    {% if given_data == "form2" and Tref %}
    <div class="card" id="magnetic-Reference Temperature">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Reference Temperature</h2>
        </div>

        <div class="card-body">

            <strong>Effective Noise Temperature formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active"> Noise Temperature (K) = T<sub>ref</sub> * { 10<sup>NF(db)/10</sup> -1 }  </p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>T<sub>ref</sub> is the reference temperature in Kelvin</li>   
                         <li>NF is the noise factor in db</li>
                    </ul>             
            <strong>Input values are:-</strong>
            <p>Effective Noise Temperature = {{Etemp1}} {{Etemp_op}} </p>
            <p>Noise Figure = {{noise1}} {{noise_op}}</p>
        
           
            {% if Etemp_op != 'K' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Effective Noise Temperature  {{Etemp1}}<b><i>"{{Etemp_op}}"</i></b> to
                    <b><i>"K"</i></b></b>
                </summary>
                {% if Etemp_op == '°F' %}
                <p>Converting Effective noise Temperature  =( {{Etemp1}} -32 ) {{Etemp_c|safe}}</p>
                {%else%}
                <p>Converting Effective noise Temperature  ={{Etemp}} {{Etemp_c|safe}}</p>
                {%endif%}
        
                <p>Effective Noise Temperature ={{Etemp|safe}} K </p>
            </details>
            {% endif %}



            <strong>Put values into formula</strong>
            <p>  Noise Temperature (K) = T<sub>ref</sub> * { 10<sup>NF(db)/10</sup> -1 }  </p>
            <p>  T<sub>ref</sub> = Noise Temperature / ( 10<sup>NF(db)/10</sup> -1 )  </p>
            <p>  T<sub>ref</sub> = {{Etemp|safe}} /(10<sup> {{noise|safe}}/10</sup> -1) </p>
            <p> Reference Temperature = {{Tref|safe}} K</p>
           
        </div>

    </div>
    {% endif %}




    {% if given_data == "form3" and noise %}
    <div class="card" id="magnetic-Reference Temperature">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Noise Figure</h2>
        </div>

        <div class="card-body">

            <strong>Effective Noise Temperature formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active"> Noise Temperature (K) = T<sub>ref</sub> * { 10<sup>NF(db)/10</sup> -1 }  </p>
            <br>
            <strong>where:</strong>
              <ul>
                        <li>T<sub>ref</sub> is the reference temperature in Kelvin</li>   
                         <li>NF is the noise factor in db</li>
             </ul>   


            <strong>Input values are:-</strong>
            <p>Effective Noise Temperature = {{Etemp1}} {{Etemp_op}} </p>
            <p>Reference Temperature = {{Tref1}} {{Tref_op}}</p>
        
           
            {% if Etemp_op != 'K' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Effective Noise Temperature  {{Etemp1}}<b><i>"{{Etemp_op}}"</i></b> to
                    <b><i>"K"</i></b></b>
                </summary>
                        {% if Etemp_op == '°F' %}
                <p>Converting Effective noise Temperature  =( {{Etemp1}} -32 ) {{Etemp_c|safe}}</p>
                {%else%}
                <p>Converting Effective noise Temperature  ={{Etemp}} {{Etemp_c|safe}}</p>
                {%endif%}
        
                <p>Effective Noise Temperature ={{Etemp|safe}} K </p>
            </details>
            {% endif %}

              {% if Tref_op != 'K' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Reference Temperature  {{Tref1}}<b><i>"{{Tref_op}}"</i></b> to
                    <b><i>"K"</i></b></b>
                </summary>
                {% if Tref_op == '°F' %}
                <p>Converting Reference Temperature  =( {{Tref1}} -32 ) {{Tref_c|safe}}</p>
                {%else%}
                <p>Converting Reference Temperature  ={{Tref1}} {{Tref_c|safe}}</p>
                {%endif%}
          
                <p>Reference Temperature ={{Tref|safe}} K </p>
            </details>
            {% endif %}

           

            <strong>Put values into formula</strong>
            <p>Noise Temperature (K) = T<sub>ref</sub> * { 10<sup>NF(db)/10</sup> -1 }</p>
            <p>T<sub>ref</sub> = 10 * log<sub>10</sub>{Noise Temperature /T<sub>ref</sub> + 1 }   </p>
            <p>T<sub>ref</sub> = 10 * log<sub>10</sub>{ {{Etemp|safe}}/({{Tref|safe}}) + 1 }</p>
            <p> Noise Figure = {{noise|safe}} db</p>
            
        </div>

    </div>
    {% endif %}




</div>



<script>
    
{% if id == 1 %}
 
var scrollDiv = document.getElementById("clear").offsetTop;
console.log(scrollDiv)
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}

    

</script>

<script>
    function myFunction() {

            document.getElementById("clear").innerHTML = "";
            
            {% if given_data != 'form2' %}    
            document.getElementById("Tref").value = "";
            document.getElementById("Tref_op").value="K";
            {%endif%}
            
            {% if given_data != 'form3' %}
            document.getElementById("noise").value = "";
            document.getElementById("noise_op").value="db";
            {%endif%}

            {% if given_data != 'form1' %}
            document.getElementById("Etemp").value=""
            document.getElementById("Etemp_op").value="K";
            {% endif %}
    
    }
</script>
<br>

{% endblock %}