{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Pendulum Kinetic Energy Calculator</title>
<meta name="description" content=">Pendulum Kinetic Energy Calculator| Free Calculator to find Pendulum Kinetic Energy" />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Pendulum Kinetic Energy Calculator" />
<meta property="og:description" content="Pendulum Kinetic Energy Calculator| Free Calculator to find Pendulum Kinetic Energy" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg"
    property="og:image" />
    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Pendulum Kinetic Energy Calculator" />
<meta name="twitter:description" content="Pendulum Kinetic Energy Calculator| Free Calculator to find Pendulum Kinetic Energy" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->

<meta property='og:title' content="Pendulum Kinetic Energy Calculator" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property='og:description' content="Pendulum Kinetic Energy Calculator| Free Calculator to find Pendulum Kinetic Energy"/>
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <p class="center"><strong>Pendulum Kinetic Energy Calculator</strong></p>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}  
                <p  id="error" class="alert alert-danger text-center" style="color:red; display: none;"></p> 

            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Length (L)</strong></div>
                        </div>
                        <input type="number" min = "0.000000000001" step="0.000000000001" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" placeholder="Enter Length"  class="form-control" name="Length" id="Length" {% if Length or Length == 0 %} value="{{Length}}" {% else %} value="2" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="Length_op" id="Length_op">

                            {% if Length_op == 'm' %}
                            <option value="m" selected="selected">metres (m)</option>
                            {% else %}
                            <option value="m">metres (m)</option>
                            {% endif %}

                            {% if Length_op == 'mm' %}
                            <option value="mm" selected="selected">millimeters (mm)</option>
                            {% else %}
                            <option value="mm">millimeters (mm)</option>
                            {% endif %}

                            {% if Length_op == 'cm' %}
                            <option value="cm" selected="selected">centimeters (cm)</option>
                            {% else %}
                            <option value="cm">centimeters (cm)</option>
                            {% endif %}

                            

                            {% if Length_op == 'in' %}
                            <option value="in" selected="selected">inches (in)</option>
                            {% else %}
                            <option value="in">inches (in)</option>
                            {% endif %}

                            {% if Length_op == 'ft' %}
                            <option value="ft" selected="selected">feet (ft)</option>
                            {% else %}
                            <option value="ft">feet (ft)</option>
                            {% endif %}

                            {% if Length_op == 'yd' %}
                            <option value="yd" selected="selected">yards (yd)</option>
                            {% else %}
                            <option value="yd">yards (yd)</option>
                            {% endif %}

                           </select>
                    </div>
                    
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Mass (m)</strong></div>
                        </div>
                        <input type="number" min = "0.0000001" step="0.0000001" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" placeholder="Enter Mass"  class="form-control" name="Mass" id="Mass" {% if Mass or Mass == 0 %} value="{{Mass}}" {% else %} value="2" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="Mass_op" id="Mass_op">

                            {% if Mass_op == 'kg' %}
                            <option value="kg" selected="selected">kg</option>
                            {% else %}
                            <option value="kg">kg</option>
                            {% endif %}

                            {% if Mass_op == 'mg' %}
                            <option value="mg" selected="selected">mg</option>
                            {% else %}
                            <option value="mg">mg</option>
                            {% endif %}

                            {% if Mass_op == 'g' %}
                            <option value="g" selected="selected">g</option>
                            {% else %}
                            <option value="g">g</option>
                            {% endif %}

                            {% if Mass_op == 'tonne' %}
                            <option value="tonne" selected="selected">tonne</option>
                            {% else %}
                            <option value="tonne">tonne</option>
                            {% endif %}

                            {% if Mass_op == 'oz' %}
                            <option value="oz" selected="selected">oz</option>
                            {% else %}
                            <option value="oz">oz</option>
                            {% endif %}

                            {% if Mass_op == 'lb' %}
                            <option value="lb" selected="selected">lb</option>
                            {% else %}
                            <option value="lb">lb</option>
                            {% endif %}

                            {% if Mass_op == 'ton' %}
                            <option value="ton" selected="selected">ton</option>
                            {% else %}
                            <option value="ton">ton</option>
                            {% endif %}

                        </select>
                    </div>

                    


                    


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Height (h)</strong></div>
                        </div>
                        <input type="number" min = "0.00000001" step="0.00000001" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" placeholder="Enter Height"  class="form-control" name="Height" id="Height" {% if Height or Height == 0 %} value="{{Height}}" {% else %} value="1.225" {% endif %}>

                        <select class="select form-control" id="inlineFormInputGroup" name="Height_op" id="Height_op">

                            {% if Height_op == 'm' %}
                            <option value="m" selected="selected">metres (m)</option>
                            {% else %}
                            <option value="m">metres (m)</option>
                            {% endif %}

                            {% if Height_op == 'mm' %}
                            <option value="mm" selected="selected">millimeters (mm)</option>
                            {% else %}
                            <option value="mm">millimeters (mm)</option>
                            {% endif %}

                            {% if Height_op == 'cm' %}
                            <option value="cm" selected="selected">centimeters (cm)</option>
                            {% else %}
                            <option value="cm">centimeters (cm)</option>
                            {% endif %}

                            

                            {% if Height_op == 'in' %}
                            <option value="in" selected="selected">inches (in)</option>
                            {% else %}
                            <option value="in">inches (in)</option>
                            {% endif %}

                            {% if Height_op == 'ft' %}
                            <option value="ft" selected="selected">feet (ft)</option>
                            {% else %}
                            <option value="ft">feet (ft)</option>
                            {% endif %}

                            {% if Height_op == 'yd' %}
                            <option value="yd" selected="selected">yards (yd)</option>
                            {% else %}
                            <option value="yd">yards (yd)</option>
                            {% endif %}

                            </select>
                    </div>


                




                        

                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1" value="data">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if f1 %}
    
    <div class="card" id="Results">
        <div class="card-header">
            <p><strong>Results</strong> </p>
        </div>
        
        
        <div class="card-body"> <span> 
            
            <p><strong><span style="color: blue;">Period (T):&nbsp;&nbsp;&nbsp;</span><span id="span1">{{period|floatformat:"-5"}}</span></strong>
                <select style="margin-left:5px" id="myunt1" onchange="modifyres1()">
                    <option value="1" selected="">sec</option>
                    <option value="0.0166667">min</option>
                    <option value="0.000277778">hrs</option>
                </select>
            </p>

            <p><strong><span style="color: blue;">Frequency (f):&nbsp;&nbsp;&nbsp;</span><span id="span2">{{frequency|floatformat:"-5"}}</span></strong>
                <select style="margin-left:5px" id="myunt2" onchange="modifyres2()">
                    <option value="1" selected="">Hz</option>
                    <option value="0.001">kHz</option>
                    
                </select>
            </p>

            <p><strong><span style="color: blue;">Energy Available:&nbsp;&nbsp;&nbsp;</span><span id="span3">{{energy|floatformat:"-5"}}</span></strong>
                <select style="margin-left:5px" id="myunt3" onchange="modifyres3()">
                    <option value="1" selected="">J</option>
                    <option value="0.001">kJ</option>
                    <option value="0000.00027778">Wh</option>
                    <option value="0.737562">ft-lbs</option>
                    <option value="0.000239006">kcal</option>
                </select>
            </p>

            <p><strong><span style="color: blue;">Maximum Speed:&nbsp;&nbsp;&nbsp;</span><span id="span4">{{speed|floatformat:"-5"}}</span></strong>
                <select style="margin-left:5px" id="myunt4" onchange="modifyres4()">
                    <option value="1" selected="">m/s</option>
                    <option value="3.6">km/h</option>
                    <option value="3.281">ft/s</option>
                    <option value="1.094">yd/s</option>
                    <option value="2.237">mph</option>
                </select>
            </p>

            <p><strong>Formulas Used:</strong></p>
            <p class="btn btn-outline-secondary active">Period (T) =  2 π √ (L / g)</p><br>
            <p class="btn btn-outline-secondary active">Frequency (f) =  1 / T</p><br>
            <p class="btn btn-outline-secondary active">Energy Available =  m * h * g + 1/2 * m * v<sup>2</sup></p><br>
            <p class="btn btn-outline-secondary active">Maximum Speed =  √(2*g*h)</p><br>
            
            <br>
            <p><strong>What is a (mathematical) pendulum?</strong></p>
            <p>A pendulum is simply a weight hanging off a rope or stick that is allowed to swing freely. The "mathematical" version of it is the approximation in which we ignore friction losses (with air or in the rotation) as well as the weight of the rod or rope from which the weight is hanging.</p>
            <p>These approximations are good enough for all but the most precise calculations and help us focus on the physics at play without having to deal with the hurdles of a real-world setup where nothing is quite perfect. Using these approximations, we can relate the period of a pendulum to its length with this simple equation: <strong>T = 2π√(L/g)</strong> where <strong> T</strong> is the period, <strong>L</strong> is the length of the rope/rod and <strong>g</strong> is the acceleration due to gravity (9.8 m/s<sup>2</sup> on the surface of the Earth on average).

            </p>
        
        </div>

    </div>
    {% endif %}
</div>



<script>
    
    {% if f1 %}
     
    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    {%endif%}
    
    
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }

    

        const result = document.getElementById("span1").innerHTML
        function modifyres1(){
            var sus  = document.getElementById("myunt1")
            document.getElementById("span1").innerHTML = +(Number(result) * sus.value).toFixed(6)
        }

        const result1 = document.getElementById("span2").innerHTML
        function modifyres2(){
            var sus  = document.getElementById("myunt2")
            document.getElementById("span2").innerHTML = +(Number(result1) * sus.value).toFixed(8)
        }

        const result2 = document.getElementById("span3").innerHTML
        function modifyres3(){
            var sus  = document.getElementById("myunt3")
            document.getElementById("span3").innerHTML = +(Number(result2) * sus.value).toFixed(6)
        }

        const result3 = document.getElementById("span4").innerHTML
        function modifyres4(){
            var sus  = document.getElementById("myunt4")
            document.getElementById("span4").innerHTML = +(Number(result3) * sus.value).toFixed(6)
        }

    </script>
    
    <script>
        function myFunction() {

                // document.getElementsByName("GT")[0].value = "";
                document.getElementById("clear").innerHTML = "";
            }
    </script>
    
    
    
    {% endblock %}