{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Pleated Skirt Calculator</title>
<meta name="description"
    content="Pleated Skirt Calculator makes it easy for you to Half Life." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Lost Socks Calculator | Free Calculator to find Sunscreen" />
<meta property="og:description" content="Lost Socks Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg"
    property="og:image" />
    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Sunscreen Calculator | Free Calculator to find Sunscreen" />
<meta name="twitter:description"
    content="Sunscreen Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle>Pleated Skirt Calculator</tittle>
<meta property='og:title' content="Pleated Skirt Calculator | Sunscreen" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property='og:description' content="Pleated Skirt Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Pleated Skirt Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}   

            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Waist</strong></div>
                        </div>
                        <input type="number" step="0.01" min="0.1" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Waist Size"  class="form-control" name="WA" id="WA" {% if WA or WA == 0 %} value="{{WA}}" {% else %} value="5" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="WA_op" id="WA_op">

                            {% if WA_op == 'cm' %}
                            <option value="cm" selected="selected">centimeter(cm)</option>
                            {% else %}
                            <option value="cm">centimeter(cm)</option>
                            {% endif %}

                            {% if WA_op == 'mtr' %}
                            <option value="mtr" selected="selected">meters (mtr)</option>
                            {% else %}
                            <option value="mtr">meters (mtr)</option>
                            {% endif %}


                            {% if WA_op == 'inch' %}
                            <option value="inch" selected="selected">inches (in)</option>
                            {% else %}
                            <option value="inch">inches (in)</option>
                            {% endif %}

                        </select>
                    </div>

                
                    

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Seam allowance</strong></div>
                        </div>
                        <input type="number" step="0.01" min="0.1" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Seam allowance"  class="form-control" name="SA" id="SA" {% if SA or SA == 0 %} value="{{SA}}" {% else %} value="5" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="SA_op" id="SA_op">

                            {% if SA_op == 'cm' %}
                            <option value="cm" selected="selected">centimeter(cm)</option>
                            {% else %}
                            <option value="cm">centimeter(cm)</option>
                            {% endif %}

                            {% if SA_op == 'mtr' %}
                            <option value="mtr" selected="selected">meters (mtr)</option>
                            {% else %}
                            <option value="mtr">meters (mtr)</option>
                            {% endif %}


                            {% if SA_op == 'inch' %}
                            <option value="inch" selected="selected">inches (in)</option>
                            {% else %}
                            <option value="inch">inches (in)</option>
                            {% endif %}

                        </select>
                    </div>
                    <br>


                    <div class=" center col mt-2 ">
                        <center><button type="button" class="btn btn-dark">Fabric for the skirt</button>
                            
                        </center>
                    </div>






                    

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Pleat type</strong></div>
                        </div>
                        
                        <select class="select form-control" id="inlineFormInputGroup" name="PT" id="PT">
                                
                                  {% if PT == "Knife" %}
                                  <option value="Knife" selected="selected">Knife</option>
                                  {% else %}
                                  <option value="Knife">Knife</option>
                                  {% endif %}

                                  {% if PT == "Box" %}
                                  <option value="Box" selected="selected">Box</option>
                                  {% else %}
                                  <option value="Box">Box</option>
                                  {% endif %}

                        </select>
                    </div>




                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Desired skirt length</strong></div>
                        </div>
                        <input type="number" step="0.01" min="0.1" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter length"  class="form-control" name="L" id="L" {% if L or L == 0 %} value="{{L}}" {% else %} value="5" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="L_op" id="L_op">

                            {% if L_op == 'cm' %}
                            <option value="cm" selected="selected">centimeter(cm)</option>
                            {% else %}
                            <option value="cm">centimeter(cm)</option>
                            {% endif %}

                            {% if L_op == 'mtr' %}
                            <option value="mtr" selected="selected">meters (mtr)</option>
                            {% else %}
                            <option value="mtr">meters (mtr)</option>
                            {% endif %}


                            {% if L_op == 'inch' %}
                            <option value="inch" selected="selected">inches (in)</option>
                            {% else %}
                            <option value="inch">inches (in)</option>
                            {% endif %}

                        </select>
                    </div>




                    




                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Number of pleats</strong></div>
                        </div>
                        <input type="number" step="1" min="1" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Number of pleats"  class="form-control" name="N" id="N" {% if N or N == 0 %} value="{{N}}" {% else %} value="2" {% endif %}>
                    </div><br>



                    <div class=" center col mt-2 ">
                        <center><button type="button" class="btn btn-dark">Fabric for the waistband</button>
                            
                        </center>
                    </div>


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Waistband thickness</strong></div>
                        </div>
                        <input type="number" step="0.01" min="0.1" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Waistband thickness"  class="form-control" name="WT" id="WT" {% if WT or WT == 0 %} value="{{WT}}" {% else %} value="5" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="WT_op" id="WT_op">

                            {% if WT_op == 'cm' %}
                            <option value="cm" selected="selected">centimeter(cm)</option>
                            {% else %}
                            <option value="cm">centimeter(cm)</option>
                            {% endif %}

                            {% if WT_op == 'mtr' %}
                            <option value="mtr" selected="selected">meters (mtr)</option>
                            {% else %}
                            <option value="mtr">meters (mtr)</option>
                            {% endif %}


                            {% if WT_op == 'inch' %}
                            <option value="inch" selected="selected">inches (in)</option>
                            {% else %}
                            <option value="inch">inches (in)</option>
                            {% endif %}

                        </select>
                    </div>



                    
                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1" value="data">Calculate</button>
                            <button type="button" onclick="myFunction();" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if f1 %}
    
    <div class="card" id="Results">
        <div class="card-header">
            <h2 class="h2">Results</h2>
        </div>
        
        
        <div class="card-body"> <span>
            <strong>Formulas Used:</strong><br>
            
            <p class="btn btn-outline-secondary active">Sock loss index&nbsp; = &nbsp;[&nbsp;L(p&nbsp; *&nbsp; f)&nbsp;+&nbsp;C(t &nbsp;*&nbsp; s)]&nbsp;-&nbsp;(P &nbsp;*&nbsp; A)</p><br>
            
            <h3><strong><span style="color: blue;">Chance of losing a sock per week:&nbsp;</span>&nbsp;{{Chance|floatformat:"-2"}}%</strong></h3>

            <h3><strong><span style="color: blue;">Socks lost:&nbsp;</span>&nbsp;<span id="span1">{{lost|floatformat:"-2"}}</span>&nbsp;/</strong>
                <select style="margin-left:5px" id="myunt1" onchange="modifyres1()">
                    <option value="1" selected="">week</option>
                    <option value="0.143">day</option>
                    <option value="4.35">month</option>
                    <option value="52.18">year</option>
                    
                    
                </select>
            </h3>
            <br>
            <h5>Sock loss index = [L(p * f) + C(t * s)] - (P * A)</h5> <strong> </strong>
            <p>where:</p>
            <ul>
                <li><strong>L</strong> stands for <strong>laundry size</strong>, calculated as the number of people in the household, <strong>p</strong>, multiplied by the frequency of washes over a week, <strong>f</strong>.</li>
                <li><strong>C</strong> represents <strong>washing complexity</strong>, and is found by multiplying how many types of wash, <strong>t</strong>, your household does in a week, by the number of socks, <strong>s</strong>, washed in a week.</li>
                <li><strong>P</strong> is your <strong>positivity towards doing laundry</strong>, measured on a scale from 1 to 5.</li>
                <li><strong>A</strong> stands for <strong>degree of attention</strong> - that is, the number of precautions taken before doing the laundry. Precautions might include checking pockets, unrolling sleeves, turning clothes the right way, and unrolling socks.</li>
            </ul>

            
        </div>
        

    </div>
    {% endif %}
</div>




<script>
    
    
     
    var scrollDiv = document.getElementById("clear").offsetTop;
    console.log(scrollDiv)
    
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
</script>


<script>
    
    
    
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }

        const result = document.getElementById("span1").innerHTML
        function modifyres1(){
            
            var sus  = document.getElementById("myunt1")
            document.getElementById("span1").innerHTML = +(Number(result) * sus.value).toFixed(2)
        }


    
    
    
        function myFunction() {

                document.getElementsByName("WA")[0].value = "";
                document.getElementsByName("SA")[0].value = "";
                document.getElementsByName("L")[0].value = "";
                document.getElementsByName("N")[0].value = "";
                document.getElementsByName("WT")[0].value = "";
                
                
                document.getElementById("clear").innerHTML = "";
            }
    </script>
    <br>
    
    
    {% endblock %} 