{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Sequence of Partial Sums | Free Calculator to Calculate Sequence of Partial Sums</title>
<meta name="description"
    content="Half Life Calculator makes it easy for you to Half Life." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta property="og:description" content="Half Life Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg"
    property="og:image" />
    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle>Sequence of Partial Sums</tittle>
<meta property='og:title' content="Half Life Calculatorr | Half Life" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property='og:description' content="Half Life Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Sequence of Partial Sum</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}   

            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    
                <!-- <div style="margin: auto; width: 60%;">     -->
                    <!-- <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Note:  Use 'n' as variable, '*' for multiplication, '**' for Power</strong></div>
                        </div>

                    </div> -->
                <!-- </div> -->

                    

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong> From</strong></div>
                        </div>
                        <input type="number"  step="1" oninput="validateNumber(this);" id="F" required=""
                           placeholder="Enter a number"  class="form-control mt-1" name="F" {% if F1 %} value="{{F1}}" {%else%}   value="3" {% endif %}>
                    </div>
                    
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Upto</strong> </div>
                        </div>
                        <input type="number" step="1" oninput="validateNumber(this);" id="U" required=""
                           placeholder="Enter a number"  class="form-control mt-1" name="U" {% if U1 %} value="{{U1}}" {% else %} value="5" {% endif %}>
                        </div>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><strong>a<sub>n</sub></strong></div>
                            </div>
                            <input type="text"  id="S" required=""
                           placeholder="Enter a Sequence"  class="form-control mt-1" name="S" {% if S1 %} value="{{S1}}" {% else %} value="n*n" {% endif %}>
                        </div>

                        <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div><br>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        
                    <!-- <div class="input-group mb-2"> -->
                        <!-- <div class="input-group-prepend"> -->
                            <div class="input-group-text"><strong>Note:  Use 'n' as variable, '*' for multiplication, '**' for Power, '**0.5' for square root</strong></div>
                        <!-- </div> -->
                    <!-- </div> -->

                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if L and SU %}
    <div class="card" id="Sequence of Partial Sum">
        <div class="card-header">
            <h2 class="h2">Steps to Find Sequence of Partial Sum</h2>
        </div>

        <div class="card-body">

            <strong>Formula
            <div>
                <div><sub>{{U1}}</sub></div>
                Σ a <sub>n</sub>
                <div><sup>n={{F1}}</sup></div></strong>
            </div>
            <br>
            <strong>where:</strong>
                    <ul>
                          <li>a<sub>n</sub> refers to the sequence</li>
                          
                    </ul>
                    <br>

            <strong>Input values are:-</strong>
            <ul>
                <li>From = {{F1}}</li>
                <li>Upto = {{U1}}</li>
                <li>Sequence = {{S1}}</li>
            </ul>
            
            <strong>Sequence : {% for i in L %}
                {{i}}
                {% if L|length != forloop.counter %},{% endif %}
            {% endfor %}</strong><br><br>

            <strong>Sequence of Partial Sum : {% for i in SU %}
                {{i}}
                {% if L|length != forloop.counter %},{% endif %}
            {% endfor %}</strong>
            </div>
        
    </div>
    {% endif %}

</div>



<script>
    
    {% if id == 1 %}
     
    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    {%endif%}
    
        
    {% if id == 2 %}
     
    var scrollDiv = document.getElementById("my_form1").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    {%endif%}
    
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }
    </script>
    
    <script>
        function myFunction() {
    
            
    
                document.getElementsByName("F")[0].value = "";
                document.getElementsByName("U")[0].value = "";
                document.getElementsByName("S")[0].value = "";
               
                document.getElementById("clear").innerHTML = "";
        }
            </script>
    <br>
    
    
    {% endblock %}