{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Shower Cost Calculator</title>
<meta name="description"
    content="Hair Growth Calculator makes it easy for you to Half Life." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Hair Growth Calculator | Free Calculator to find Hair Growth" />
<meta property="og:description" content="Half Life Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg"
    property="og:image" />
    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle>Shower Cost Calculator</tittle>
<meta property='og:title' content="Shower Cost Calculator | Shower Cost" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property='og:description' content="Hair Growth Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Shower Cost Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}   

            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>People in household</strong></div>
                        </div>
                        <input type="number" step="1" min="1" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter People in household"  class="form-control" name="PH" id="PH" {% if PH or PH == 0 %} value="{{PH}}" {% else %} value="1" {% endif %}>
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Avg shower duration</strong></div>
                        </div>
                        <input type="number" step="1" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" min="0" max="23"
                        placeholder="Enter Time in Hours"  class="form-control" name="TH" id="TH" {% if TH or TH == 0 %} value="{{TH}}" {% else %} value="0" {% endif %}>
                        <div class="input-group-text"><strong>hrs</strong></div>

                        <input type="number" step="1" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" min="0" max="59"
                        placeholder="Enter Time in Minutes"  class="form-control" name="TM" id="TM" {% if TM or TM == 0 %} value="{{TM}}" {% else %} value="5" {% endif %}>
                        <div class="input-group-text"><strong>mins</strong></div> 
                    </div>



                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Showers per person</strong></div>
                        </div>
                        
                        <input type="number" step="1" min="1" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Showers per person"  class="form-control" name="SP" id="SP" {% if SP or SP == 0 %} value="{{SP}}" {% else %} value="1" {% endif %}> 
                            <span id="inlineFormInputGroup" class="form-control">/day</span>
                    </div>






                    
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Water price</strong></div>
                        </div>
                        <input type="number" step="0.01" min="0" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Water price"  class="form-control" name="WP" id="WP" {% if WP or WP == 0 %} value="{{WP}}" {% else %} value="2" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="WP_op" id="WP_op">

                          

                            {% if WP_op == 'liter' %}
                            <option value="liter" selected="selected">liter</option>
                            {% else %}
                            <option value="liter">liter</option>
                            {% endif %}

                            {% if WP_op == 'cubicmeter' %}
                            <option value="cubicmeter" selected="selected">cubic meter</option>
                            {% else %}
                            <option value="cubicmeter">cubic meter</option>
                            {% endif %}


                            {% if WP_op == 'gallon(us)' %}
                            <option value="gallon(us)" selected="selected">gallon(us)</option>
                            {% else %}
                            <option value="gallon(us)">gallon(us)</option>
                            {% endif %}

                            {% if WP_op == 'gallon(uk)' %}
                            <option value="gallon(uk)" selected="selected">gallon(uk)</option>
                            {% else %}
                            <option value="gallon(uk)">gallon(uk)</option>
                            {% endif %}

                        </select>
                    </div>


                    <!-- <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Total water used</strong></div>
                        </div>
                        <input type="number" step="0.01" min="0" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Growth Time"  class="form-control" name="WU" id="WU" {% if WU or WU == 0 %} value="{{WU}}" {% else %} value="2" {% endif %}>


                            <select class="select form-control" id="inlineFormInputGroup" name="WU_op" id="WU_op">

                                {% if WU_op == 'cubicmeter' %}
                                  <option value="cubicmeter" selected="selected">cubic meter</option>
                                  {% else %}
                                  <option value="cubicmeter">cubic meter</option>
                                  {% endif %}
      
                                  {% if WU_op == 'liter' %}
                                  <option value="liter" selected="selected">liter</option>
                                  {% else %}
                                  <option value="liter">liter</option>
                                  {% endif %}
      
      
                                  {% if WU_op == 'gallon(us)' %}
                                  <option value="gallon(us)" selected="selected">gallon(us)</option>
                                  {% else %}
                                  <option value="gallon(us)">gallon(us)</option>
                                  {% endif %}
      
                                  {% if WU_op == 'gallon(uk)' %}
                                  <option value="gallon(uk)" selected="selected">gallon(uk)</option>
                                  {% else %}
                                  <option value="gallon(uk)">gallon(uk)</option>
                                  {% endif %}
      
                              </select>
                    </div> -->


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Energy price</strong></div>
                        </div>
                        
                        <input type="number" step="0.01" min="0" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Energy price"  class="form-control" name="EP" id="EP" {% if EP or EP == 0 %} value="{{EP}}" {% else %} value="2" {% endif %}> 
                            <span id="inlineFormInputGroup" class="form-control">/kWh</span>
                    </div>



                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Shower flow rate per minute</strong></div>
                        </div>
                        <input type="number" step="0.01" min="0" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter flow rate per minute"  class="form-control" name="SFR" id="SFR" {% if SFR or SFR == 0 %} value="{{SFR}}" {% else %} value="2" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="SFR_op" id="SFR_op">
                                <!-- {% if SFR_op == 'cubicmeter' %}
                                  <option value="cubicmeter" selected="selected">cubic meter</option>
                                  {% else %}
                                  <option value="cubicmeter">cubic meter</option>
                                  {% endif %} -->
      
                                  {% if SFR_op == 'liter' %}
                                  <option value="liter" selected="selected">liter</option>
                                  {% else %}
                                  <option value="liter">liter</option>
                                  {% endif %}
      
      
                                  {% if SFR_op == 'gallon(us)' %}
                                  <option value="gallon(us)" selected="selected">gallon(us)</option>
                                  {% else %}
                                  <option value="gallon(us)">gallon(us)</option>
                                  {% endif %}
      
                                  {% if SFR_op == 'gallon(uk)' %}
                                  <option value="gallon(uk)" selected="selected">gallon(uk)</option>
                                  {% else %}
                                  <option value="gallon(uk)">gallon(uk)</option>
                                  {% endif %}
                                
                          

                        </select>
                    </div>



                    

                        

                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1" value="data">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if f1 %}
    
    <div class="card" id="Results">
        <div class="card-header">
            <h2 class="h2">Results</h2>
        </div>
        
        
        <div class="card-body"> <span> 
            
            <h3><strong><span style="color: blue;">Total water used:&nbsp;&nbsp;&nbsp;</span><span id="span1">{{TWU|floatformat:"-2"}}</span></strong>
                <select style="margin-left:5px" id="myunt1" onchange="modifyres1()">
                    <option value="1" selected="">liters</option>
                    <option value="0.001">cubic meters</option>
                    <option value="0.219969">gallon(uk)</option>
                    <option value="0.264200">gallon(us)</option>
                    
                    
                </select>

            <h3><strong><span style="color: blue;">Single shower cost:&nbsp;&nbsp;&nbsp;</span>₹&nbsp;{{SSC|floatformat:"-2"}}</strong></h3>
            <h3><strong><span style="color: blue;">Total shower cost:&nbsp;&nbsp;&nbsp;</span>₹&nbsp;{{TSC|floatformat:"-2"}}</strong></h3>

            
                
            
            
            
            
        </div>

    </div>
    {% endif %}
</div>



<script>
    
    {% if id == 1 %}
     
    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    {%endif%}
    
        
    {% if id == 2 %}
     
    var scrollDiv = document.getElementById("my_form1").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    {%endif%}
    
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }

        const result = document.getElementById("span1").innerHTML
        function modifyres1(){
            
            var sus  = document.getElementById("myunt1")
            document.getElementById("span1").innerHTML = +(Number(result) * sus.value).toFixed(4)
        }

    </script>
    
    <script>
        function myFunction() {

                document.getElementsByName("PH")[0].value = "";
                document.getElementsByName("TH")[0].value = "";
                document.getElementsByName("TM")[0].value = "";
                document.getElementsByName("SP")[0].value = "";
                document.getElementsByName("WP")[0].value = "";
                document.getElementsByName("EP")[0].value = "";
                document.getElementsByName("SFR")[0].value = "";
                document.getElementById("clear").innerHTML = "";
            }
        </script>
    <br>
    
    
    {% endblock %}