{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Snow Weight Calculator| Free Calculator to find Snow Weight</title>
<meta name="description"
    content="Ohm's law Calculator makes it easy for you to find Ohm's law." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Ohm's law Calculator | Free Calculator to find Ohm's law" />
<meta property="og:description" content="Ohm's law Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Ohm's law Calculator | Free Calculator to find Ohm's law" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Snow Weight Calculator</tittle>
<meta property='og:title' content="Snow Weight Calculator" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property='og:description' content="Ohm's law Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Snow Weight Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    


                    
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Air Temperature, T:</strong></div>
                        </div>
                        <input type="number" step="0.01" id="inlineFormInputGroup" required=""
                            placeholder="Enter Temperature"  class="form-control" name="T" id="T" {% if T1 or T1 == 0 %} value="{{T1}}" {% else %} value="6" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="T_op" id="T_op">

                          {% if T_op == 'Celsius' %}
                            <option value="Celsius" selected="selected">Celsius(°C)</option>
                            {% else %}
                            <option value="Celsius">Celsius(°C)</option>
                            {% endif %}

                            {% if T_op == 'Fahrenheit' %}
                            <option value="Fahrenheit" selected="selected">Fahrenheit(°F)</option>
                            {% else %}
                            <option value="Fahrenheit">Fahrenheit(°F)</option>
                            {% endif %}


                            {% if T_op == 'Kelvin' %}
                            <option value="Kelvin" selected="selected">Kelvin(°K)</option>
                            {% else %}
                            <option value="Kelvin">Kelvin(°K)</option>
                            {% endif %}

                        </select>
                    </div>
                    


                    
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Snow Depth, D:</strong></div>
                        </div>
                        <input type="number" step="0.01"  id="inlineFormInputGroup" required=""
                            placeholder="Enter Snow Depth"  class="form-control"  id="D" name="D" {% if D1 or D1 == 0 %} value="{{D1}}" {% else %} value="10" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="D_op" id="D_op">

                            {% if D_op == 'Inches' %}
                            <option value="Inches" selected="selected">Inches</option>
                            {% else %}
                            <option value="Inches">Inches</option>
                            {% endif %}

                            {% if D_op == 'Feet' %}
                            <option value="Feet" selected="selected">Feet</option>
                            {% else %}
                            <option value="Feet">Feet</option>
                            {% endif %}


                            {% if D_op == 'Centimeters' %}
                            <option value="Centimeters" selected="selected">Centimeters</option>
                            {% else %}
                            <option value="Centimeters">Centimeters</option>
                            {% endif %}

                            {% if D_op == 'Meters' %}
                            <option value="Meters" selected="selected">Meters</option>
                            {% else %}
                            <option value="Meters">Meters</option>
                            {% endif %}

                            {% if D_op == 'Yards' %}
                            <option value="Yards" selected="selected">Yards</option>
                            {% else %}
                            <option value="Yards">Yards</option>
                            {% endif %}

                        </select>
                    </div>
                    


                    

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Area, A:</strong></div>
                        </div>
                        <input type="number" step="0.01"  id="inlineFormInputGroup" required="" placeholder="Enter Area"  class="form-control" id="A" name="A" {% if A1 or A1 == 0 %} value="{{A1}}" {% else %} value="7" {% endif %}>

                        <select class="select form-control" id="inlineFormInputGroup" name="A_op"  id="A_op">
                          
                          {% if A_op == 'Acres' %}
                            <option value="Acres" selected="selected">Acres</option>
                            {% else %}
                            <option value="Acres">Acres</option>
                            {% endif %}

                            {% if A_op == 'Hectares' %}
                            <option value="Hectares" selected="selected">Hectares</option>
                            {% else %}
                            <option value="Hectares">Hectares</option>
                            {% endif %}


                            {% if A_op == 'SCentimeters' %}
                            <option value="SCentimeters" selected="selected">Square Centimeters</option>
                            {% else %}
                            <option value="SCentimeters">Square Centimeters</option>
                            {% endif %}

                            
                            
                            {% if A_op == 'SFeet' %}
                            <option value="SFeet" selected="selected">Square Feet</option>
                            {% else %}
                            <option value="SFeet">Square Feet</option>
                            {% endif %}

                            {% if A_op == 'SInches' %}
                            <option value="SInches" selected="selected">Square Inches</option>
                            {% else %}
                            <option value="SInches">Square Inches</option>
                            {% endif %}

                            {% if A_op == 'SKilometers' %}
                            <option value="SKilometers" selected="selected">Square Kilometers</option>
                            {% else %}
                            <option value="SKilometers">Square Kilometers</option>
                            {% endif %}

                            {% if A_op == 'SMeters' %}
                            <option value="SMeters" selected="selected">Square Meters</option>
                            {% else %}
                            <option value="SMeters">Square Meters</option>
                            {% endif %}

                            {% if A_op == 'SMiles' %}
                            <option value="SMiles" selected="selected">Square Miles</option>
                            {% else %}
                            <option value="SMiles">Square Miles</option>
                            {% endif %}

                            {% if A_op == 'SMillimeters' %}
                            <option value="SMillimeters" selected="selected">Square Millimeters</option>
                            {% else %}
                            <option value="SMillimeters">Square Millimeters</option>
                            {% endif %}

                            {% if A_op == 'SYards' %}
                            <option value="SYards" selected="selected">Square Yards</option>
                            {% else %}
                            <option value="SYards">Square Yards</option>
                            {% endif %}
                            

                        </select>

                    </div>

                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>



<div id="clear">

{% if SD or SD == 0 %}
    <div class="card" id="Snow Weight Calculator">
        <div class="card-header">
            <h2 class="h2">Results</h2>
        </div>
        
        <div class="card-body">

            <div style="margin-top:20px;margin-bottom:10px;padding-left:0px;font-size:15px">
               <strong style="font-size: 20px;"> Snow Density:&nbsp;&nbsp;</strong> <b id="result1" style="font-size: 20px;">{{SD|floatformat:"-3"}}</b>

               <select id="myunt" style="margin-left:5px" onchange="modifyres()"> 
                <option value="1000">kilogram per cubic decimeter</option>
                <option value="1" selected="">kilogram per cubic meter</option>
                <option value="16.0185">pound mass per cubic foot</option>
                <option value="27679.9">pound mass per cubic inch</option>
                <option value="0.593276">pound mass per cubic yard</option>
               </select>
            </div>

            <div style="margin-top:20px;margin-bottom:10px;padding-left:0px;font-size:15px">
                <strong style="font-size: 20px;"> Snow Weight:&nbsp;&nbsp;</strong> <b id="result2" style="font-size: 20px;">{{SW|floatformat:"-3"}}</b>
 
                <select style="margin-left:5px" name="myunt1" id="myunt1" onchange="modifyres1()">
                    <option value="1000">grams</option>
                    <option value="1" selected="">kilograms</option>
                    <option value="2.2046226218">pounds</option>
                    <option value="35.27396195">ounces</option>
                    <option value="0.001">metric tons</option>
                    <option value="0.0009842065">Imperial ton (long ton)</option>
                    <option value="0.0011023113">US ton (short ton)</option>
                </select>
             </div>
             <br><br>
             <h3>How the Weight of Snow is Calculated</h3>
             <p>Snow is formed of ice crystals. Its weight is determined by the density and volume of these crystals. Snow that is fluffy and loosely packed weighs a lot less than snow that is wet or densely packed.</p>
             <p>The total weight of snow can be computed by multiplying the volume of snow by its density using the following formula:</p>
             <p><strong> M<sub>s</sub> = V<sub>s</sub> * ρ<sub>s</sub></strong></p>
             <p>Where: M<sub>s</sub> = mass of snow [kg], V<sub>s</sub> = volume of snow [m<sup>3</sup>], V<sub>s</sub> = Area (A) * Depth (D), ρ<sub>s</sub> = density of snow [kg m<sup>-3</sup>]</p>
             <p>The density of snow directly impacts its weight and is determined by the structure of the ice crystals from which it is formed and the volume of those crystals. Generally, the density of snow is impacted by three different factors:</p>
             <ul>
                 <li>The processes that take place in the cloud directly influence the size and shape of the ice crystals as they develop.</li>
                 <li>The processes that modify the ice crystals as they fall to the ground.</li>
                 <li>The compaction that occurs at the ground level as a result of the metamorphism in the snow and the weather conditions.</li>
             </ul>
             <p>Our snow weight calculator determines the density of snow according to the air temperature. Where the air temperature is below freezing, the approach proposed by Hedstrom and Pomeroy (1998) is employed, and where the air temperature is above freezing, the approach proposed by Pomeroy and Gray (1995) is used. These formulas are as follows:</p>
             <p><strong>ρ<sub>s</sub> = 67.92 + 51.25 * e<sup>(T / 2.59)</sup> </strong> , (T ≤ 0)</p>
             <p><strong>ρ<sub>s</sub> = min [ 200, (119.17 + 20 * T) ]</strong> , (T > 0)</p>
             <p>Where: ρ<sub>s</sub> = density of snow [kg m<sup>-3</sup>], T = air temperature in Celsius [°C], e = 2.718282</p>

            </div>

            
        </div>

    </div>
    {% endif %}
</div>



<script>
    
    // {% if id == 1 %}
     
    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    // {%endif%}
    
        
    // {% if id == 2 %}
     
    // var scrollDiv = document.getElementById("my_form1").offsetTop;
    // window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    // {%endif%}
    
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }

        const result = document.getElementById("result1").innerHTML
        function modifyres(){
            var sus  = document.getElementById("myunt")
            document.getElementById("result1").innerHTML = +(Number(result) / sus.value).toFixed(3)
        }


        const res = document.getElementById("result2").innerHTML
        function modifyres1(){
            var sus  = document.getElementById("myunt1")
            document.getElementById("result2").innerHTML = +(Number(res) * sus.value).toFixed(3)
        }


        
    </script>
    
    <script>
        function myFunction() {
    
            
    
                document.getElementsByName("T")[0].value = "";
                document.getElementsByName("D")[0].value = "";
                document.getElementsByName("A")[0].value = "";
                

               
                document.getElementById("clear").innerHTML = "";
    
            
    
            
    
            
    
            
    
    
    
        }
    </script>
    <br>
    
    
{% endblock %}

    