{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- Mathjax library script -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
<!-- End of Mathjax library script -->

<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>SOLID WASTE MOISTURE CONTENT CALCULATOR</title>
<meta name="description" content="SOLID WASTE MOISTURE CONTENT | Free Calculator to find SOLID WASTE MOISTURE CONTENT" />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="SOLID WASTE MOISTURE CONTENT CALCULATOR" />
<meta property="og:description" content="SOLID WASTE MOISTURE CONTENT | Free Calculator to find SOLID WASTE MOISTURE CONTENT" />
<meta content="" property="og:site_name" />

    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="SOLID WASTE MOISTURE CONTENT CALCULATOR" />
<meta name="twitter:description" content="SOLID WASTE MOISTURE CONTENT | Free Calculator to find SOLID WASTE MOISTURE CONTENT" />

<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->

<meta property='og:title' content="SOLID WASTE MOISTURE CONTENT CALCULATOR" />

<meta property='og:description' content="SOLID WASTE MOISTURE CONTENT | Free Calculator to find SOLID WASTE MOISTURE CONTENT" />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>

   
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <p class="center"><strong>SOLID WASTE MOISTURE CONTENT CALCULATOR</strong></p>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}   

            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Sample Wet Weight</strong></div>
                        </div>
                        <input type="number" step="any" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" placeholder=""  class="form-control" name="Wet" id="Wet" {% if Wet or Wet == 0 %} value="{{Wet}}" {% else %} value="4" {% endif %}>
                        <div class="input-group-text"><strong>kg</strong></div>
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Sample Dry Weight</strong></div>
                        </div>
                        <input type="number" step="any" oninput="validateNumber(this);" id="inlineFormInputGroup" required="" placeholder=""  class="form-control" name="Dry" id="Dry" {% if Dry or Dry == 0 %} value="{{Dry}}" {% else %} value="5" {% endif %}>
                        <div class="input-group-text"><strong>kg</strong></div>
                    </div>



                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1" value="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>




<div id="clear">

    {% if f1 %}
    
    <div class="card" id="Results">
        <div class="card-header">
            <p><strong>Results</strong> </p>
        </div>
        
        
        <div class="card-body"> <span> 
            
            <p><strong><span style="color: blue;">SOLID WASTE MOISTURE CONTENT(M):&nbsp;&nbsp;&nbsp;</span><span id="span1" style="color: red;">{{M}} <span style="color: blue;">%</span></span></strong></p>

        <p><strong>Formulas Used:</strong></p>
        
        <p class="btn btn-outline-secondary active">M = 100 * ((W - D) / W)</p><br>
        <p><strong>where:</strong></p>
        <ul>
            <li>M = Solid Waste Moisture Content</li>
            <li>W = Sample Wet Weight</li>
            <li>D = Sample Dry Weight</li>
        </ul>
        
        <strong>Input values are:-</strong>
            <p>Sample Wet Weight = {{Wet}}</p>
            <p>Sample Dry Weight = {{Dry}}</p>
            
            
        <strong>Put values into formula</strong>
           <p>M = 100 × (({{Wet}} - {{Dry}}) / {{Wet}})</p>
            <p>M = 100 × ({{a}} / {{Wet}})</p>
            <p>M = 100 × {{b}}</p>


            <p><strong style="color: brown;">M = {{M}} %</strong></p>

           
        </div>

       

    </div>
    {% endif %}
</div>

{% if f1 %}
<script>
    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
</script>
{% endif %}

<script>
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }

        const result = document.getElementById("span1").innerHTML
        function modifyres1(){
            
            var sus  = document.getElementById("myunt1")
            document.getElementById("span1").innerHTML = +(Number(result) * sus.value)
        }

    </script>
    
    <script>
        function myFunction() {

                
                document.getElementsByName("Wet")[0].value = "";
                document.getElementsByName("Dry")[0].value = "";
                document.getElementById("clear").innerHTML = "";
            }
        </script>
    <br>
    
    
    {% endblock %}