{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
Online Calculator Guru Project Style Sheet
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
{% if a and b %}
<title>Subtraction Table of {{a}}</title>
<meta name="description" content="Subtraction Table of {{a}}" />
{% else %}
<title>Subtraction Table Generator Calculator</title>
<meta name="description" content="Subtraction Table Generator Calculator" />
{% endif %}

<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
{% if a and b %}
<meta property="og:title" content="Subtraction Table of {{a}}" />
<meta property="og:description" content="Subtraction Table of {{a}}" />
{% else %}
<meta property="og:title" content="Subtraction Table Generator Calculator" />
<meta property="og:description" content="Subtraction Table Generator Calculator" />
{% endif %}


<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg"
    property="og:image" />
    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
{% if a and b %}
<meta name="twitter:title" content="Subtraction Table of {{a}}" />
<meta name="twitter:description" content="Subtraction Table of {{a}}" />
{% else %}
<meta name="twitter:title" content="Subtraction Table Generator Calculator" />
<meta name="twitter:description" content="Subtraction Table Generator Calculator" />
{% endif %}

<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<!-- <tittle> Subtraction Table Generator Calculator</tittle> -->
{% if a and b %}
<meta property='og:title' content="Subtraction Table of {{a}}" />
<meta property='og:description' content="Subtraction Table of {{a}}" />
{% else %}
<meta property='og:title' content="Subtraction Table Generator Calculator" />
<meta property='og:description' content="Subtraction Table Generator Calculator" />
{% endif %}

<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />

<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    .calculator-tab button {
    background-color: #444;
    color: #fff;
    border: 0;
    outline: 0;
    margin: 6.5px -1px 0 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 7px;
    cursor: pointer;
    padding: 3px 5px 0 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}

.calculator-tab button.active {
    background-color: #fbfffc;
    color: #444;
    cursor: default;
    border: 1px solid #3E7E3C;
    border-bottom: none;
}

.calculator-tab button:hover {
    background-color: #3E7E3C;
    color: #fff;
}

	.tabuada {
    background-color: #fff;
    padding: 5px;
    min-height: 250px;
    border: 2px dashed #48684a;
    border-radius: 10px;
}

    .tabuada input, .tabuada td {
    color: #48684a;
    font-family: monospace!important;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

    .tabuada input {
    width: 95px;
    height: 30px;
    margin: 0;
    padding: 0 3px 0 3px;
}

    .calculator-tabbed {
    margin: 33px 0;
}

    .calculator-tab {
    margin: -42.4px 0 5px 0;
}

@media only screen and (max-width: 700px){
    .col-1-2{
    width: 60%;
    }
}


.col-1-2{
    padding: 0 0.2rem;
    display: inline-block;
    vertical-align: top;
}

.col-1-2 a:hover{
    text-decoration: none;
    color: darkred;
}

.calculator {
    padding: 3px;
    margin: 0 0 3px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #3E7E3C;
    background-color: #fbfffc;
}

</style>

<body onload="addFields();">
    

    <div class="row" style="height: auto !important;">
        
        
    <div class="card c1" style="border: 0px; margin: auto;"> 
        
    
		<div class="calculator calculator-tabbed">
            
		<div class="calculator-tab">
        
        <a href='{% url "addG" %}'><button>Addition</button></a> 
        <a href='{% url "subG" %}'><button class="active">Subtraction</button></a>
        <a href='{% url "mulG" %}'><button>Multiplication</button></a>
        <a href='{% url "divG" %}'><button>Division</button></a>
		
		</div>
		
        <p>Generate a subtraction table of <input type="text" style="width:4em" name="inpu" value="{{a}}" oninput="limit(this); addFields();"></p>

		<p>Containing <input type="text" name="line" style="width: 4em;" value="10" oninput="limit(this); addFields();"> lines.</p>

        <p>Practice with the generated table:<input type="checkbox" style="width: 20px; height: 20px;" checked name="practice" id="practice" value="" onchange="addFields();"></p>
        
        
        <p>Random numbers:<input type="checkbox" style="width: 20px; height: 20px;" checked name="randomOn" id="randomOn" value="" onchange="addFields();"></p>

    <div id="ranNum">
		<p>Random numbers start at:<input type="text" style="width: 4em;" name="rannumber" value="10" oninput="limit(this); addFields();"></p>
    </div>    
		
		<div id="container"></div>

        </div></div></div>

    <div class="center">

        {% if not b %}

        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'sub' '1'%}">Subtraction table of 1</a></li>
                <li class="bullet"><a href="{% url 'sub' '2'%}">Subtraction table of 2</a></li>
                <li class="bullet"><a href="{% url 'sub' '3'%}">Subtraction table of 3</a></li>
                <li class="bullet"><a href="{% url 'sub' '4'%}">Subtraction table of 4</a></li>
                <li class="bullet"><a href="{% url 'sub' '5'%}">Subtraction table of 5</a></li>
                <li class="bullet"><a href="{% url 'sub' '6'%}">Subtraction table of 6</a></li>
                <li class="bullet"><a href="{% url 'sub' '7'%}">Subtraction table of 7</a></li>
                <li class="bullet"><a href="{% url 'sub' '8'%}">Subtraction table of 8</a></li>
                <li class="bullet"><a href="{% url 'sub' '9'%}">Subtraction table of 9</a></li>
                <li class="bullet"><a href="{% url 'sub' '10'%}">Subtraction table of 10</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'sub' '11'%}">Subtraction table of 11</a></li>
                <li class="bullet"><a href="{% url 'sub' '12'%}">Subtraction table of 12</a></li>
                <li class="bullet"><a href="{% url 'sub' '13'%}">Subtraction table of 13</a></li>
                <li class="bullet"><a href="{% url 'sub' '14'%}">Subtraction table of 14</a></li>
                <li class="bullet"><a href="{% url 'sub' '15'%}">Subtraction table of 15</a></li>
                <li class="bullet"><a href="{% url 'sub' '16'%}">Subtraction table of 16</a></li>
                <li class="bullet"><a href="{% url 'sub' '17'%}">Subtraction table of 17</a></li>
                <li class="bullet"><a href="{% url 'sub' '18'%}">Subtraction table of 18</a></li>
                <li class="bullet"><a href="{% url 'sub' '19'%}">Subtraction table of 19</a></li>
                <li class="bullet"><a href="{% url 'sub' '20'%}">Subtraction table of 20</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'sub' '21'%}">Subtraction table of 21</a></li>
                <li class="bullet"><a href="{% url 'sub' '22'%}">Subtraction table of 22</a></li>
                <li class="bullet"><a href="{% url 'sub' '23'%}">Subtraction table of 23</a></li>
                <li class="bullet"><a href="{% url 'sub' '24'%}">Subtraction table of 24</a></li>
                <li class="bullet"><a href="{% url 'sub' '25'%}">Subtraction table of 25</a></li>
                <li class="bullet"><a href="{% url 'sub' '26'%}">Subtraction table of 26</a></li>
                <li class="bullet"><a href="{% url 'sub' '27'%}">Subtraction table of 27</a></li>
                <li class="bullet"><a href="{% url 'sub' '28'%}">Subtraction table of 28</a></li>
                <li class="bullet"><a href="{% url 'sub' '29'%}">Subtraction table of 29</a></li>
                <li class="bullet"><a href="{% url 'sub' '30'%}">Subtraction table of 30</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'sub' '31'%}">Subtraction table of 31</a></li>
                <li class="bullet"><a href="{% url 'sub' '32'%}">Subtraction table of 32</a></li>
                <li class="bullet"><a href="{% url 'sub' '33'%}">Subtraction table of 33</a></li>
                <li class="bullet"><a href="{% url 'sub' '34'%}">Subtraction table of 34</a></li>
                <li class="bullet"><a href="{% url 'sub' '35'%}">Subtraction table of 35</a></li>
                <li class="bullet"><a href="{% url 'sub' '36'%}">Subtraction table of 36</a></li>
                <li class="bullet"><a href="{% url 'sub' '37'%}">Subtraction table of 37</a></li>
                <li class="bullet"><a href="{% url 'sub' '38'%}">Subtraction table of 38</a></li>
                <li class="bullet"><a href="{% url 'sub' '39'%}">Subtraction table of 39</a></li>
                <li class="bullet"><a href="{% url 'sub' '40'%}">Subtraction table of 40</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'sub' '41'%}">Subtraction table of 41</a></li>
                <li class="bullet"><a href="{% url 'sub' '42'%}">Subtraction table of 42</a></li>
                <li class="bullet"><a href="{% url 'sub' '43'%}">Subtraction table of 43</a></li>
                <li class="bullet"><a href="{% url 'sub' '44'%}">Subtraction table of 44</a></li>
                <li class="bullet"><a href="{% url 'sub' '45'%}">Subtraction table of 45</a></li>
                <li class="bullet"><a href="{% url 'sub' '46'%}">Subtraction table of 46</a></li>
                <li class="bullet"><a href="{% url 'sub' '47'%}">Subtraction table of 47</a></li>
                <li class="bullet"><a href="{% url 'sub' '48'%}">Subtraction table of 48</a></li>
                <li class="bullet"><a href="{% url 'sub' '49'%}">Subtraction table of 49</a></li>
                <li class="bullet"><a href="{% url 'sub' '50'%}">Subtraction table of 50</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'sub' '51'%}">Subtraction table of 51</a></li>
                <li class="bullet"><a href="{% url 'sub' '52'%}">Subtraction table of 52</a></li>
                <li class="bullet"><a href="{% url 'sub' '53'%}">Subtraction table of 53</a></li>
                <li class="bullet"><a href="{% url 'sub' '54'%}">Subtraction table of 54</a></li>
                <li class="bullet"><a href="{% url 'sub' '55'%}">Subtraction table of 55</a></li>
                <li class="bullet"><a href="{% url 'sub' '56'%}">Subtraction table of 56</a></li>
                <li class="bullet"><a href="{% url 'sub' '57'%}">Subtraction table of 57</a></li>
                <li class="bullet"><a href="{% url 'sub' '58'%}">Subtraction table of 58</a></li>
                <li class="bullet"><a href="{% url 'sub' '59'%}">Subtraction table of 59</a></li>
                <li class="bullet"><a href="{% url 'sub' '60'%}">Subtraction table of 60</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'sub' '61'%}">Subtraction table of 61</a></li>
                <li class="bullet"><a href="{% url 'sub' '62'%}">Subtraction table of 62</a></li>
                <li class="bullet"><a href="{% url 'sub' '63'%}">Subtraction table of 63</a></li>
                <li class="bullet"><a href="{% url 'sub' '64'%}">Subtraction table of 64</a></li>
                <li class="bullet"><a href="{% url 'sub' '65'%}">Subtraction table of 65</a></li>
                <li class="bullet"><a href="{% url 'sub' '66'%}">Subtraction table of 66</a></li>
                <li class="bullet"><a href="{% url 'sub' '67'%}">Subtraction table of 67</a></li>
                <li class="bullet"><a href="{% url 'sub' '68'%}">Subtraction table of 68</a></li>
                <li class="bullet"><a href="{% url 'sub' '69'%}">Subtraction table of 69</a></li>
                <li class="bullet"><a href="{% url 'sub' '70'%}">Subtraction table of 70</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'sub' '71'%}">Subtraction table of 71</a></li>
                <li class="bullet"><a href="{% url 'sub' '72'%}">Subtraction table of 72</a></li>
                <li class="bullet"><a href="{% url 'sub' '73'%}">Subtraction table of 73</a></li>
                <li class="bullet"><a href="{% url 'sub' '74'%}">Subtraction table of 74</a></li>
                <li class="bullet"><a href="{% url 'sub' '75'%}">Subtraction table of 75</a></li>
                <li class="bullet"><a href="{% url 'sub' '76'%}">Subtraction table of 76</a></li>
                <li class="bullet"><a href="{% url 'sub' '77'%}">Subtraction table of 77</a></li>
                <li class="bullet"><a href="{% url 'sub' '78'%}">Subtraction table of 78</a></li>
                <li class="bullet"><a href="{% url 'sub' '79'%}">Subtraction table of 79</a></li>
                <li class="bullet"><a href="{% url 'sub' '80'%}">Subtraction table of 80</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'sub' '81'%}">Subtraction table of 81</a></li>
                <li class="bullet"><a href="{% url 'sub' '82'%}">Subtraction table of 82</a></li>
                <li class="bullet"><a href="{% url 'sub' '83'%}">Subtraction table of 83</a></li>
                <li class="bullet"><a href="{% url 'sub' '84'%}">Subtraction table of 84</a></li>
                <li class="bullet"><a href="{% url 'sub' '85'%}">Subtraction table of 85</a></li>
                <li class="bullet"><a href="{% url 'sub' '86'%}">Subtraction table of 86</a></li>
                <li class="bullet"><a href="{% url 'sub' '87'%}">Subtraction table of 87</a></li>
                <li class="bullet"><a href="{% url 'sub' '88'%}">Subtraction table of 88</a></li>
                <li class="bullet"><a href="{% url 'sub' '89'%}">Subtraction table of 89</a></li>
                <li class="bullet"><a href="{% url 'sub' '90'%}">Subtraction table of 90</a></li>
            </ul>
        </div>
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'sub' '91'%}">Subtraction table of 91</a></li>
                <li class="bullet"><a href="{% url 'sub' '92'%}">Subtraction table of 92</a></li>
                <li class="bullet"><a href="{% url 'sub' '93'%}">Subtraction table of 93</a></li>
                <li class="bullet"><a href="{% url 'sub' '94'%}">Subtraction table of 94</a></li>
                <li class="bullet"><a href="{% url 'sub' '95'%}">Subtraction table of 95</a></li>
                <li class="bullet"><a href="{% url 'sub' '96'%}">Subtraction table of 96</a></li>
                <li class="bullet"><a href="{% url 'sub' '97'%}">Subtraction table of 97</a></li>
                <li class="bullet"><a href="{% url 'sub' '98'%}">Subtraction table of 98</a></li>
                <li class="bullet"><a href="{% url 'sub' '99'%}">Subtraction table of 99</a></li>
                <li class="bullet"><a href="{% url 'sub' '100'%}">Subtraction table of 100</a></li>
                
            </ul>
        </div>
        {% endif %}

        {% if b %}
    
        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'sub' b.0  %}">Subtraction table of {{b.0}}</a></li>
                <li class="bullet"><a href="{% url 'sub' b.1 %}">Subtraction table of {{b.1}}</a></li>
            </ul>
        </div>  
        

        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'sub' b.2 %}">Subtraction table of {{b.2}}</a></li>
                <li class="bullet"><a href="{% url 'sub' b.3 %}">Subtraction table of {{b.3}}</a></li>
            </ul>
        </div>

        
        <div class="col-1-2">
            <ul>    
                <li class="bullet"><a href="{% url 'sub' b.4 %}">Subtraction table of {{b.4}}</a></li>
                <li class="bullet"><a href="{% url 'sub' b.5 %}">Subtraction table of {{b.5}}</a></li>
            </ul>
        </div>

        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'sub' b.6 %}">Subtraction table of {{b.6}}</a></li>
                <li class="bullet"><a href="{% url 'sub' b.7 %}">Subtraction table of {{b.7}}</a></li>
            </ul>
        </div>

        <div class="col-1-2">
            <ul>
                <li class="bullet"><a href="{% url 'sub' b.8 %}">Subtraction table of {{b.8}}</a></li>
                <li class="bullet"><a href="{% url 'sub' b.9 %}">Subtraction table of {{b.9}}</a></li>
            </ul>
        </div>
         
        {% endif %}

    </div>

<script>

    function limit(inp){
        
        if (inp.value > 999 || isNaN(inp.value)){
            alert("Value must be lower than 1000 and must be a digit.");
            return inp.value = "";
        }
    }

    function chk(evt){
        var x = evt.target.parentNode.parentNode.firstChild.innerHTML;
        var y = evt.target.parentNode.parentNode.childNodes[2].innerHTML;
        var z = Number(x)-Number(y);
        var j = evt.target.value;
        
        if (z == j){
            var m = evt.target.style = "background-color:rgb(180, 234, 136); width: 60px;"
            }else{
            var m = evt.target.style = "background-color: red; color: white; width: 60px;"
            }
            
    }

    function wscroll(event){
        if (event.target.value){
            return event.target.value = "";
        }else{
        window.scrollBy({top:51, behavior: "smooth"});
        }
        
    }

    

    function addFields(){

        var arr = [];
    function getRndInteger(min, max) {
        let zx = Math.floor(Math.random() * (max - min + 1) ) + min;
        if (arr.includes(zx)){
            return getRndInteger(min, max);
            }
        else{
            arr.push(zx);
            return zx;
        } 
    }
        
        
        var calcInputs = document.querySelectorAll("input");
        var a = calcInputs[0].value;
        var line = calcInputs[1].value;
        var practice = calcInputs[2];
        var randomOn = calcInputs[3];
        var ranNum = document.getElementById("ranNum");
        var raNnumber = calcInputs[4].value;
        var b = document.getElementById("container");

        while(b.hasChildNodes()){
            b.removeChild(b.lastChild);
        }
    
        var table = document.createElement("table");
        table.width = "100%";
        table.className="tabuada";
        
        b.appendChild(table);
        for (var i=0; i<line; i++){
            var row = document.createElement("tr");
            table.appendChild(row);

            var td1 = document.createElement("td");
            
            if (randomOn.checked == true){
            ranNum.style.display = "block";
            var sum = Number(a) + Number(raNnumber);
            
            var d1 = document.createTextNode(getRndInteger(Number(sum), (Number(sum)+(1.5*Number(line)))));
            td1.appendChild(d1);
            row.appendChild(td1);
            }else{
            ranNum.style.display = "none"; 
            var d1 = document.createTextNode(Number(a)+i+1);
            td1.appendChild(d1);
            row.appendChild(td1);
        }

            var td2 = document.createElement("td");
            var d2 = document.createTextNode("-");
            td2.appendChild(d2);
            row.appendChild(td2);

            var td3 = document.createElement("td");
            var d3 = document.createTextNode(a);
            td3.appendChild(d3);
            row.appendChild(td3);
    
        var td4 = document.createElement("td");
        var d4 = document.createTextNode("=");
        td4.appendChild(d4);
        row.appendChild(td4);
        var td5 = document.createElement("td");
        if (practice.checked == true){
            var d5 = document.createElement("input");
            d5.type = "text";
            d5.value = "";
            d5.style = "width: 60px;"
            td5.appendChild(d5);
            row.appendChild(td5);
            d5.addEventListener("input", chk);
            d5.addEventListener("focus", wscroll);
            
        }else{
            var d5 = document.createTextNode(Number(d1.nodeValue) - Number(a));
            td5.appendChild(d5);
            row.appendChild(td5);
        }
    }
}
    
</script>
		
</body>
{%endblock%}
