{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Sunscreen Calculator</title>
<meta name="description"
    content="Sunscreen Calculator makes it easy for you to Half Life." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Sunscreen Calculator | Free Calculator to find Sunscreen" />
<meta property="og:description" content="Sunscreen Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg"
    property="og:image" />
    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Sunscreen Calculator | Free Calculator to find Sunscreen" />
<meta name="twitter:description"
    content="Sunscreen Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle>Shower Cost Calculator</tittle>
<meta property='og:title' content="Sunscreen Calculator | Sunscreen" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property='og:description' content="Sunscreen Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Sunscreen Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}   

            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Your weight</strong></div>
                        </div>
                        <input type="number" step="0.0001" min="5" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Your weight"  class="form-control" name="W" id="W" {% if W or W == 0 %} value="{{W}}" {% else %} value="60" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="W_op" id="W_op">

                          

                            {% if W_op == 'kg' %}
                            <option value="kg" selected="selected">kilograms (kgs)</option>
                            {% else %}
                            <option value="kg">kilograms (kgs)</option>
                            {% endif %}

                            {% if W_op == 'lb' %}
                            <option value="lb" selected="selected">pounds (lbs)</option>
                            {% else %}
                            <option value="lb">pounds (lbs)</option>
                            {% endif %}


                            

                        </select>
                    </div>


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Your height</strong></div>
                        </div>
                        <input type="number" step="0.001" min="2" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter Your height"  class="form-control" name="H" id="H" {% if H or H == 0 %} value="{{H}}" {% else %} value="105" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="H_op" id="H_op">

                          

                            {% if H_op == 'cm' %}
                            <option value="cm" selected="selected">centimeters (cm)</option>
                            {% else %}
                            <option value="cm">centimeters (cm)</option>
                            {% endif %}

                            {% if H_op == 'mtr' %}
                            <option value="mtr" selected="selected">meters (m)</option>
                            {% else %}
                            <option value="mtr">meters (m)</option>
                            {% endif %}


                            {% if H_op == 'in' %}
                            <option value="in" selected="selected">inches (in)</option>
                            {% else %}
                            <option value="in">inches (in)</option>
                            {% endif %}

                            {% if H_op == 'ft' %}
                            <option value="ft" selected="selected">feet (ft)</option>
                            {% else %}
                            <option value="ft">feet (ft)</option>
                            {% endif %}

                        </select>
                    </div>




                    

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Clothes besides a swimsuit?</strong></div>
                        </div>
                        <select class="select form-control" id="inlineFormInputGroup" name="upr" id="upr">

                          

                            {% if upr == 'No' %}
                            <option value="No" selected="selected">No</option>
                            {% else %}
                            <option value="No">No</option>
                            {% endif %}

                            {% if upr == 'Longsleeve' %}
                            <option value="Longsleeve" selected="selected">Longsleeve Shirt</option>
                            {% else %}
                            <option value="Longsleeve">Longsleeve Shirt</option>
                            {% endif %}


                            {% if upr == 'Sleeveless' %}
                            <option value="Sleeveless" selected="selected">Sleeveless Shirt</option>
                            {% else %}
                            <option value="Sleeveless">Sleeveless Shirt</option>
                            {% endif %}

                            {% if upr == 'T-Shirt' %}
                            <option value="T-Shirt" selected="selected">T-Shirt</option>
                            {% else %}
                            <option value="T-Shirt">T-Shirt</option>
                            {% endif %}

                        </select>
                        <div class="input-group-text"><strong>Upper</strong></div>

                        <select class="select form-control" id="inlineFormInputGroup" name="lwr" id="lwr">

                          

                            {% if lwr == 'No' %}
                            <option value="No" selected="selected">No</option>
                            {% else %}
                            <option value="No">No</option>
                            {% endif %}

                            {% if lwr == 'Shorts' %}
                            <option value="Shorts" selected="selected">Shorts/mini skirt</option>
                            {% else %}
                            <option value="Shorts">Shorts/mini skirt</option>
                            {% endif %}


                            {% if lwr == 'Long' %}
                            <option value="Long" selected="selected">Long pants/long skirt</option>
                            {% else %}
                            <option value="Long">Long pants/long skirt</option>
                            {% endif %}

                            {% if lwr == 'Midi' %}
                            <option value="Midi" selected="selected">Midi pants/midi skirt</option>
                            {% else %}
                            <option value="Midi">Midi pants/midi skirt</option>
                            {% endif %}

                        </select>
                        <div class="input-group-text"><strong>Lower</strong></div> 
                    </div>
   

                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1" value="data">Calculate</button>
                            <button type="button" onclick="myFunction();" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if f1 %}
    
    <div class="card" id="Results">
        <div class="card-header">
            <h2 class="h2">Results</h2>
        </div>
        
        
        <div class="card-body"> <span>
            <strong>Formulas Used:</strong><br>
            
            <p class="btn btn-outline-secondary active">Total Body Area (cm<sup>2</sup>)&nbsp; = &nbsp;(71.84 * (Height<sup> 0.725</sup>cm) * (Weight<sup>0.425</sup>kg))</p><br>
            <p class="btn btn-outline-secondary active">Sunscreen in ml&nbsp; = &nbsp;((2 * Total Body Area) * 0.001)</p><br><br>
            
            <h3><strong><span style="color: blue;">Total Sunscreen required:&nbsp;&nbsp;&nbsp;</span>&nbsp;{{TBA|floatformat:"-1"}}&nbsp;ml&nbsp;({{TS|floatformat:"-1"}}&nbsp;teaspoons) </strong></h3>

            <p>Reapply sunscreen after every bath and toweling off, after heavy sweating, or simply - every other hour. Only frequent application in the count amount (2mg/cm2 of the skin) guarantees sun protection as declared on the package.</p>
            <p> <strong> *Note - No sunscreen provides 100% protection</strong></p>
            <h1></h1>
        </div>
        

    </div>
    {% endif %}
</div>




<script>
    
    
     
    var scrollDiv = document.getElementById("clear").offsetTop;
    console.log(scrollDiv)
    
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
</script>


<script>
    
    
    
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }


    
    
    
        function myFunction() {

                document.getElementsByName("W")[0].value = "";
                document.getElementsByName("H")[0].value = "";
                
                document.getElementById("clear").innerHTML = "";
            }
    </script>
    <br>
    
    
    {% endblock %} 