{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Volumetric Weight Calculator | Free Volumetric Weight Calculator</title>
<meta name="description"
    content="Half Life Calculator makes it easy for you to Half Life." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta property="og:description" content="Half Life Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg"
    property="og:image" />
    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Volumetric Weight Calculator</tittle>
<meta property='og:title' content="Half Life Calculatorr | Half Life" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property='og:description' content="Half Life Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Volumetric Weight Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}   

            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Unit of Measurement:</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Inch </option>
                            {% else %}
                            <option value="form1"> Inch  </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> Cm
                            </option>
                            {% else %}
                            <option value="form2">Cm</option>
                            {% endif %}


                            

                        </select>
                    </div>

                    

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong> Pieces (no. of items): </strong></div>
                        </div>
                        <input type="number" min="0.1" step="0.1" oninput="validateNumber(this);" id="P" required=""
                           placeholder="Enter positive number greater than 0"  class="form-control mt-1" name="P" {% if P1 %} value="{{P1}}" {%else%}   value="" {% endif %}>
                    </div>

                    {% if given_data == "form1" or "form2" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Width:</strong> </div>
                        </div>
                        <input type="number" step="0.001" oninput="validateNumber(this);" id="W" required=""
                           placeholder="Enter Width"  class="form-control mt-1" name="W" {% if W1 %} value="{{W1}}" {% else %} value="" {% endif %}>

                    </div>
                    {% endif %} 

                    


                  {% if given_data == "form1" or "form2" %}  
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Length:</strong></div>
                        </div>
                           <input type="number" step="0.001" id="L" oninput="validateNumber(this);" required=""placeholder="Enter Length"  class="form-control mt-1" name="L" {% if L1 %} value="{{L1}}" {% else %} value="" {% endif %}>
                    </div>
                  {%endif%}  

                  {% if given_data == "form1" or "form2" %}  
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Height:</strong></div>
                        </div>

                          <input type="number" step="0.001" id="H" oninput="validateNumber(this);" required=""
                           placeholder="Enter Height"  class="form-control mt-1" name="H" {% if H1 %} value="{{H1}}" {% else %} value="" {% endif %}>
                        </div>
                  {%endif%} 
                

                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if P1 %}
    <div class="card" id="Volumetric Weight">
        <div class="card-header">
            <h2 class="h2">Steps to Find Volumetric Weight</h2>
        </div>

        <div class="card-body">

            <strong>Formula</strong>
            {% if given_data == "form2" %}
            <br>
            <p class="btn btn-outline-secondary active"> Volumetric Weight (Kilograms) = [Width x Length x Height] / 6000 (Centimeters)</p>
            <br>
            {% endif %}

            {% if given_data == "form1" %}
            <br>
            <p class="btn btn-outline-secondary active"> Volumetric Weight (Kilograms) = [Width x Length x Height] / 366 (Inches)</p>
            <br>
            {% endif %}
            

            <strong>Input values are:-</strong>
            
            <p>Total Pieces = {{P1}} </p>
            <p>Width = {{W1}} </p>
            <p>Length = {{L1}} </p>
            <p>Height = {{H1}} </p>
            

            <p><strong>Total Vol. Weight (Kg) : {{TVM|floatformat:"-5"}}</strong></p>
            <strong>Vol. Weight per piece (Kg) : {{VM|floatformat:"-5"}}</strong>
            </div>

    </div>
    {% endif %}
</div>



<script>
    
    {% if id == 1 %}
     
    var scrollDiv = document.getElementById("clear").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    {%endif%}
    
        
    {% if id == 2 %}
     
    var scrollDiv = document.getElementById("my_form1").offsetTop;
    window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
    
    {%endif%}
    
    
        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
        var fist_input = document.getElementById("inlineFormInputGroup").value;
        function validateNumber(elem) {
            console.log(elem)
            if (validNumber.test(elem.value)) {
                fist_input = elem.value;
            } else {
                elem.value = fist_input;
            }
        }
    </script>
    
    <script>
        function myFunction() {
    
            {% if given_data == "form1" %}
    
                document.getElementsByName("P")[0].value = "";
                document.getElementsByName("W")[0].value = "";
                document.getElementsByName("L")[0].value = "";
                document.getElementsByName("H")[0].value = "";

               
                document.getElementById("clear").innerHTML = "";
    
            {% endif %}
    
            {% if given_data == "form2" %}
    
                document.getElementsByName("P")[0].value = "";
                document.getElementsByName("W")[0].value = "";
                document.getElementsByName("L")[0].value = "";
                document.getElementsByName("H")[0].value = "";

               
                document.getElementById("clear").innerHTML = "";

    
            {% endif %}
    
            
    
            
    
    
    
        }
    </script>
    <br>
    
    
    {% endblock %}